cafe.Run:               Group(Hist1DBefore),Timer(t_total),Group(Hist1DAfter),Group(Hist1DAftersig1),Group(Hist1DAftersig2)

t_total.Run:            Timer(t_start),Timer(t_calc),Timer(t_end)

t_start.Run:            cafTriggerEfficiency(mycaftrig)
t_calc.Run:             Group(Muw_w_l2m3_trk10)
t_end.Run:              cafTriggerOutput(mycaftrig)

cafe.Packages:          eff_utils caf_trigger
cafe.Output:            d0evtwt.root
cafe.Input:             d0tmba_p18.01.00_zmumu_reco_tsim_mc.root
cafe.Progress:          20
cafe.Events:            10000

mycaftrig.Run:          cafTriggerEfficiency(mycaftrig),Group(Muw_w_l2m3_trk10),cafTriggerOutput(mycaftrig)
mycaftrig.embranch:     TurnOff
mycaftrig.mubranch:     Muon
mycaftrig.jetbranch:    TurnOff
mycaftrig.lumi:         1.
mycaftrig.triglist:     0
mycaftrig.histos:       Muw_w_l2m3_trk10_L1,Muw_w_l2m3_trk10_L2,Muw_w_l2m3_trk10_L3
mycaftrig.histosBins:   50

#Specifies the channel to put into the event as "_globalWeightKey"
mycaftrig.globalWeight: Muw_w_l2m3_trk10_L1

Muw_w_l2m3_trk10.Run:       probMuw_w_l2m3_trk10_L1(Muw_w_l2m3_trk10),probMuw_w_l2m3_trk10_L2(Muw_w_l2m3_trk10),probMuw_w_l2m3_trk10_L3(Muw_w_l2m3_trk10),probMuw_w_l2m3_trk10_combine(Muw_w_l2m3_trk10)
Muw_w_l2m3_trk10.combine:   Muw_w_l2m3_trk10_L1,Muw_w_l2m3_trk10_L2,Muw_w_l2m3_trk10_L3
Muw_w_l2m3_trk10.sigma:     true

Hist1DBefore.Run:       Hist1D(Hist1DBefore)
Hist1DBefore.Title:     "Muon.pt before"
Hist1DBefore.Bins:      50 15 75
Hist1DBefore.Draw:      Muon.Pt()
Hist1DBefore.Weight:    1.0

Hist1DAfter.Run:        Hist1D(Hist1DAfter)
Hist1DAfter.Title:      "Muon.pt after"
Hist1DAfter.Bins:       50 15 75
Hist1DAfter.Draw:       Muon.Pt()
Hist1DAfter.Weight:     caf_triggerWeight Muw_w_l2m3_trk10_combine

Hist1DAftersig1.Run:        Hist1D(Hist1DAftersig1)
Hist1DAftersig1.Title:      "Muon.pt after Sigma +1"
Hist1DAftersig1.Bins:       50 15 75
Hist1DAftersig1.Draw:       Muon.Pt()
Hist1DAftersig1.Weight:     caf_triggerWeight Muw_w_l2m3_trk10_combine Sigmas: +1

Hist1DAftersig2.Run:        Hist1D(Hist1DAftersig2)
Hist1DAftersig2.Title:      "Muon.pt after Sigma -1"
Hist1DAftersig2.Bins:       50 15 75
Hist1DAftersig2.Draw:       Muon.Pt()
Hist1DAftersig2.Weight:     caf_triggerWeight Muw_w_l2m3_trk10_combine Sigmas: -1
