cafe.Run:               Group(Hist1DBefore),Group(mycaftrig),Group(Hist1DAfter),Group(Hist1DAftersig1),Group(Hist1DAftersig2)

cafe.Packages:          eff_utils caf_trigger
cafe.Output:            d0evtwt.root
cafe.Input:             d0tmba_p18.01.00_zee_reco_tsim_mc.root
cafe.Progress:          200
#cafe.Events:            100

mycaftrig.Run:          cafTriggerEfficiency(mycaftrig),probTestEffUtil(mycaftrig),cafTriggerOutput(mycaftrig)
mycaftrig.embranch:     EMscone
mycaftrig.mubranch:     Muons
mycaftrig.jetbranch:    JCCA
mycaftrig.sigma:        true
#mycaftrig.lumi:         11.,35.,50.
#mycaftrig.triglist:     v11,v12,v13
mycaftrig.lumi:        1.
mycaftrig.triglist:    8
mycaftrig.histos:
mycaftrig.histosBins:   20

#Specifies the channel to put into the event as "_globalWeightKey"
mycaftrig.globalWeight: TopElectron

Hist1DBefore.Run:       Hist1D(Hist1DBefore)
Hist1DBefore.Title:     "EM.pt before"
Hist1DBefore.Bins:      50 -2.7 2.7
Hist1DBefore.Draw:      EMscone.Eta()
Hist1DBefore.Weight:    1.0

Hist1DAfter.Run:        Hist1D(Hist1DAfter)
Hist1DAfter.Title:      "EM.pt after"
Hist1DAfter.Bins:       50 -2.7 2.7
Hist1DAfter.Draw:       EMscone.Eta()
Hist1DAfter.Weight:     caf_triggerWeight TestEffUtil

Hist1DAftersig1.Run:        Hist1D(Hist1DAftersig1)
Hist1DAftersig1.Title:      "EM.pt after Sigma +1"
Hist1DAftersig1.Bins:       50 -2.7 2.7
Hist1DAftersig1.Draw:       EMscone.Eta()
Hist1DAftersig1.Weight:     caf_triggerWeight TestEffUtil Sigmas: 1

Hist1DAftersig2.Run:        Hist1D(Hist1DAftersig2)
Hist1DAftersig2.Title:      "EM.pt after Sigma -1"
Hist1DAftersig2.Bins:       50 -2.7 2.7
Hist1DAftersig2.Draw:       EMscone.Eta()
Hist1DAftersig2.Weight:     caf_triggerWeight TestEffUtil Sigmas: -1
