#
# Cafe config file for the DataQualityChecker package
#
# created S. Kappler     - Dec 2005
# updated A.M.Jonckheere - Sep 2007
#
cafe.Run: CafeDataQualityProcessor(myCafeDataQualityProcessor)
cafe.Packages: cafe dq_util caf_dq 

cafe.Input: /prj_root/1171/b_id/MC/p17/fixed/d0correct_p18.03.00/caf/23529/caf23529-p18.03.00-maxopt-Linux-1514892/TMBfix-copyd0om_p17.06.02_NumEv-0_dzero_mcp17_ccin2p3_23529_40459079744262005270154326_p17.08.01.root
cafe.Events: 1000

myCafeDataQualityProcessor.dqdef: dq_defs/common/example.dqdef
myCafeDataQualityProcessor.lumi.badlbns: 
myCafeDataQualityProcessor.mode: MonteCarlo
