#
# Cafe config file for the DataQualityChecker package
#
# created S. Kappler     - Dec 2005
# updated A.M.Jonckheere - Sep 2007
#
cafe.Run: CafeDataQualityProcessor(myCafeDataQualityProcessor)
cafe.Packages: cafe dq_util caf_dq 

cafe.Input: /prj_root/1171/b_id/data/p17/fixed/d0correct_p18.03.00/caf/BID/cafbid-p18.03.00-maxopt-Linux-1445295/BID_CSskim-MUinclusive-20051010-105109-1399068.fix_p17.07.01.root
cafe.Events: 1000

myCafeDataQualityProcessor.dqdef: dq_defs/common/example.dqdef
myCafeDataQualityProcessor.lumi.badlbns: 
myCafeDataQualityProcessor.mode: Data
