###################################################
#
# Example cafe.config file producing lots of
# standard histograms for various physics objects.
# 
###################################################

######################
#
# Top Level
#
######################

cafe.Run:       Group(em)  Group(muon) Group(jets) Group(tracks) Group(met) 
cafe.Input:     file:input.root
cafe.Output:	output.root
cafe.Events:    0
# cafe.Packages:  met_util tmb_tree

#####################################
#
# Helper: Basic variables
# for all TMBLorentzVector objects
#
#####################################

basic_histos.Run:    Hist1D(basic_pt) Hist1D(basic_eta) Hist1D(basic_phi) Hist1D(basic_px) Hist1D(basic_py) Hist1D(basic_pz) Hist1D(basic_e)

basic_pt.Draw:  %{Object}.Pt()
basic_pt.Bins:  100 0.0 100.0

basic_eta.Draw:	%{Object}.Eta()
basic_eta.Bins: 100 -5.0 5.0

basic_phi.Draw:	%{Object}.Phi()
basic_phi.Bins: 64 0.0 6.4

basic_px.Draw:	%{Object}.Px()
basic_px.Bins:   200 -100.0 100.0

basic_py.Draw:	%{Object}.Py()
basic_py.Bins:   200 -100.0 100.0

basic_pz.Draw:	%{Object}.Pz()
basic_pz.Bins:   200 -100.0 100.0

basic_e.Draw:	%{Object}.E()
basic_e.Bins:   100 0.0 100.0


######################
#
# EM particles
#
#####################

em.Run:		Group(cellnn) Group(scone)  

################
# EM scone
###############

scone.Run:	 Group(basic_histos) Group(em_histos)
scone.Object:	 EMscone
scone.Directory: EMScone

################
# EM CellNN
###############

cellnn.Run:	  Group(basic_histos) Group(em_histos)
cellnn.Object:	  EMcnn
cellnn.Directory: EMCellNN


em_histos.Run:    Hist1D(em_euncorr) Hist1D(em_id) Hist1D(em_isoCore) Hist1D(em_numCPS) Hist1D(em_numFPS) Hist1D(em_scalarEt) Hist1D(em_hmx7) Hist1D(em_hmx8) Hist1D(em_ncells) Hist1D(em_calE) Hist1D(em_calPhi)  Hist1D(em_calEta) Hist1D(em_sigE) Hist1D(em_CPSchi2best) Hist1D(em_lhoodiso8) Hist1D(em_lhood8) Hist1D(em_ntracks) Hist1D(em_bestPSz) Hist1D(em_hascpsmatch)  Hist1D(em_iso) Hist1D(em_emf) 
#Hist1D(em_N)

# this works only with root v4.02
em_N.Draw:   Length$(%{Object})
em_N.Bins:   20 0 20

em_euncorr.Draw:  %{Object}.uncorrE()
em_euncorr.Bins:  100 0.0 100.0

em_id.Draw:  %{Object}.id()
em_id.Bins:  -20 20 40

em_isoCore.Draw:  %{Object}.EisoCore()
em_isoCore.Bins:  400 0.0 400.0

em_numCPS.Draw:  %{Object}.nb_CPS()
em_numCPS.Bins:  50 0 50

em_numFPS.Draw:  %{Object}.nb_FPS()
em_numFPS.Bins:  50 0 50

em_scalarEt.Draw:  %{Object}.EMScalarEt()
em_scalarEt.Bins:  100 0. 100.

em_hmx7.Draw:  %{Object}.HMx7()
em_hmx7.Bins:  200 0. 200.

em_hmx8.Draw:  %{Object}.HMx8()
em_hmx8.Bins:  200 0. 200.

em_ncells.Draw:  %{Object}.ncells()
em_ncells.Bins:  100 0. 100.

em_calE.Draw:  %{Object}.CalE()
em_calE.Bins:  100 0. 100.

em_calPhi.Draw:  %{Object}.CalPhi()
em_calPhi.Bins:  64 0. 6.4

em_calEta.Draw:  %{Object}.CalEta()
em_calEta.Bins:  100 -5. 5.

em_sigE.Draw:  %{Object}.sigE()
em_sigE.Bins:  100 0. 100.

em_CPSchi2best.Draw:  %{Object}.CPSChi2MatchBest()
em_CPSchi2best.Bins:  100 0. 100.

em_lhoodiso8.Draw:  %{Object}.LhoodIso8()
em_lhoodiso8.Bins:  100 0. 100.

em_lhood8.Draw:  %{Object}.Lhood8()
em_lhood8.Bins:  100 0. 100.

em_ntracks.Draw:  %{Object}.nChPart()
em_ntracks.Bins:  100 0. 100.

em_bestPSz.Draw:  %{Object}.bestPSz()
em_bestPSz.Bins:  100 0. 100.

em_hascpsmatch.Draw: %{Object}.has_cps_match()
em_hascpsmatch.Bins: 4 0 4

em_bestcpsmatch.Draw: %{Object}.bestcps_match_chi2()
em_bestcpsmatch.Bins: 100 0. 100.

em_iso.Draw:	%{Object}.iso()
em_iso.Bins: 100 0.0 2.0

em_emf.Draw:	%{Object}.EMfrac()
em_emf.Bins: 100 0.0 1.0


############################
#
# Muons
#
###########################

muon.Run:  Group(basic_histos)  Group(muon_type_histos) Group(muon_global) Group(muon_central) Group(muon_centralcorr) Group(muon_local) Group(muon_localcorr) Group(muon_smeared) Hist1D(muon_nseg)  Hist1D(muon_nhit) Hist1D(muon_nmtc)
muon.Directory: Muons
muon.Object:    Muon

muon_nseg.Draw: Muon.nseg()
muon_nseg.Bins: 20 -4.0 4.0

muon_nhit.Draw: Muon.nhit()
muon_nhit.Bins: 20 0. 20.

muon_nmtc.Draw: Muon.nmtc()
muon_nmtc.Bins: 20 0. 20.

muon_global.Run:	Group(basic_histos) Group(muon_type_histos)
muon_global.Directory:	Global
muon_global.Object:	Muon.Global()

muon_central.Run:	Group(basic_histos) Group(muon_type_histos)
muon_central.Directory:	Central
muon_central.Object:	Muon.Central()

muon_centralcorr.Run:	Group(basic_histos) Group(muon_type_histos)
muon_centralcorr.Directory:	CentralCorr
muon_centralcorr.Object:	Muon.CentralCorr()

muon_local.Run:		Group(basic_histos) Group(muon_type_histos)
muon_local.Directory:	Local
muon_local.Object:	Muon.Local()

muon_localcorr.Run:	Group(basic_histos) Group(muon_type_histos)
muon_localcorr.Directory: LocalCorr
muon_localcorr.Object:	  Muon.LocalCorr()

muon_smeared.Run:	Group(basic_histos) Group(muon_type_histos)
muon_smeared.Directory: SmearedMC
muon_smeared.Object:	Muon.SmearedMC()

muon_type_histos.Run:	Hist1D(muon_type_charge) Hist1D(muon_type_tlm)

muon_type_charge.Draw:	%{Object}.charge()
muon_type_charge.Bins:  4 -2.0 2.0

muon_type_tlm.Draw:	%{Object}.tlm()
muon_type_tlm.Bins:  	100 -10.0 10.0

############################
#
# Jets
#
###########################

jets.Run:  Group(jcca) Group(jccb)

##########
# JCCA
#########

jcca.Run:   Group(basic_histos) Group(jet_histos)
jcca.Directory: JCCA
jcca.Object:	JCCA

##########
# JCCB
#########

jccb.Run:   Group(basic_histos) Group(jet_histos)
jccb.Directory: JCCB
jccb.Object:    JCCB

#########################
# Common jet histograms
########################

jet_histos.Run:  Hist1D(jet_charge) Hist1D(jet_dphi) Hist1D(jet_detPhi) Hist1D(jet_deta) Hist1D(jet_detEta) Hist1D(jet_emf) Hist1D(jet_emETfraction) Hist1D(jet_em1f) Hist1D(jet_em2f) Hist1D(jet_em3f) Hist1D(jet_ccmg) Hist1D(jet_icdf) Hist1D(jet_ecmg) Hist1D(jet_icrf) Hist1D(jet_fh1f) Hist1D(jet_fh2f) Hist1D(jet_fh3f) Hist1D(jet_chf) Hist1D(jet_chETfraction) Hist1D(jet_emcc) Hist1D(jet_hadcc) Hist1D(jet_emec) Hist1D(jet_hadec) Hist1D(jet_hot) Hist1D(jet_hotcellratio) Hist1D(jet_mxET) Hist1D(jet_cpsE) Hist1D(jet_etaW) Hist1D(jet_phiW) Hist1D(jet_sET) Hist1D(jet_vPT) Hist1D(jet_iPT) Hist1D(jet_seedET) Hist1D(jet_ntrk) Hist1D(jet_nps) Hist1D(jet_Nitems) Hist1D(jet_n90) Hist1D(jet_split_merge_word) Hist1D(jet_Ntr) Hist1D(jet_em4f) Hist1D(jet_mgf) Hist1D(jet_L1_energy) Hist1D(jet_JES_C) Hist1D(jet_JES_dC_stat) Hist1D(jet_JES_dC_sys) Hist1D(jet_JES_metC) Hist1D(jet_JES_metdC_stat) Hist1D(jet_JES_metdC_sys) 

jet_charge.Draw: JCCA.charge()
jet_charge.Bins: 20 -10. 10.0

jet_dphi.Draw:   JCCA.dphi() 
jet_dphi.Bins: 64 0. 6.4   

jet_detPhi.Draw: JCCA.detPhi()  
jet_detPhi.Bins: 64 0. 6.4   

jet_deta.Draw:   JCCA.deta()    
jet_deta.Bins: 100 -5. 5.

jet_detEta.Draw: JCCA.detEta()  
jet_detEta.Bins: 100 -5. 5.

jet_emf.Draw:    JCCA.emf()
jet_emf.Bins:    100 0. 1.0

jet_emETfraction.Draw: JCCA.emETfraction()  
jet_emETfraction.Bins:    100 0. 1.0

jet_em1f.Draw: JCCA.em1f()    
jet_em1f.Bins:    100 0. 1.0

jet_em2f.Draw: JCCA.em2f()    
jet_em2f.Bins:    100 0. 1.0

jet_em3f.Draw: JCCA.em3f()    
jet_em3f.Bins:    100 0. 1.0

jet_ccmg.Draw: JCCA.ccmg()
jet_ccmg.Bins:    100 0. 1.0

jet_icdf.Draw: JCCA.icdf()    
jet_icdf.Bins:    100 0. 1.0

jet_ecmg.Draw: JCCA.ecmg()  
jet_ecmg.Bins:    100 0. 1.0  

jet_icrf.Draw: JCCA.icrf()  
jet_icrf.Bins:    100 0. 1.0  

jet_fh1f.Draw: JCCA.fh1f()  
jet_fh1f.Bins:    100 0. 1.0  

jet_fh2f.Draw: JCCA.fh2f()  
jet_fh2f.Bins:    100 0. 1.0  

jet_fh3f.Draw: JCCA.fh3f()  
jet_fh3f.Bins:    100 0. 1.0  

jet_chf.Draw:  JCCA.chf()   
jet_chf.Bins:    100 0. 1.0
  
jet_chETfraction.Draw: JCCA.chETfraction()  
jet_chETfraction.Bins:    100 0. 1.0

jet_emcc.Draw:  JCCA.emcc()    
jet_emcc.Bins:    100 0. 1.0

jet_hadcc.Draw: JCCA.hadcc()   
jet_hadcc.Bins:    100 0. 1.0

jet_emec.Draw:  JCCA.emec()    
jet_emec.Bins:    100 0. 1.0

jet_hadec.Draw: JCCA.hadec()   
jet_hadec.Bins:    100 0. 1.0

jet_hot.Draw:   JCCA.hot()     
jet_hot.Bins:    100 0. 100.0

jet_hotcellratio.Draw: JCCA.hotcellratio() 
jet_hotcellratio.Bins:    100 0. 1.0

jet_mxET.Draw: JCCA.mxET()
jet_mxET.Bins:    100 0. 100.0

jet_cpsE.Draw: JCCA.cpsE()    
jet_cpsE.Bins:    100 0. 100.0

jet_etaW.Draw: JCCA.etaW()    
jet_etaW.Bins:    100 0. 100.0

jet_phiW.Draw: JCCA.phiW()
jet_phiW.Bins:    100 0. 100.0

jet_sET.Draw: JCCA.sET()     
jet_sET.Bins:    100 0. 100.0

jet_vPT.Draw: JCCA.vPT()     
jet_vPT.Bins:    100 0. 100.0

jet_iPT.Draw: JCCA.iPT()     
jet_iPT.Bins:    100 0. 100.0

jet_seedET.Draw: JCCA.seedET()  
jet_seedET.Bins:    100 0. 100.0

jet_ntrk.Draw:   JCCA.ntrk()  
jet_ntrk.Bins:    100 0. 100.0
  
jet_nps.Draw:    JCCA.nps()   
jet_nps.Bins:    100 0. 100.0
  
jet_Nitems.Draw: JCCA.Nitems()  
jet_Nitems.Bins:    100 0. 100.0

jet_n90.Draw:    JCCA.n90()     
jet_n90.Bins:    100 0. 100.0

jet_split_merge_word.Draw: JCCA.split_merge_word()
jet_split_merge_word.Bins:    100 0. 100.0
    
jet_Ntr.Draw:    JCCA.Ntr()
jet_Ntr.Bins:    100 0. 100.0

jet_em4f.Draw:        JCCA.em4f()
jet_em4f.Bins:    100 0. 1.0

jet_mgf.Draw:         JCCA.mgf() 
jet_mgf.Bins:    100 0. 1.0

jet_L1_energy.Draw:   JCCA.L1_energy() 
jet_L1_energy.Bins:    100 0. 100.0

jet_JES_C.Draw:    JCCA.JES_C()
jet_JES_C.Bins:    100 0. 100.0

jet_JES_dC_stat.Draw: JCCA.JES_dC_stat() 
jet_JES_dC_stat.Bins:    100 0. 100.0

jet_JES_dC_sys.Draw:  JCCA.JES_dC_sys()  
jet_JES_dC_sys.Bins:    100 0. 100.0

jet_JES_metC.Draw:    JCCA.JES_metC()       
jet_JES_metC.Bins:    100 0. 100.0

jet_JES_metdC_stat.Draw: JCCA.JES_metdC_stat() 
jet_JES_metdC_stat.Bins:    100 0. 100.0

jet_JES_metdC_sys.Draw:  JCCA.JES_metdC_sys()  
jet_JES_metdC_sys.Bins:    100 0. 100.0



################################
#
# Missing ET
#
################################

met.Run:	Hist1D(met_MET)
met.Directory:  MissingET

met_MET.Draw:	Met.get_MET()
met_MET.Bins:   100 0. 100.

###############################
#
# Tracks
#
###############################

tracks.Run:     Group(basic_histos) Hist1D(tracks_charge) Hist1D(tracks_chi2Ndf) Hist1D(tracks_smtdedx) Hist1D(tracks_rms_smtdedx) Hist1D(tracks_bz) Hist1D(tracks_rdca) Hist1D(tracks_z) Hist1D(tracks_phidir) Hist1D(tracks_tanl) Hist1D(tracks_qpt) Hist1D(tracks_xdca) Hist1D(tracks_ydca) Hist1D(tracks_x) Hist1D(tracks_y)  Hist1D(tracks_nhit) Hist1D(tracks_ncft) Hist1D(tracks_nsmt) 
tracks.Directory:  Tracks
tracks.Object:	   Track

tracks_pt.Draw:	Track.Pt()
tracks_pt.Bins: 100 0. 100.

tracks_eta.Draw:	Track.Eta()
tracks_eta.Bins: 100 -5. 5.

tracks_phi.Draw:	Track.Phi()
tracks_phi.Bins: 64 0. 6.4

tracks_px.Draw:	Track.Px()
tracks_px.Bins:   200 -100. 100.

tracks_py.Draw:	Track.Py()
tracks_py.Bins:   200 -100. 100.

tracks_pz.Draw:	Track.Pz()
tracks_pz.Bins:   200 -100. 100.


tracks_charge.Draw: Track.charge()
tracks_charge.Bins: 4 -2 2

tracks_chi2Ndf.Draw: Track.getChi2Ndf()
tracks_chi2Ndf.Bins: 100 0. 100.

tracks_smtdedx.Draw: Track.get_smtdedx()
tracks_smtdedx.Bins: 100 0. 100.

tracks_rms_smtdedx.Draw: Track.getrms_smtdedx()
tracks_rms_smtdedx.Bins: 100 0. 100.

tracks_bz.Draw: Track.bz()
tracks_bz.Bins: 100 0. 100.

tracks_rdca.Draw: Track.rdca()
tracks_rdca.Bins: 100 0. 10.

tracks_z.Draw: Track.z()
tracks_z.Bins: 100 -100. 100.

tracks_phidir.Draw: Track.phid()
tracks_phidir.Bins: 64 0. 6.4

tracks_tanl.Draw: Track.tlm()
tracks_tanl.Bins: 100 0. 20.

tracks_qpt.Draw: Track.qpt()
tracks_qpt.Bins: 100 0. 1.

tracks_xdca.Draw: Track.xdca()
tracks_xdca.Bins: 100 0. 50

tracks_ydca.Draw: Track.ydca()
tracks_ydca.Bins: 100 0. 50.

tracks_x.Draw: Track.x()
tracks_x.Bins: 200 -10. 100.

tracks_y.Draw: Track.y()
tracks_y.Bins: 200 -10. 100.

#tracks_ps_x.Draw: Track.ps_position()[0]
#tracks_ps_x.Bins:  200 -100. 100.

# tracks_ps_y.Draw: Track.ps_position()[1]
#tracks_ps_y.Bins:  200 -100. 100.

#tracks_ps_px.Draw: Track.ps_momentum()[0]
#tracks_ps_px.Bins:  200 -100. 100.

#tracks_ps_py.Draw: Track.ps_momentum()[1]
#tracks_ps_py.Bins:  200 -100. 100.

tracks_nhit.Draw:  Track.nhit()
tracks_nhit.Bins:  30 0 30

tracks_ncft.Draw:  Track.ncft()
tracks_ncft.Bins:  20 0 20

tracks_nsmt.Draw:  Track.nsmt()
tracks_nsmt.Bins:  10 0 10

