############# Trigger Group ##########################
TopEJetsTrigger.Run:          cafTriggerEfficiency(TopEJetsTrigger),Group(TopEJets),cafTriggerOutput(TopEJetsTrigger)
TopEJetsTrigger.embranch:     %{caf_trigger.embranch}
TopEJetsTrigger.mubranch:     %{caf_trigger.mubranch}
TopEJetsTrigger.jetbranch:    %{caf_trigger.jetbranch}
TopEJetsTrigger.metbranch:    %{caf_trigger.metbranch}
TopEJetsTrigger.lumi:	      4.89,21.5,9.22,55.26,199.22,47.12,314.9,214.03
TopEJetsTrigger.triglist:     8,9,10,11,12,13a,13b,14
TopEJetsTrigger.histos:       TopEJets_L1,TopEJets_L2,TopEJets_L3,TriggerProbability
TopEJetsTrigger.histosBins:   120
TopEJetsTrigger.globalWeight: TriggerProbability
######################################################

############# Trigger Definition #####################
TopEJets.Run: 			Probability_TopEJets_L1(TopEJets),Probability_TopEJets_L2(TopEJets),Probability_TopEJets_L3(TopEJets),TriggerProbability(TopEJets)
TopEJets.CombineL1L2L3:		TopEJets_L1,TopEJets_L2,TopEJets_L3
TopEJets.TriggerVersions:	8,9,10,11,12,13a,13b,14
TopEJets.Debug:			no
TopEJets.IncludeJets:		no
TopEJets.IncludeElectronEC:	no
TopEJets.ElectronPath:		./caf_trigger/parameters/top_trigger
TopEJets.JetPath:		./caf_trigger/parameters/top_trigger


#
# Trigger Version 8
#
TopEJets.Level1ElectronEffName_8_CC:		emid_L1CEM_1_10_CC_v8
TopEJets.Level1ElectronEffVarNames_8_CC:	pt
TopEJets.Level2ElectronEffName_8_CC:		emid_L2EM_1_10_CC_v8
TopEJets.Level2ElectronEffVarNames_8_CC:	pt
TopEJets.Level3ElectronEffName_8_CC:		emid_L3ELE_SH_1_15_CC_v8
TopEJets.Level3ElectronEffVarNames_8_CC:	pt
TopEJets.Level3ElectronEffName_8_CC_T15:	emid_L3ELE_SH_1_15_CC_v8
TopEJets.Level3ElectronEffVarNames_8_CC_T15:	pt
TopEJets.Level3ElectronEffName_8_CC_T20:	emid_L3ELE_SH_1_15_CC_v8
TopEJets.Level3ElectronEffVarNames_8_CC_T20:	pt
TopEJets.Level3ElectronEffName_8_CC_T25:	emid_L3ELE_SH_1_15_CC_v8
TopEJets.Level3ElectronEffVarNames_8_CC_T25:	pt
TopEJets.Level3ElectronEffName_8_CC_T30:	emid_L3ELE_SH_1_15_CC_v8
TopEJets.Level3ElectronEffVarNames_8_CC_T30:	pt
TopEJets.Level1JetEffName_8_CC:			jetid_L1CJT_1_5_CC_v8
TopEJets.Level1JetEffVarNames_8_CC:		pt
TopEJets.Level1JetEffName_8_EC:			jetid_L1CJT_1_5_EC_v8
TopEJets.Level1JetEffVarNames_8_EC:		pt
TopEJets.Level1JetEffName_8_ICD:		jetid_L1CJT_1_5_ICD_v8
TopEJets.Level1JetEffVarNames_8_ICD:		pt
TopEJets.Level2JetEffName_8_CC:			jetid_L2JET_1_10_CC_v8
TopEJets.Level2JetEffVarNames_8_CC:		pt
TopEJets.Level2JetEffName_8_EC:			jetid_L2JET_1_10_EC_v8
TopEJets.Level2JetEffVarNames_8_EC:		pt
TopEJets.Level2JetEffName_8_ICD:		jetid_L2JET_1_10_ICD_v8
TopEJets.Level2JetEffVarNames_8_ICD:		pt
TopEJets.Level3JetEffName_8_CC_T15:		jetid_L3JET_1_15_CC_v8
TopEJets.Level3JetEffVarNames_8_CC_T15:		pt
TopEJets.Level3JetEffName_8_CC_T20:		jetid_L3JET_1_20_CC_v8
TopEJets.Level3JetEffVarNames_8_CC_T20:		pt
TopEJets.Level3JetEffName_8_EC_T15:		jetid_L3JET_1_15_EC_v8
TopEJets.Level3JetEffVarNames_8_EC_T15:		pt
TopEJets.Level3JetEffName_8_EC_T20:		jetid_L3JET_1_20_EC_v8
TopEJets.Level3JetEffVarNames_8_EC_T20:		pt
TopEJets.Level3JetEffName_8_ICD_T15:		jetid_L3JET_1_15_ICD_v8
TopEJets.Level3JetEffVarNames_8_ICD_T15:	pt
TopEJets.Level3JetEffName_8_ICD_T20:		jetid_L3JET_1_20_ICD_v8
TopEJets.Level3JetEffVarNames_8_ICD_T20:	pt


#
# Trigger Version 9
#
TopEJets.Level1ElectronEffName_9_CC:		emid_L1CEM_1_10_CC_v9
TopEJets.Level1ElectronEffVarNames_9_CC:	pt
TopEJets.Level2ElectronEffName_9_CC:		emid_L2EM_1_10_CC_v9
TopEJets.Level2ElectronEffVarNames_9_CC:	pt
TopEJets.Level3ElectronEffName_9_CC:		emid_L3ELE_SH_1_15_CC_v9
TopEJets.Level3ElectronEffVarNames_9_CC:	pt
TopEJets.Level3ElectronEffName_9_CC_T15:	emid_L3ELE_SH_1_15_CC_v9
TopEJets.Level3ElectronEffVarNames_9_CC_T15:	pt
TopEJets.Level3ElectronEffName_9_CC_T20:	emid_L3ELE_SH_1_15_CC_v9
TopEJets.Level3ElectronEffVarNames_9_CC_T20:	pt
TopEJets.Level3ElectronEffName_9_CC_T25:	emid_L3ELE_SH_1_15_CC_v9
TopEJets.Level3ElectronEffVarNames_9_CC_T25:	pt
TopEJets.Level3ElectronEffName_9_CC_T30:	emid_L3ELE_SH_1_15_CC_v9
TopEJets.Level3ElectronEffVarNames_9_CC_T30:	pt
TopEJets.Level1JetEffName_9_CC:			jetid_L1CJT_1_5_CC_v9
TopEJets.Level1JetEffVarNames_9_CC:		pt
TopEJets.Level1JetEffName_9_EC:			jetid_L1CJT_1_5_EC_v9
TopEJets.Level1JetEffVarNames_9_EC:		pt
TopEJets.Level1JetEffName_9_ICD:		jetid_L1CJT_1_5_ICD_v9
TopEJets.Level1JetEffVarNames_9_ICD:		pt
TopEJets.Level2JetEffName_9_CC:			jetid_L2JET_1_10_CC_v9
TopEJets.Level2JetEffVarNames_9_CC:		pt
TopEJets.Level2JetEffName_9_EC:			jetid_L2JET_1_10_EC_v9
TopEJets.Level2JetEffVarNames_9_EC:		pt
TopEJets.Level2JetEffName_9_ICD:		jetid_L2JET_1_10_ICD_v9
TopEJets.Level2JetEffVarNames_9_ICD:		pt
TopEJets.Level3JetEffName_9_CC_T15:		jetid_L3JET_1_15_CC_v9
TopEJets.Level3JetEffVarNames_9_CC_T15:		pt
TopEJets.Level3JetEffName_9_CC_T20:		jetid_L3JET_1_20_CC_v9
TopEJets.Level3JetEffVarNames_9_CC_T20:		pt
TopEJets.Level3JetEffName_9_EC_T15:		jetid_L3JET_1_15_EC_v9
TopEJets.Level3JetEffVarNames_9_EC_T15:		pt
TopEJets.Level3JetEffName_9_EC_T20:		jetid_L3JET_1_20_EC_v9
TopEJets.Level3JetEffVarNames_9_EC_T20:		pt
TopEJets.Level3JetEffName_9_ICD_T15:		jetid_L3JET_1_15_ICD_v9
TopEJets.Level3JetEffVarNames_9_ICD_T15:	pt
TopEJets.Level3JetEffName_9_ICD_T20:		jetid_L3JET_1_20_ICD_v9
TopEJets.Level3JetEffVarNames_9_ICD_T20:	pt


#
# Trigger Version 10
#
TopEJets.Level1ElectronEffName_10_CC:		emid_L1CEM_1_10_CC_v10
TopEJets.Level1ElectronEffVarNames_10_CC:	pt
TopEJets.Level2ElectronEffName_10_CC:		emid_L2EM_1_10_CC_v10
TopEJets.Level2ElectronEffVarNames_10_CC:	pt
TopEJets.Level3ElectronEffName_10_CC:		emid_L3ELE_SH_1_15_CC_v10
TopEJets.Level3ElectronEffVarNames_10_CC:	pt
TopEJets.Level3ElectronEffName_10_CC_T15:	emid_L3ELE_SH_1_15_CC_v10
TopEJets.Level3ElectronEffVarNames_10_CC_T15:	pt
TopEJets.Level3ElectronEffName_10_CC_T20:	emid_L3ELE_SH_1_15_CC_v10
TopEJets.Level3ElectronEffVarNames_10_CC_T20:	pt
TopEJets.Level3ElectronEffName_10_CC_T25:	emid_L3ELE_SH_1_15_CC_v10
TopEJets.Level3ElectronEffVarNames_10_CC_T25:	pt
TopEJets.Level3ElectronEffName_10_CC_T30:	emid_L3ELE_SH_1_15_CC_v10
TopEJets.Level3ElectronEffVarNames_10_CC_T30:	pt
TopEJets.Level1JetEffName_10_CC:		jetid_L1CJT_1_5_CC_v10
TopEJets.Level1JetEffVarNames_10_CC:		pt
TopEJets.Level1JetEffName_10_EC:		jetid_L1CJT_1_5_EC_v10
TopEJets.Level1JetEffVarNames_10_EC:		pt
TopEJets.Level1JetEffName_10_ICD:		jetid_L1CJT_1_5_ICD_v10
TopEJets.Level1JetEffVarNames_10_ICD:		pt
TopEJets.Level2JetEffName_10_CC:		jetid_L2JET_1_10_CC_v10
TopEJets.Level2JetEffVarNames_10_CC:		pt
TopEJets.Level2JetEffName_10_EC:		jetid_L2JET_1_10_EC_v10
TopEJets.Level2JetEffVarNames_10_EC:		pt
TopEJets.Level2JetEffName_10_ICD:		jetid_L2JET_1_10_ICD_v10
TopEJets.Level2JetEffVarNames_10_ICD:		pt
TopEJets.Level3JetEffName_10_CC_T15:		jetid_L3JET_1_15_CC_v10
TopEJets.Level3JetEffVarNames_10_CC_T15:	pt
TopEJets.Level3JetEffName_10_CC_T20:		jetid_L3JET_1_20_CC_v10
TopEJets.Level3JetEffVarNames_10_CC_T20:	pt
TopEJets.Level3JetEffName_10_EC_T15:		jetid_L3JET_1_15_EC_v10
TopEJets.Level3JetEffVarNames_10_EC_T15:	pt
TopEJets.Level3JetEffName_10_EC_T20:		jetid_L3JET_1_20_EC_v10
TopEJets.Level3JetEffVarNames_10_EC_T20:	pt
TopEJets.Level3JetEffName_10_ICD_T15:		jetid_L3JET_1_15_ICD_v10
TopEJets.Level3JetEffVarNames_10_ICD_T15:	pt
TopEJets.Level3JetEffName_10_ICD_T20:		jetid_L3JET_1_20_ICD_v10
TopEJets.Level3JetEffVarNames_10_ICD_T20:	pt


#
# Trigger Version 11
#
TopEJets.Level1ElectronEffName_11_CC:		emid_L1CEM_1_10_CC_v11
TopEJets.Level1ElectronEffVarNames_11_CC:	pt
TopEJets.Level2ElectronEffName_11_CC:		emid_L2EM_1_10_CC_v11
TopEJets.Level2ElectronEffVarNames_11_CC:	pt
TopEJets.Level3ElectronEffName_11_CC:		emid_L3ELE_SH_1_15_CC_v11
TopEJets.Level3ElectronEffVarNames_11_CC:	pt
TopEJets.Level3ElectronEffName_11_CC_T15:	emid_L3ELE_SH_1_15_CC_v11
TopEJets.Level3ElectronEffVarNames_11_CC_T15:	pt
TopEJets.Level3ElectronEffName_11_CC_T20:	emid_L3ELE_SH_1_15_CC_v11
TopEJets.Level3ElectronEffVarNames_11_CC_T20:	pt
TopEJets.Level3ElectronEffName_11_CC_T25:	emid_L3ELE_SH_1_15_CC_v11
TopEJets.Level3ElectronEffVarNames_11_CC_T25:	pt
TopEJets.Level3ElectronEffName_11_CC_T30:	emid_L3ELE_SH_1_15_CC_v11
TopEJets.Level3ElectronEffVarNames_11_CC_T30:	pt
TopEJets.Level1JetEffName_11_CC:		jetid_L1CJT_1_5_CC_v11
TopEJets.Level1JetEffVarNames_11_CC:		pt
TopEJets.Level1JetEffName_11_EC:		jetid_L1CJT_1_5_EC_v11
TopEJets.Level1JetEffVarNames_11_EC:		pt
TopEJets.Level1JetEffName_11_ICD:		jetid_L1CJT_1_5_ICD_v11
TopEJets.Level1JetEffVarNames_11_ICD:		pt
TopEJets.Level2JetEffName_11_CC:		jetid_L2JET_1_10_CC_v11
TopEJets.Level2JetEffVarNames_11_CC:		pt
TopEJets.Level2JetEffName_11_EC:		jetid_L2JET_1_10_EC_v11
TopEJets.Level2JetEffVarNames_11_EC:		pt
TopEJets.Level2JetEffName_11_ICD:		jetid_L2JET_1_10_ICD_v11
TopEJets.Level2JetEffVarNames_11_ICD:		pt
TopEJets.Level3JetEffName_11_CC_T15:		jetid_L3JET_1_15_CC_v11
TopEJets.Level3JetEffVarNames_11_CC_T15:	pt
TopEJets.Level3JetEffName_11_CC_T20:		jetid_L3JET_1_20_CC_v11
TopEJets.Level3JetEffVarNames_11_CC_T20:	pt
TopEJets.Level3JetEffName_11_EC_T15:		jetid_L3JET_1_15_EC_v11
TopEJets.Level3JetEffVarNames_11_EC_T15:	pt
TopEJets.Level3JetEffName_11_EC_T20:		jetid_L3JET_1_20_EC_v11
TopEJets.Level3JetEffVarNames_11_EC_T20:	pt
TopEJets.Level3JetEffName_11_ICD_T15:		jetid_L3JET_1_15_ICD_v11
TopEJets.Level3JetEffVarNames_11_ICD_T15:	pt
TopEJets.Level3JetEffName_11_ICD_T20:		jetid_L3JET_1_20_ICD_v11
TopEJets.Level3JetEffVarNames_11_ICD_T20:	pt


#
# Trigger Version 12
#
TopEJets.Level1ElectronEffName_12_CC:		emid_L1CEM_1_11_CC_v12
TopEJets.Level1ElectronEffVarNames_12_CC:	pt
TopEJets.Level3ElectronEffName_12_CC:		emid_L3ELE_SHT_1_15_CC_v12
TopEJets.Level3ElectronEffVarNames_12_CC:	pt
TopEJets.Level3ElectronEffName_12_EC:		emid_L3ELE_SHT_1_15_EC_v12
TopEJets.Level3ElectronEffVarNames_12_EC:	pt
TopEJets.Level3ElectronEffName_12_CC_T15:	emid_L3ELE_SH_1_15_CC_v12
TopEJets.Level3ElectronEffVarNames_12_CC_T15:	pt
TopEJets.Level3ElectronEffName_12_CC_T20:	emid_L3ELE_SH_1_15_CC_v12
TopEJets.Level3ElectronEffVarNames_12_CC_T20:	pt
TopEJets.Level3ElectronEffName_12_CC_T25:	emid_L3ELE_SH_1_15_CC_v12
TopEJets.Level3ElectronEffVarNames_12_CC_T25:	pt
TopEJets.Level3ElectronEffName_12_CC_T30:	emid_L3ELE_SH_1_15_CC_v12
TopEJets.Level3ElectronEffVarNames_12_CC_T30:	pt
TopEJets.Level3JetEffName_12_CC_T20:		jetid_L3JET_1_20_CC_v12
TopEJets.Level3JetEffVarNames_12_CC_T20:	pt
TopEJets.Level3JetEffName_12_EC_T20:		jetid_L3JET_1_20_EC_v12
TopEJets.Level3JetEffVarNames_12_EC_T20:	pt
TopEJets.Level3JetEffName_12_ICD_T20:		jetid_L3JET_1_20_ICD_v12
TopEJets.Level3JetEffVarNames_12_ICD_T20:	pt


#
# Trigger Version 13a
#
TopEJets.Level1ElectronEffName_13a_CC:		emid_L1CEM_1_11_CC_v13
TopEJets.Level1ElectronEffVarNames_13a_CC:	pt
TopEJets.Level2ElectronEffName_13a_CC:		emid_L2CALEM_1_15_CC_v13
TopEJets.Level2ElectronEffVarNames_13a_CC:	pt
TopEJets.Level3ElectronEffName_13a_CC:		emid_L3ELE_SHT_1_15_CC_v13
TopEJets.Level3ElectronEffVarNames_13a_CC:	pt
TopEJets.Level3ElectronEffName_13a_EC:		emid_L3ELE_SHT_1_15_EC_v13
TopEJets.Level3ElectronEffVarNames_13a_EC:	pt
TopEJets.Level3ElectronEffName_13a_CC_T15:	emid_L3ELE_SH_1_15_CC_v13
TopEJets.Level3ElectronEffVarNames_13a_CC_T15:	pt
TopEJets.Level3ElectronEffName_13a_CC_T20:	emid_L3ELE_SH_1_15_CC_v13
TopEJets.Level3ElectronEffVarNames_13a_CC_T20:	pt
TopEJets.Level3ElectronEffName_13a_CC_T25:	emid_L3ELE_SH_1_15_CC_v13
TopEJets.Level3ElectronEffVarNames_13a_CC_T25:	pt
TopEJets.Level3ElectronEffName_13a_CC_T30:	emid_L3ELE_SH_1_15_CC_v13
TopEJets.Level3ElectronEffVarNames_13a_CC_T30:	pt
TopEJets.Level3JetEffName_13a_CC_T20:		jetid_L3JET_1_20_CC_v13
TopEJets.Level3JetEffVarNames_13a_CC_T20:	pt
TopEJets.Level3JetEffName_13a_CC_T25:		jetid_L3JET_1_25_CC_v13
TopEJets.Level3JetEffVarNames_13a_CC_T25:	pt
TopEJets.Level3JetEffName_13a_EC_T20:		jetid_L3JET_1_20_EC_v13
TopEJets.Level3JetEffVarNames_13a_EC_T20:	pt
TopEJets.Level3JetEffName_13a_EC_T25:		jetid_L3JET_1_25_EC_v13
TopEJets.Level3JetEffVarNames_13a_EC_T25:	pt
TopEJets.Level3JetEffName_13a_ICD_T20:		jetid_L3JET_1_20_ICD_v13
TopEJets.Level3JetEffVarNames_13a_ICD_T20:	pt
TopEJets.Level3JetEffName_13a_ICD_T25:		jetid_L3JET_1_25_ICD_v13
TopEJets.Level3JetEffVarNames_13a_ICD_T25:	pt

#
# Trigger Version 13b
#
TopEJets.Level1ElectronEffName_13b_CC:		emid_L1CEM_1_11_CC_v13
TopEJets.Level1ElectronEffVarNames_13b_CC:	pt
TopEJets.Level2ElectronEffName_13b_CC:		emid_L2CALEM_1_15_CC_v13
TopEJets.Level2ElectronEffVarNames_13b_CC:	pt
TopEJets.Level3ElectronEffName_13b_CC:		emid_L3ELE_SHT_1_15_CC_v13
TopEJets.Level3ElectronEffVarNames_13b_CC:	pt
TopEJets.Level3ElectronEffName_13b_EC:		emid_L3ELE_SHT_1_15_EC_v13
TopEJets.Level3ElectronEffVarNames_13b_EC:	pt
TopEJets.Level3ElectronEffName_13b_CC_T15:	emid_L3ELE_SH_1_15_CC_v13
TopEJets.Level3ElectronEffVarNames_13b_CC_T15:	pt
TopEJets.Level3ElectronEffName_13b_CC_T20:	emid_L3ELE_SH_1_15_CC_v13
TopEJets.Level3ElectronEffVarNames_13b_CC_T20:	pt
TopEJets.Level3ElectronEffName_13b_CC_T25:	emid_L3ELE_SH_1_15_CC_v13
TopEJets.Level3ElectronEffVarNames_13b_CC_T25:	pt
TopEJets.Level3ElectronEffName_13b_CC_T30:	emid_L3ELE_SH_1_15_CC_v13
TopEJets.Level3ElectronEffVarNames_13b_CC_T30:	pt
TopEJets.Level3JetEffName_13b_CC_T20:		jetid_L3JET_1_20_CC_v13
TopEJets.Level3JetEffVarNames_13b_CC_T20:	pt
TopEJets.Level3JetEffName_13b_CC_T25:		jetid_L3JET_1_25_CC_v13
TopEJets.Level3JetEffVarNames_13b_CC_T25:	pt
TopEJets.Level3JetEffName_13b_CC_T30:		jetid_L3JET_1_25_CC_v13
TopEJets.Level3JetEffVarNames_13b_CC_T30:	pt
TopEJets.Level3JetEffName_13b_EC_T20:		jetid_L3JET_1_20_EC_v13
TopEJets.Level3JetEffVarNames_13b_EC_T20:	pt
TopEJets.Level3JetEffName_13b_EC_T25:		jetid_L3JET_1_25_EC_v13
TopEJets.Level3JetEffVarNames_13b_EC_T25:	pt
TopEJets.Level3JetEffName_13b_EC_T30:		jetid_L3JET_1_25_EC_v13
TopEJets.Level3JetEffVarNames_13b_EC_T30:	pt
TopEJets.Level3JetEffName_13b_ICD_T20:		jetid_L3JET_1_20_ICD_v13
TopEJets.Level3JetEffVarNames_13b_ICD_T20:	pt
TopEJets.Level3JetEffName_13b_ICD_T25:		jetid_L3JET_1_25_ICD_v13
TopEJets.Level3JetEffVarNames_13b_ICD_T25:	pt
TopEJets.Level3JetEffName_13b_ICD_T30:		jetid_L3JET_1_25_ICD_v13
TopEJets.Level3JetEffVarNames_13b_ICD_T30:	pt


#
# Trigger Version 14
#
TopEJets.Level1ElectronEffName_14_CC:		emid_L1CEM_1_11_CC_v14
TopEJets.Level1ElectronEffVarNames_14_CC:	pt
TopEJets.Level2ElectronEffName_14_CC:		emid_L2CALEM_1_15_CC_v14
TopEJets.Level2ElectronEffVarNames_14_CC:	pt
TopEJets.Level3ElectronEffName_14_CC:		emid_L3ELE_SHT_1_15_CC_v14
TopEJets.Level3ElectronEffVarNames_14_CC:	pt
TopEJets.Level3ElectronEffName_14_CC_T15:	emid_L3ELE_SH_1_15_CC_v14
TopEJets.Level3ElectronEffVarNames_14_CC_T15:	pt
TopEJets.Level3ElectronEffName_14_CC_T20:	emid_L3ELE_SH_1_15_CC_v14
TopEJets.Level3ElectronEffVarNames_14_CC_T20:	pt
TopEJets.Level3ElectronEffName_14_CC_T25:	emid_L3ELE_SH_1_15_CC_v14
TopEJets.Level3ElectronEffVarNames_14_CC_T25:	pt
TopEJets.Level3ElectronEffName_14_CC_T30:	emid_L3ELE_SH_1_15_CC_v14
TopEJets.Level3ElectronEffVarNames_14_CC_T30:	pt
TopEJets.Level3JetEffName_14_CC_T20:		jetid_L3JET_1_20_CC_v14
TopEJets.Level3JetEffVarNames_14_CC_T20:	pt
TopEJets.Level3JetEffName_14_CC_T25:		jetid_L3JET_1_25_CC_v14
TopEJets.Level3JetEffVarNames_14_CC_T25:	pt
#TopEJets.Level3JetEffName_14_CC_T30:		jetid_L3JET_1_30_CC_v14
#TopEJets.Level3JetEffVarNames_14_CC_T30:	pt
TopEJets.Level3JetEffName_14_EC_T20:		jetid_L3JET_1_20_EC_v14
TopEJets.Level3JetEffVarNames_14_EC_T20:	pt
TopEJets.Level3JetEffName_14_EC_T25:		jetid_L3JET_1_25_EC_v14
TopEJets.Level3JetEffVarNames_14_EC_T25:	pt
#TopEJets.Level3JetEffName_14_EC_T30:		jetid_L3JET_1_30_EC_v14
#TopEJets.Level3JetEffVarNames_14_EC_T30:	pt
TopEJets.Level3JetEffName_14_ICD_T20:		jetid_L3JET_1_20_ICD_v14
TopEJets.Level3JetEffVarNames_14_ICD_T20:	pt
TopEJets.Level3JetEffName_14_ICD_T25:		jetid_L3JET_1_25_ICD_v14
TopEJets.Level3JetEffVarNames_14_ICD_T25:	pt
#TopEJets.Level3JetEffName_14_ICD_T30:		jetid_L3JET_1_30_ICD_v14
#TopEJets.Level3JetEffVarNames_14_ICD_T30:	pt

########################################################
