# Global variables: branches used for mu+jets trigger
######################################################
caf_trigger.embranch:     TurnOff
caf_trigger.mubranch:     TightMuon
caf_trigger.jetbranch:    GoodJCCB
caf_trigger.metbranch:    Met

# Trigger configuration for e+jets analysis
######################################################
+cafe.Include:		caf_trigger/configs/caf_trigger_toptrigger_mujets-base.config

###
