############# Trigger Group ##########################
TopEMuTrigger.Run:          cafTriggerEfficiency(TopEMuTrigger),Group(TopEMu),cafTriggerOutput(TopEMuTrigger)
TopEMuTrigger.embranch:     GoodElectron
TopEMuTrigger.mubranch:     GoodMuon
TopEMuTrigger.jetbranch:    TurnOff
TopEMuTrigger.lumi:	    18.3,21.3,15.3,57.3,209.8,250.0,150.0
TopEMuTrigger.triglist:	    8,9,10,11,12,13,14
TopEMuTrigger.histos:       TopEMu_L1,TopEMu_L2,TopEMu_L3,TriggerProbability
TopEMuTrigger.histosBins:   120
TopEMuTrigger.globalWeight: TriggerProbability
######################################################

############# Trigger Definition #####################
TopEMu.Run:			Probability_TopEMu_L1(TopEMu)
#,Probability_TopEMu_L2(TopEMu),Probability_TopEMu_L3(TopEMu),TriggerProbability(TopEMu)
TopEMu.CombineL1L2L3:		TopEMu_L1,TopEMu_L2,TopEMu_L3
TopEMu.TriggerVersions:		8,9,10,11,12,13,14
TopEMu.Debug:			no
TopEMu.SplitElectron:		yes
TopEMu.ElectronPath:		./caf_trigger/parameters/top_trigger
TopEMu.MuonPath:		./muid_eff/results_data
TopEMu.JetPath:			./caf_trigger/parameters/top_trigger
TopEMu.TrackPath:		./muid_eff/results_data

#
# Trigger Version 8
#
TopEMu.Level1MuonEffVarNames_8_INC:		phi deteta
TopEMu.Level1MuonObjQuality_8_INC:		l1atxx
TopEMu.Level1ElectronEffName_8_CC:		emid_L1CEM_1_5_CC_v8
TopEMu.Level1ElectronEffVarNames_8_CC:		pt
TopEMu.Level1ElectronEffName_8_EC:		emid_L1CEM_1_5_EC_v8
TopEMu.Level1ElectronEffVarNames_8_EC:		pt
TopEMu.Level3ElectronEffName_8_CC:		emid_L3ELE_1_10_CC_v8
TopEMu.Level3ElectronEffVarNames_8_CC:		pt
TopEMu.Level3ElectronEffName_8_EC:		emid_L3ELE_1_10_EC_v8
TopEMu.Level3ElectronEffVarNames_8_EC:		pt

#
# Trigger Version 9
#
TopEMu.Level1MuonEffVarNames_9_INC:		phi deteta
TopEMu.Level1MuonObjQuality_9_INC:		l1atxx
TopEMu.Level1ElectronEffName_9_CC:		emid_L1CEM_1_5_CC_v9
TopEMu.Level1ElectronEffVarNames_9_CC:		pt
TopEMu.Level1ElectronEffName_9_EC:		emid_L1CEM_1_5_EC_v9
TopEMu.Level1ElectronEffVarNames_9_EC:		pt
TopEMu.Level3ElectronEffName_9_CC:		emid_L3ELE_1_10_CC_v9
TopEMu.Level3ElectronEffVarNames_9_CC:		pt
TopEMu.Level3ElectronEffName_9_EC:		emid_L3ELE_1_10_EC_v9
TopEMu.Level3ElectronEffVarNames_9_EC:		pt

#
# Trigger Version 10
#
TopEMu.Level1MuonEffVarNames_10_INC:		phi deteta
TopEMu.Level1MuonObjQuality_10_INC:		l1atxx
TopEMu.Level1ElectronEffName_10_CC:		emid_L1CEM_1_5_CC_v10
TopEMu.Level1ElectronEffVarNames_10_CC:		pt
TopEMu.Level1ElectronEffName_10_EC:		emid_L1CEM_1_5_EC_v10
TopEMu.Level1ElectronEffVarNames_10_EC:		pt
TopEMu.Level3ElectronEffName_10_CC:		emid_L3ELE_1_10_CC_v10
TopEMu.Level3ElectronEffVarNames_10_CC:		pt
TopEMu.Level3ElectronEffName_10_EC:		emid_L3ELE_1_10_EC_v10
TopEMu.Level3ElectronEffVarNames_10_EC:		pt


#
# Trigger Version 11
#
TopEMu.Level1MuonEffVarNames_11_INC:		phi deteta
TopEMu.Level1MuonObjQuality_11_INC:		l1atxx
TopEMu.Level1ElectronEffName_11_CC:		emid_L1CEM_1_5_CC_v11
TopEMu.Level1ElectronEffVarNames_11_CC:		pt
TopEMu.Level1ElectronEffName_11_EC:		emid_L1CEM_1_5_EC_v11
TopEMu.Level1ElectronEffVarNames_11_EC:		pt
TopEMu.Level3ElectronEffName_11_CC:		emid_L3ELE_1_10_CC_v11
TopEMu.Level3ElectronEffVarNames_11_CC:		pt
TopEMu.Level3ElectronEffName_11_EC:		emid_L3ELE_1_10_EC_v11
TopEMu.Level3ElectronEffVarNames_11_EC:		pt


#
# Trigger Version 12
#
TopEMu.Level1MuonEffVarNames_12_INC:		phi deteta
TopEMu.Level1MuonObjQuality_12_INC:		l1atxx
TopEMu.Level1ElectronEffName_12_CC:		emid_L1CEM_1_6_CC_v12
TopEMu.Level1ElectronEffVarNames_12_CC:		pt
TopEMu.Level1ElectronEffName_12_EC:		emid_L1CEM_1_6_EC_v12
TopEMu.Level1ElectronEffVarNames_12_EC:		pt
TopEMu.Level3ElectronEffName_12_CC:		emid_L3ELE_1_12_CC_v12
TopEMu.Level3ElectronEffVarNames_12_CC:		pt
TopEMu.Level3ElectronEffName_12_EC:		emid_L3ELE_1_12_EC_v12
TopEMu.Level3ElectronEffVarNames_12_EC:		pt


#
# Trigger Version 13
#
TopEMu.Level1MuonEffVarNames_13_INC:		phi deteta
TopEMu.Level1MuonObjQuality_13_INC:		l1atxx
TopEMu.Level2MuonEffName_13_INC:		eff
TopEMu.Level2MuonEffVarNames_13_INC:		phi deteta
TopEMu.Level2MuonObjQuality_13_INC:		l2m0
TopEMu.Level2MuonObjRelativeTo_13_INC:		mediumnseg3_l1atxx
TopEMu.Level2MuonSource_13_INC:			MuonID
TopEMu.Level1ElectronEffName_13_CC:		emid_L1CEM_1_6_CC_v13
TopEMu.Level1ElectronEffVarNames_13_CC:		pt
TopEMu.Level1ElectronEffName_13_EC:		emid_L1CEM_1_6_EC_v13
TopEMu.Level1ElectronEffVarNames_13_EC:		pt
TopEMu.Level3ElectronEffName_13_CC:		emid_L3ELE_SHT_1_7_CC_v13
TopEMu.Level3ElectronEffVarNames_13_CC:		pt
TopEMu.Level3ElectronEffName_13_EC:		emid_L3ELE_SHT_1_7_EC_v13
TopEMu.Level3ElectronEffVarNames_13_EC:		pt


#
# Trigger Version 14
#
TopEMu.Level1MuonEffVarNames_14_INC:		phi deteta
TopEMu.Level1MuonObjQuality_14_INC:		l1atxx
TopEMu.Level2MuonEffVarNames_14_INC:		phi deteta
TopEMu.Level2MuonObjQuality_14_INC:		l2m0
TopEMu.Level2MuonObjRelativeTo_14_INC:		mediumnseg3_l1atxx
TopEMu.Level1ElectronEffName_14_CC:		emid_L1CEM_1_6_CC_v14
TopEMu.Level1ElectronEffVarNames_14_CC:		pt
TopEMu.Level1ElectronEffName_14_EC:		emid_L1CEM_1_6_EC_v14
TopEMu.Level1ElectronEffVarNames_14_EC:		pt
TopEMu.Level3ElectronEffName_14_CC:		emid_L3ELE_SHT_1_7_CC_v14
TopEMu.Level3ElectronEffVarNames_14_CC:		pt
TopEMu.Level3ElectronEffName_14_EC:		emid_L3ELE_SHT_1_7_EC_v14
TopEMu.Level3ElectronEffVarNames_14_EC:		pt
TopEMu.Level3TrackEffVarNames_14_INC:		z cfteta
TopEMu.Level3TrackObjQuality_14_INC:		l3trk5



