############# Trigger Group ##########################
EJetsTrigger.Run:          cafTriggerEfficiency(EJetsTrigger),Group(EJets),cafTriggerOutput(EJetsTrigger)
EJetsTrigger.embranch:     GoodElectron
EJetsTrigger.mubranch:     TurnOff
EJetsTrigger.jetbranch:    GoodJCCB
EJetsTrigger.lumi:	   4.89,21.5,9.22,55.26,199.22,47.12,314.9,214.03
EJetsTrigger.triglist:     8,9,10,11,12,13a,13b,14
EJetsTrigger.histos:       EJets,TriggerProbability
EJetsTrigger.histosBins:   120
EJetsTrigger.globalWeight: TriggerProbability
######################################################

############# Trigger Definition #####################
EJets.Run: 			Probability_EJets(EJets),TriggerProbability(EJets)
EJets.CombineL1L2L3:		EJets
EJets.TriggerVersions:	        8,9,10,11,12,13a,13b,14
EJets.Debug:			no
EJets.IncludeJets:		no
EJets.IncludeElectronEC:	no
EJets.ElectronPath:		./caf_trigger/parameters/top_trigger
EJets.JetPath:			./caf_trigger/parameters/top_trigger


#
# Trigger Version 8
#
EJets.Level1ElectronEffName_8_CC:		emid_L1CEM_1_10_CC_v8
EJets.Level1ElectronEffVarNames_8_CC:		pt
EJets.Level2ElectronEffName_8_CC:		emid_L2EM_1_10_CC_v8
EJets.Level2ElectronEffVarNames_8_CC:		pt
EJets.Level3ElectronEffName_8_CC:		emid_L3ELE_SH_1_15_CC_v8
EJets.Level3ElectronEffVarNames_8_CC:		pt
EJets.Level3ElectronEffName_8_CC_T15:		emid_L3ELE_SH_1_15_CC_v8
EJets.Level3ElectronEffVarNames_8_CC_T15:	pt
EJets.Level3ElectronEffName_8_CC_T20:		emid_L3ELE_SH_1_15_CC_v8
EJets.Level3ElectronEffVarNames_8_CC_T20:	pt
EJets.Level3ElectronEffName_8_CC_T25:		emid_L3ELE_SH_1_15_CC_v8
EJets.Level3ElectronEffVarNames_8_CC_T25:	pt
EJets.Level3ElectronEffName_8_CC_T30:		emid_L3ELE_SH_1_15_CC_v8
EJets.Level3ElectronEffVarNames_8_CC_T30:	pt
EJets.Level1JetEffName_8_CC:			jetid_L1CJT_1_5_CC_v8
EJets.Level1JetEffVarNames_8_CC:		pt
EJets.Level1JetEffName_8_EC:			jetid_L1CJT_1_5_EC_v8
EJets.Level1JetEffVarNames_8_EC:		pt
EJets.Level1JetEffName_8_ICD:			jetid_L1CJT_1_5_ICD_v8
EJets.Level1JetEffVarNames_8_ICD:		pt
EJets.Level2JetEffName_8_CC:			jetid_L2JET_1_10_CC_v8
EJets.Level2JetEffVarNames_8_CC:		pt
EJets.Level2JetEffName_8_EC:			jetid_L2JET_1_10_EC_v8
EJets.Level2JetEffVarNames_8_EC:		pt
EJets.Level2JetEffName_8_ICD:			jetid_L2JET_1_10_ICD_v8
EJets.Level2JetEffVarNames_8_ICD:		pt
EJets.Level3JetEffName_8_CC_T15:		jetid_L3JET_1_15_CC_v8
EJets.Level3JetEffVarNames_8_CC_T15:		pt
EJets.Level3JetEffName_8_CC_T20:		jetid_L3JET_1_20_CC_v8
EJets.Level3JetEffVarNames_8_CC_T20:		pt
EJets.Level3JetEffName_8_EC_T15:		jetid_L3JET_1_15_EC_v8
EJets.Level3JetEffVarNames_8_EC_T15:		pt
EJets.Level3JetEffName_8_EC_T20:		jetid_L3JET_1_20_EC_v8
EJets.Level3JetEffVarNames_8_EC_T20:		pt
EJets.Level3JetEffName_8_ICD_T15:		jetid_L3JET_1_15_ICD_v8
EJets.Level3JetEffVarNames_8_ICD_T15:		pt
EJets.Level3JetEffName_8_ICD_T20:		jetid_L3JET_1_20_ICD_v8
EJets.Level3JetEffVarNames_8_ICD_T20:		pt


#
# Trigger Version 9
#
EJets.Level1ElectronEffName_9_CC:		emid_L1CEM_1_10_CC_v9
EJets.Level1ElectronEffVarNames_9_CC:		pt
EJets.Level2ElectronEffName_9_CC:		emid_L2EM_1_10_CC_v9
EJets.Level2ElectronEffVarNames_9_CC:		pt
EJets.Level3ElectronEffName_9_CC:		emid_L3ELE_SH_1_15_CC_v9
EJets.Level3ElectronEffVarNames_9_CC:		pt
EJets.Level3ElectronEffName_9_CC_T15:		emid_L3ELE_SH_1_15_CC_v9
EJets.Level3ElectronEffVarNames_9_CC_T15:	pt
EJets.Level3ElectronEffName_9_CC_T20:		emid_L3ELE_SH_1_15_CC_v9
EJets.Level3ElectronEffVarNames_9_CC_T20:	pt
EJets.Level3ElectronEffName_9_CC_T25:		emid_L3ELE_SH_1_15_CC_v9
EJets.Level3ElectronEffVarNames_9_CC_T25:	pt
EJets.Level3ElectronEffName_9_CC_T30:		emid_L3ELE_SH_1_15_CC_v9
EJets.Level3ElectronEffVarNames_9_CC_T30:	pt
EJets.Level1JetEffName_9_CC:			jetid_L1CJT_1_5_CC_v9
EJets.Level1JetEffVarNames_9_CC:		pt
EJets.Level1JetEffName_9_EC:			jetid_L1CJT_1_5_EC_v9
EJets.Level1JetEffVarNames_9_EC:		pt
EJets.Level1JetEffName_9_ICD:			jetid_L1CJT_1_5_ICD_v9
EJets.Level1JetEffVarNames_9_ICD:		pt
EJets.Level2JetEffName_9_CC:			jetid_L2JET_1_10_CC_v9
EJets.Level2JetEffVarNames_9_CC:		pt
EJets.Level2JetEffName_9_EC:			jetid_L2JET_1_10_EC_v9
EJets.Level2JetEffVarNames_9_EC:		pt
EJets.Level2JetEffName_9_ICD:			jetid_L2JET_1_10_ICD_v9
EJets.Level2JetEffVarNames_9_ICD:		pt
EJets.Level3JetEffName_9_CC_T15:		jetid_L3JET_1_15_CC_v9
EJets.Level3JetEffVarNames_9_CC_T15:		pt
EJets.Level3JetEffName_9_CC_T20:		jetid_L3JET_1_20_CC_v9
EJets.Level3JetEffVarNames_9_CC_T20:		pt
EJets.Level3JetEffName_9_EC_T15:		jetid_L3JET_1_15_EC_v9
EJets.Level3JetEffVarNames_9_EC_T15:		pt
EJets.Level3JetEffName_9_EC_T20:		jetid_L3JET_1_20_EC_v9
EJets.Level3JetEffVarNames_9_EC_T20:		pt
EJets.Level3JetEffName_9_ICD_T15:		jetid_L3JET_1_15_ICD_v9
EJets.Level3JetEffVarNames_9_ICD_T15:		pt
EJets.Level3JetEffName_9_ICD_T20:		jetid_L3JET_1_20_ICD_v9
EJets.Level3JetEffVarNames_9_ICD_T20:		pt


#
# Trigger Version 10
#
EJets.Level1ElectronEffName_10_CC:		emid_L1CEM_1_10_CC_v10
EJets.Level1ElectronEffVarNames_10_CC:		pt
EJets.Level2ElectronEffName_10_CC:		emid_L2EM_1_10_CC_v10
EJets.Level2ElectronEffVarNames_10_CC:		pt
EJets.Level3ElectronEffName_10_CC:		emid_L3ELE_SH_1_15_CC_v10
EJets.Level3ElectronEffVarNames_10_CC:		pt
EJets.Level3ElectronEffName_10_CC_T15:		emid_L3ELE_SH_1_15_CC_v10
EJets.Level3ElectronEffVarNames_10_CC_T15:	pt
EJets.Level3ElectronEffName_10_CC_T20:		emid_L3ELE_SH_1_15_CC_v10
EJets.Level3ElectronEffVarNames_10_CC_T20:	pt
EJets.Level3ElectronEffName_10_CC_T25:		emid_L3ELE_SH_1_15_CC_v10
EJets.Level3ElectronEffVarNames_10_CC_T25:	pt
EJets.Level3ElectronEffName_10_CC_T30:		emid_L3ELE_SH_1_15_CC_v10
EJets.Level3ElectronEffVarNames_10_CC_T30:	pt
EJets.Level1JetEffName_10_CC:			jetid_L1CJT_1_5_CC_v10
EJets.Level1JetEffVarNames_10_CC:		pt
EJets.Level1JetEffName_10_EC:			jetid_L1CJT_1_5_EC_v10
EJets.Level1JetEffVarNames_10_EC:		pt
EJets.Level1JetEffName_10_ICD:			jetid_L1CJT_1_5_ICD_v10
EJets.Level1JetEffVarNames_10_ICD:		pt
EJets.Level2JetEffName_10_CC:			jetid_L2JET_1_10_CC_v10
EJets.Level2JetEffVarNames_10_CC:		pt
EJets.Level2JetEffName_10_EC:			jetid_L2JET_1_10_EC_v10
EJets.Level2JetEffVarNames_10_EC:		pt
EJets.Level2JetEffName_10_ICD:			jetid_L2JET_1_10_ICD_v10
EJets.Level2JetEffVarNames_10_ICD:		pt
EJets.Level3JetEffName_10_CC_T15:		jetid_L3JET_1_15_CC_v10
EJets.Level3JetEffVarNames_10_CC_T15:		pt
EJets.Level3JetEffName_10_CC_T20:		jetid_L3JET_1_20_CC_v10
EJets.Level3JetEffVarNames_10_CC_T20:		pt
EJets.Level3JetEffName_10_EC_T15:		jetid_L3JET_1_15_EC_v10
EJets.Level3JetEffVarNames_10_EC_T15:		pt
EJets.Level3JetEffName_10_EC_T20:		jetid_L3JET_1_20_EC_v10
EJets.Level3JetEffVarNames_10_EC_T20:		pt
EJets.Level3JetEffName_10_ICD_T15:		jetid_L3JET_1_15_ICD_v10
EJets.Level3JetEffVarNames_10_ICD_T15:		pt
EJets.Level3JetEffName_10_ICD_T20:		jetid_L3JET_1_20_ICD_v10
EJets.Level3JetEffVarNames_10_ICD_T20:		pt


#
# Trigger Version 11
#
EJets.Level1ElectronEffName_11_CC:		emid_L1CEM_1_10_CC_v11
EJets.Level1ElectronEffVarNames_11_CC:		pt
EJets.Level2ElectronEffName_11_CC:		emid_L2EM_1_10_CC_v11
EJets.Level2ElectronEffVarNames_11_CC:		pt
EJets.Level3ElectronEffName_11_CC:		emid_L3ELE_SH_1_15_CC_v11
EJets.Level3ElectronEffVarNames_11_CC:		pt
EJets.Level3ElectronEffName_11_CC_T15:		emid_L3ELE_SH_1_15_CC_v11
EJets.Level3ElectronEffVarNames_11_CC_T15:	pt
EJets.Level3ElectronEffName_11_CC_T20:		emid_L3ELE_SH_1_15_CC_v11
EJets.Level3ElectronEffVarNames_11_CC_T20:	pt
EJets.Level3ElectronEffName_11_CC_T25:		emid_L3ELE_SH_1_15_CC_v11
EJets.Level3ElectronEffVarNames_11_CC_T25:	pt
EJets.Level3ElectronEffName_11_CC_T30:		emid_L3ELE_SH_1_15_CC_v11
EJets.Level3ElectronEffVarNames_11_CC_T30:	pt
EJets.Level1JetEffName_11_CC:			jetid_L1CJT_1_5_CC_v11
EJets.Level1JetEffVarNames_11_CC:		pt
EJets.Level1JetEffName_11_EC:			jetid_L1CJT_1_5_EC_v11
EJets.Level1JetEffVarNames_11_EC:		pt
EJets.Level1JetEffName_11_ICD:			jetid_L1CJT_1_5_ICD_v11
EJets.Level1JetEffVarNames_11_ICD:		pt
EJets.Level2JetEffName_11_CC:			jetid_L2JET_1_10_CC_v11
EJets.Level2JetEffVarNames_11_CC:		pt
EJets.Level2JetEffName_11_EC:			jetid_L2JET_1_10_EC_v11
EJets.Level2JetEffVarNames_11_EC:		pt
EJets.Level2JetEffName_11_ICD:			jetid_L2JET_1_10_ICD_v11
EJets.Level2JetEffVarNames_11_ICD:		pt
EJets.Level3JetEffName_11_CC_T15:		jetid_L3JET_1_15_CC_v11
EJets.Level3JetEffVarNames_11_CC_T15:		pt
EJets.Level3JetEffName_11_CC_T20:		jetid_L3JET_1_20_CC_v11
EJets.Level3JetEffVarNames_11_CC_T20:		pt
EJets.Level3JetEffName_11_EC_T15:		jetid_L3JET_1_15_EC_v11
EJets.Level3JetEffVarNames_11_EC_T15:		pt
EJets.Level3JetEffName_11_EC_T20:		jetid_L3JET_1_20_EC_v11
EJets.Level3JetEffVarNames_11_EC_T20:		pt
EJets.Level3JetEffName_11_ICD_T15:		jetid_L3JET_1_15_ICD_v11
EJets.Level3JetEffVarNames_11_ICD_T15:		pt
EJets.Level3JetEffName_11_ICD_T20:		jetid_L3JET_1_20_ICD_v11
EJets.Level3JetEffVarNames_11_ICD_T20:		pt


#
# Trigger Version 12
#
EJets.Level1ElectronEffName_12_CC:		emid_L1CEM_1_11_CC_v12
EJets.Level1ElectronEffVarNames_12_CC:		pt
EJets.Level3ElectronEffName_12_CC:		emid_L3ELE_SHT_1_15_CC_v12
EJets.Level3ElectronEffVarNames_12_CC:		pt
EJets.Level3ElectronEffName_12_EC:		emid_L3ELE_SHT_1_15_EC_v12
EJets.Level3ElectronEffVarNames_12_EC:		pt
EJets.Level3ElectronEffName_12_CC_T15:		emid_L3ELE_SH_1_15_CC_v12
EJets.Level3ElectronEffVarNames_12_CC_T15:	pt
EJets.Level3ElectronEffName_12_CC_T20:		emid_L3ELE_SH_1_15_CC_v12
EJets.Level3ElectronEffVarNames_12_CC_T20:	pt
EJets.Level3ElectronEffName_12_CC_T25:		emid_L3ELE_SH_1_15_CC_v12
EJets.Level3ElectronEffVarNames_12_CC_T25:	pt
EJets.Level3ElectronEffName_12_CC_T30:		emid_L3ELE_SH_1_15_CC_v12
EJets.Level3ElectronEffVarNames_12_CC_T30:	pt
EJets.Level3JetEffName_12_CC_T20:		jetid_L3JET_1_20_CC_v12
EJets.Level3JetEffVarNames_12_CC_T20:		pt
EJets.Level3JetEffName_12_EC_T20:		jetid_L3JET_1_20_EC_v12
EJets.Level3JetEffVarNames_12_EC_T20:		pt
EJets.Level3JetEffName_12_ICD_T20:		jetid_L3JET_1_20_ICD_v12
EJets.Level3JetEffVarNames_12_ICD_T20:		pt


#
# Trigger Version 13a
#
EJets.Level1ElectronEffName_13a_CC:		emid_L1CEM_1_11_CC_v13a
EJets.Level1ElectronEffVarNames_13a_CC:		pt
EJets.Level2ElectronEffName_13a_CC:		emid_L2CALEM_1_15_CC_v13a
EJets.Level2ElectronEffVarNames_13a_CC:		pt
EJets.Level3ElectronEffName_13a_CC:		emid_L3ELE_SHT_1_15_CC_v13a
EJets.Level3ElectronEffVarNames_13a_CC:		pt
EJets.Level3ElectronEffName_13a_EC:		emid_L3ELE_SHT_1_15_EC_v13a
EJets.Level3ElectronEffVarNames_13a_EC:		pt
EJets.Level3ElectronEffName_13a_CC_T15:		emid_L3ELE_SH_1_15_CC_v13a
EJets.Level3ElectronEffVarNames_13a_CC_T15:	pt
EJets.Level3ElectronEffName_13a_CC_T20:		emid_L3ELE_SH_1_15_CC_v13a
EJets.Level3ElectronEffVarNames_13a_CC_T20:	pt
EJets.Level3ElectronEffName_13a_CC_T25:		emid_L3ELE_SH_1_15_CC_v13a
EJets.Level3ElectronEffVarNames_13a_CC_T25:	pt
EJets.Level3ElectronEffName_13a_CC_T30:		emid_L3ELE_SH_1_15_CC_v13a
EJets.Level3ElectronEffVarNames_13a_CC_T30:	pt
EJets.Level3JetEffName_13a_CC_T20:		jetid_L3JET_1_20_CC_v13a
EJets.Level3JetEffVarNames_13a_CC_T20:		pt
EJets.Level3JetEffName_13a_CC_T25:		jetid_L3JET_1_25_CC_v13a
EJets.Level3JetEffVarNames_13a_CC_T25:		pt
EJets.Level3JetEffName_13a_EC_T20:		jetid_L3JET_1_20_EC_v13a
EJets.Level3JetEffVarNames_13a_EC_T20:		pt
EJets.Level3JetEffName_13a_EC_T25:		jetid_L3JET_1_25_EC_v13a
EJets.Level3JetEffVarNames_13a_EC_T25:		pt
EJets.Level3JetEffName_13a_ICD_T20:		jetid_L3JET_1_20_ICD_v13a
EJets.Level3JetEffVarNames_13a_ICD_T20:		pt
EJets.Level3JetEffName_13a_ICD_T25:		jetid_L3JET_1_25_ICD_v13a
EJets.Level3JetEffVarNames_13a_ICD_T25:		pt

#
# Trigger Version 13b
#
EJets.Level1ElectronEffName_13b_CC:		emid_L1CEM_1_11_CC_v13b
EJets.Level1ElectronEffVarNames_13b_CC:	pt
EJets.Level2ElectronEffName_13b_CC:		emid_L2CALEM_1_15_CC_v13b
EJets.Level2ElectronEffVarNames_13b_CC:	pt
EJets.Level3ElectronEffName_13b_CC:		emid_L3ELE_SHT_1_15_CC_v13b
EJets.Level3ElectronEffVarNames_13b_CC:	pt
EJets.Level3ElectronEffName_13b_EC:		emid_L3ELE_SHT_1_15_EC_v13b
EJets.Level3ElectronEffVarNames_13b_EC:	pt
EJets.Level3ElectronEffName_13b_CC_T15:		emid_L3ELE_SH_1_15_CC_v13b
EJets.Level3ElectronEffVarNames_13b_CC_T15:	pt
EJets.Level3ElectronEffName_13b_CC_T20:		emid_L3ELE_SH_1_15_CC_v13b
EJets.Level3ElectronEffVarNames_13b_CC_T20:	pt
EJets.Level3ElectronEffName_13b_CC_T25:		emid_L3ELE_SH_1_15_CC_v13b
EJets.Level3ElectronEffVarNames_13b_CC_T25:	pt
EJets.Level3ElectronEffName_13b_CC_T30:		emid_L3ELE_SH_1_15_CC_v13b
EJets.Level3ElectronEffVarNames_13b_CC_T30:	pt
EJets.Level3JetEffName_13b_CC_T20:		jetid_L3JET_1_20_CC_v13b
EJets.Level3JetEffVarNames_13b_CC_T20:		pt
EJets.Level3JetEffName_13b_CC_T25:		jetid_L3JET_1_25_CC_v13b
EJets.Level3JetEffVarNames_13b_CC_T25:		pt
EJets.Level3JetEffName_13b_CC_T30:		jetid_L3JET_1_25_CC_v13b
EJets.Level3JetEffVarNames_13b_CC_T30:		pt
EJets.Level3JetEffName_13b_EC_T20:		jetid_L3JET_1_20_EC_v13b
EJets.Level3JetEffVarNames_13b_EC_T20:		pt
EJets.Level3JetEffName_13b_EC_T25:		jetid_L3JET_1_25_EC_v13b
EJets.Level3JetEffVarNames_13b_EC_T25:		pt
EJets.Level3JetEffName_13b_EC_T30:		jetid_L3JET_1_25_EC_v13b
EJets.Level3JetEffVarNames_13b_EC_T30:		pt
EJets.Level3JetEffName_13b_ICD_T20:		jetid_L3JET_1_20_ICD_v13b
EJets.Level3JetEffVarNames_13b_ICD_T20:		pt
EJets.Level3JetEffName_13b_ICD_T25:		jetid_L3JET_1_25_ICD_v13b
EJets.Level3JetEffVarNames_13b_ICD_T25:		pt
EJets.Level3JetEffName_13b_ICD_T30:		jetid_L3JET_1_25_ICD_v13b
EJets.Level3JetEffVarNames_13b_ICD_T30:		pt


#
# Trigger Version 14
#
EJets.Level1ElectronEffName_14_CC:		emid_L1CEM_1_11_CC_v14
EJets.Level1ElectronEffVarNames_14_CC:		pt
EJets.Level2ElectronEffName_14_CC:		emid_L2CALEM_1_15_CC_v14
EJets.Level2ElectronEffVarNames_14_CC:		pt
EJets.Level3ElectronEffName_14_CC:		emid_L3ELE_SHT_1_15_CC_v14
EJets.Level3ElectronEffVarNames_14_CC:		pt
EJets.Level3ElectronEffName_14_CC_T15:		emid_L3ELE_SH_1_15_CC_v14
EJets.Level3ElectronEffVarNames_14_CC_T15:	pt
EJets.Level3ElectronEffName_14_CC_T20:		emid_L3ELE_SH_1_15_CC_v14
EJets.Level3ElectronEffVarNames_14_CC_T20:	pt
EJets.Level3ElectronEffName_14_CC_T25:		emid_L3ELE_SH_1_15_CC_v14
EJets.Level3ElectronEffVarNames_14_CC_T25:	pt
EJets.Level3ElectronEffName_14_CC_T30:		emid_L3ELE_SH_1_15_CC_v14
EJets.Level3ElectronEffVarNames_14_CC_T30:	pt
EJets.Level3JetEffName_14_CC_T20:		jetid_L3JET_1_20_CC_v14
EJets.Level3JetEffVarNames_14_CC_T20:		pt
EJets.Level3JetEffName_14_CC_T25:		jetid_L3JET_1_25_CC_v14
EJets.Level3JetEffVarNames_14_CC_T25:		pt
#EJets.Level3JetEffName_14_CC_T30:		jetid_L3JET_1_30_CC_v14
#EJets.Level3JetEffVarNames_14_CC_T30:		pt
EJets.Level3JetEffName_14_EC_T20:		jetid_L3JET_1_20_EC_v14
EJets.Level3JetEffVarNames_14_EC_T20:		pt
EJets.Level3JetEffName_14_EC_T25:		jetid_L3JET_1_25_EC_v14
EJets.Level3JetEffVarNames_14_EC_T25:		pt
#EJets.Level3JetEffName_14_EC_T30:		jetid_L3JET_1_30_EC_v14
#EJets.Level3JetEffVarNames_14_EC_T30:		pt
EJets.Level3JetEffName_14_ICD_T20:		jetid_L3JET_1_20_ICD_v14
EJets.Level3JetEffVarNames_14_ICD_T20:		pt
EJets.Level3JetEffName_14_ICD_T25:		jetid_L3JET_1_25_ICD_v14
EJets.Level3JetEffVarNames_14_ICD_T25:		pt
#EJets.Level3JetEffName_14_ICD_T30:		jetid_L3JET_1_30_ICD_v14
#EJets.Level3JetEffVarNames_14_ICD_T30:		pt

########################################################