############# Trigger Group ##########################
MuJetsTrigger.Run:          cafTriggerEfficiency(MuJetsTrigger),Group(MuJets),cafTriggerOutput(MuJetsTrigger)
MuJetsTrigger.embranch:     %{caf_trigger.embranch}
MuJetsTrigger.mubranch:     %{caf_trigger.mubranch}
MuJetsTrigger.jetbranch:    %{caf_trigger.jetbranch}
MuJetsTrigger.metbranch:    %{caf_trigger.metbranch}
MuJetsTrigger.lumi:	    4.78,21.45,9.24,55.47,90.94,193.06,26.79,13.81,223.94,18.65,249.81
MuJetsTrigger.triglist:     08,09,10,11,12,13a,13b,13c,14a,14b,14c
MuJetsTrigger.histos:       MuJets,TriggerProbability
MuJetsTrigger.histosBins:   120
MuJetsTrigger.globalWeight: TriggerProbability
######################################################

############# Trigger Definition #####################
MuJets.Run:		Probability_MuJets(MuJets),TriggerProbability(MuJets)
MuJets.CombineL1L2L3:	MuJets
MuJets.TriggerVersions:	08,09,10,11,12,13a,13b,13c,14a,14b,14c
MuJets.Debug:		no
MuJets.MuonPath:	./muid_eff/results_data
MuJets.JetPath:		./jetid_eff/alljets
MuJets.MuonQuality:	mediumnseg3
MuJets.JetQuality:	goodJet

#
# Trigger Version 8
#
MuJets.Level1MuonEffVarNames_08_INC:	phi deteta
MuJets.Level1MuonObjQuality_08_INC:	l1atxx
MuJets.Level2MuonEffVarNames_08_INC:	phi deteta
MuJets.Level2MuonObjQuality_08_INC:	l2m0
MuJets.Level2MuonObjRelativeTo_08_INC:	mediumnseg3_l1atxx
MuJets.Level3JetEffVarNames_08_INC:	deteta pt
MuJets.Level3JetObjQuality_08_INC:	CJT(1,5)_ncu_none_0_SCJET_9_20
MuJets.Level3JetTriggerVersion_08_INC:	v8


#
# Trigger Version 9
#
MuJets.Level1MuonEffVarNames_09_INC:	phi deteta
MuJets.Level1MuonObjQuality_09_INC:	l1atxx
MuJets.Level2MuonEffVarNames_09_INC:	phi deteta
MuJets.Level2MuonObjQuality_09_INC:	l2m0
MuJets.Level2MuonObjRelativeTo_09_INC:	mediumnseg3_l1atxx
MuJets.Level3JetEffVarNames_09_INC:	deteta pt
MuJets.Level3JetObjQuality_09_INC:	CJT(1,5)_ncu_none_0_SCJET_9_20
MuJets.Level3JetTriggerVersion_09_INC:	v9


#
# Trigger Version 10
#
MuJets.Level1MuonEffVarNames_10_INC:	phi deteta
MuJets.Level1MuonObjQuality_10_INC:	l1atxx
MuJets.Level2MuonEffVarNames_10_INC:	phi deteta
MuJets.Level2MuonObjQuality_10_INC:	l2m0
MuJets.Level2MuonObjRelativeTo_10_INC:	mediumnseg3_l1atxx
MuJets.Level3JetEffVarNames_10_INC:	deteta pt
MuJets.Level3JetObjQuality_10_INC:	CJT(1,5)_ncu_none_0_SCJET_9_20
MuJets.Level3JetTriggerVersion_10_INC:	v10


#
# Trigger Version 11
#
MuJets.Level1MuonEffVarNames_11_INC:	phi deteta
MuJets.Level1MuonObjQuality_11_INC:	l1atxx
MuJets.Level2MuonEffVarNames_11_INC:	phi deteta
MuJets.Level2MuonObjQuality_11_INC:	l2m0
MuJets.Level2MuonObjRelativeTo_11_INC:	mediumnseg3_l1atxx
MuJets.Level3JetEffVarNames_11_INC:	deteta pt
MuJets.Level3JetObjQuality_11_INC:	CJT(1,5)_ncu_JET(0,5)_10_SCJET_9_20
MuJets.Level3JetTriggerVersion_11_INC:	v11


#
# Trigger Version 12
#
MuJets.Level1MuonEffVarNames_12_INC:	phi deteta
MuJets.Level1MuonObjQuality_12_INC:	l1atxx
MuJets.Level2MuonEffVarNames_12_INC:	phi deteta
MuJets.Level2MuonObjQuality_12_INC:	l2m0
MuJets.Level2MuonObjRelativeTo_12_INC:	mediumnseg3_l1atxx
MuJets.Level3JetEffVarNames_12_INC:	deteta pt
MuJets.Level3JetObjQuality_12_INC:	CJT(1,3)_ncu_JET(0,5)_10_SC5JET_9_PV3_25
MuJets.Level3JetTriggerVersion_12_INC:	v12


#
# Trigger Version 13a (13.0-13.2)
#
MuJets.Level1MuonEffVarNames_13a_INC:	phi deteta
MuJets.Level1MuonObjQuality_13a_INC:	l1atlx
MuJets.Level2MuonEffVarNames_13a_INC:	phi deteta
MuJets.Level2MuonObjQuality_13a_INC:	l2m0
MuJets.Level2MuonObjRelativeTo_13a_INC:	mediumnseg3_l1atlx
MuJets.Level3JetEffVarNames_13a_INC:	deteta pt
MuJets.Level3JetObjQuality_13a_INC:	CJT(1,5)_ncu_JET(0,5)_10_SC5JET_9_PV1_25
MuJets.Level3JetTriggerVersion_13a_INC:	v13


#
# Trigger Version 13b (13.2-13.3)
#
MuJets.Level1MuonEffVarNames_13b_INC:	phi deteta
MuJets.Level1MuonObjQuality_13b_INC:	l1atlx
MuJets.Level2MuonEffVarNames_13b_INC:	phi deteta
MuJets.Level2MuonObjQuality_13b_INC:	l2m0
MuJets.Level2MuonObjRelativeTo_13b_INC:	mediumnseg3_l1atlx
MuJets.Level3MuonEffVarNames_13b_INC:	phi deteta
MuJets.Level3MuonObjQuality_13b_INC:	l3l3
MuJets.Level3MuonObjRelativeTo_13b_INC:	mediumnseg3_l1atlx_l2m0
MuJets.Level3JetEffVarNames_13b_INC:	deteta pt
MuJets.Level3JetObjQuality_13b_INC:	CJT(1,5)_ncu_JET(0,5)_10_SC5JET_9_PV1_25
MuJets.Level3JetTriggerVersion_13b_INC:	v13


#
# Trigger Version 13c (13.3-14)
#
# There is no L1*L2 requirements for the L3 jet term. Hmmmm
# Thomas Gadfort (5/22/06)
#
MuJets.Level1MuonEffVarNames_13c_INC:	phi deteta
MuJets.Level1MuonObjQuality_13c_INC:	l1atlx
MuJets.Level2MuonEffVarNames_13c_INC:	phi deteta
MuJets.Level2MuonObjQuality_13c_INC:	l2m0
MuJets.Level2MuonObjRelativeTo_13c_INC:	mediumnseg3_l1atlx
MuJets.Level3MuonEffVarNames_13c_INC:	phi deteta
MuJets.Level3MuonObjQuality_13c_INC:	l3l3
MuJets.Level3MuonObjRelativeTo_13c_INC:	mediumnseg3_l1atlx_l2m0
MuJets.Level3JetEffVarNames_13c_INC:	deteta pt
MuJets.Level3JetObjQuality_13c_INC:	none_none_0_SC5JET_9_PV1_30
MuJets.Level3JetTriggerVersion_13c_INC:	v13.3


#
# Trigger Version 14a (14.0-14.2)
#
MuJets.Level1MuonEffVarNames_14a_INC:	phi deteta
MuJets.Level1MuonObjQuality_14a_INC:	l1atlx
MuJets.Level2MuonEffVarNames_14a_INC:	phi deteta
MuJets.Level2MuonObjQuality_14a_INC:	l2m0
MuJets.Level2MuonObjRelativeTo_14a_INC:	mediumnseg3_l1atlx
MuJets.Level3MuonEffVarNames_14a_INC:	phi deteta
MuJets.Level3MuonObjQuality_14a_INC:	l3l3
MuJets.Level3MuonObjRelativeTo_14a_INC:	mediumnseg3_l1atlx_l2m0
MuJets.Level3JetEffVarNames_14a_INC:	deteta pt
MuJets.Level3JetObjQuality_14a_INC:	CJT(1,5)_ncu_JET(0,5)_8_SC5JET_9_PV3_25
MuJets.Level3JetTriggerVersion_14a_INC:	v14


#
# Trigger Version 14b (14.2-14.2)
#
# We do not have turn on curves for the isolation.
# Thomas Gadfort (5/22/06)
#
MuJets.Level1MuonEffVarNames_14b_INC:	phi deteta
MuJets.Level1MuonObjQuality_14b_INC:	l1atlx
MuJets.Level2MuonEffVarNames_14b_INC:	phi deteta
MuJets.Level2MuonObjQuality_14b_INC:	l2m0
MuJets.Level2MuonObjRelativeTo_14b_INC:	mediumnseg3_l1atlx
MuJets.Level3MuonEffVarNames_14b_INC:	phi deteta
MuJets.Level3MuonObjQuality_14b_INC:	l3l3
MuJets.Level3MuonObjRelativeTo_14b_INC:	mediumnseg3_l1atlx_l2m0
MuJets.Level3JetEffVarNames_14b_INC:	deteta pt
MuJets.Level3JetObjQuality_14b_INC:	CJT(1,5)_ncu_JET(0,5)_8_SC5JET_9_PV3_25
MuJets.Level3JetTriggerVersion_14b_INC:	v14


#
# Trigger Version 14c (14.2-14.2)
#
# There is no 35 GeV L3 threshold trigger turn on curve right now. Hmmmm
# I'm going to use the 30 GeV guy.
# Thomas Gadfort (5/22/06)
#
MuJets.Level1MuonEffVarNames_14c_INC:	phi deteta
MuJets.Level1MuonObjQuality_14c_INC:	l1atlx
MuJets.Level2MuonEffVarNames_14c_INC:	phi deteta
MuJets.Level2MuonObjQuality_14c_INC:	l2m0
MuJets.Level2MuonObjRelativeTo_14c_INC:	mediumnseg3_l1atlx
MuJets.Level3MuonEffVarNames_14c_INC:	phi deteta
MuJets.Level3MuonObjQuality_14c_INC:	l3l3
MuJets.Level3MuonObjRelativeTo_14c_INC:	mediumnseg3_l1atlx_l2m0
MuJets.Level3JetEffVarNames_14c_INC:	deteta pt
MuJets.Level3JetObjQuality_14c_INC:	CJT(1,5)_ncu_JET(0,5)_8_SC5JET_9_PV3_25
MuJets.Level3JetTriggerVersion_14c_INC:	v14






