############# Trigger Group ##########################
SingleMuonTrigger.Run:          cafTriggerEfficiency(SingleMuonTrigger),Group(SingleMuon),cafTriggerOutput(SingleMuonTrigger)
SingleMuonTrigger.embranch:     TurnOff
SingleMuonTrigger.mubranch:     Muon
SingleMuonTrigger.jetbranch:    TurnOff
SingleMuonTrigger.metbranch:    TurnOff
SingleMuonTrigger.lumi:		20.0,21.2,15.2,54.4,209.8,250.0,150.0
SingleMuonTrigger.triglist:     8,9,10,11,12,13,14
SingleMuonTrigger.histos:       SingleMuon,TriggerProbability
SingleMuonTrigger.histosBins:   120
SingleMuonTrigger.globalWeight: TriggerProbability
######################################################

############# Trigger Definition #####################
SingleMuon.Run:			Probability_Muon(SingleMuon),TriggerProbability(SingleMuon)
SingleMuon.CombineL1L2L3:	SingleMuon
SingleMuon.TriggerVersions:	8,9,10,11,12,13,14
SingleMuon.Debug:		no
SingleMuon.MuonPath:		./muid_eff/results_data
SingleMuon.MuonQuality:		loose

#
# Trigger Version 8
#
SingleMuon.Level1MuonEffVarNames_8_INC:		phi deteta
SingleMuon.Level1MuonObjQuality_8_INC:		l1wtlx
SingleMuon.Level2MuonEffVarNames_8_INC:		phi deteta
SingleMuon.Level2MuonObjQuality_8_INC:		l2m3
SingleMuon.Level2MuonObjRelativeTo_8_INC:	loose_l1wtlx
SingleMuon.Level3TrackEffVarNames_8_INC:	z cfteta
SingleMuon.Level3TrackObjQuality_8_INC:		l3trk10

#
# Trigger Version 9
#
SingleMuon.Level1MuonEffVarNames_9_INC:		phi deteta
SingleMuon.Level1MuonObjQuality_9_INC:		l1wtlx
SingleMuon.Level2MuonEffVarNames_9_INC:		phi deteta
SingleMuon.Level2MuonObjQuality_9_INC:		l2m3
SingleMuon.Level2MuonObjRelativeTo_9_INC:	loose_l1wtlx
SingleMuon.Level3TrackEffVarNames_9_INC:	z cfteta
SingleMuon.Level3TrackObjQuality_9_INC:		l3trk10

#
# Trigger Version 10
#
SingleMuon.Level1MuonEffVarNames_10_INC:	phi deteta
SingleMuon.Level1MuonObjQuality_10_INC:		l1wtlx
SingleMuon.Level2MuonEffVarNames_10_INC:	phi deteta
SingleMuon.Level2MuonObjQuality_10_INC:		l2m3
SingleMuon.Level2MuonObjRelativeTo_10_INC:	loose_l1wtlx
SingleMuon.Level3TrackEffVarNames_10_INC:	z cfteta
SingleMuon.Level3TrackObjQuality_10_INC:	l3trk10

#
# Trigger Version 11
#
SingleMuon.Level1MuonEffVarNames_11_INC:	phi deteta
SingleMuon.Level1MuonObjQuality_11_INC:		l1wtlx
SingleMuon.Level2MuonEffVarNames_11_INC:	phi deteta
SingleMuon.Level2MuonObjQuality_11_INC:		l2m3
SingleMuon.Level2MuonObjRelativeTo_11_INC:	loose_l1wtlx
SingleMuon.Level3TrackEffVarNames_11_INC:	z cfteta
SingleMuon.Level3TrackObjQuality_11_INC:	l3trk10

#
# Trigger Version 12
#
SingleMuon.Level1MuonEffVarNames_12_INC:	phi deteta
SingleMuon.Level1MuonObjQuality_12_INC:		l1wtlx
SingleMuon.Level2MuonEffVarNames_12_INC:	phi deteta
SingleMuon.Level2MuonObjQuality_12_INC:		l2m3
SingleMuon.Level2MuonObjRelativeTo_12_INC:	loose_l1wtlx
SingleMuon.Level3TrackEffVarNames_12_INC:	z cfteta
SingleMuon.Level3TrackObjQuality_12_INC:	l3trk10

#
# Trigger Version 13
#
SingleMuon.Level1MuonEffVarNames_13_INC:	phi deteta
SingleMuon.Level1MuonObjQuality_13_INC:		l1wtlx
SingleMuon.Level2MuonEffVarNames_13_INC:	phi deteta
SingleMuon.Level2MuonObjQuality_13_INC:		l2m3
SingleMuon.Level2MuonObjRelativeTo_13_INC:	loose_l1wtlx
SingleMuon.Level3TrackEffVarNames_13_INC:	z cfteta
SingleMuon.Level3TrackObjQuality_13_INC:	l3trk10

#
# Trigger Version 14
#
SingleMuon.Level1MuonEffVarNames_14_INC:	phi deteta
SingleMuon.Level1MuonObjQuality_14_INC:		l1wtlx
SingleMuon.Level2MuonEffVarNames_14_INC:	phi deteta
SingleMuon.Level2MuonObjQuality_14_INC:		l2m3
SingleMuon.Level2MuonObjRelativeTo_14_INC:	loose_l1wtlx
SingleMuon.Level3TrackEffVarNames_14_INC:	z cfteta
SingleMuon.Level3TrackObjQuality_14_INC:	l3trk10
