
############ Trigger Group ##########################
DiMuonTrigger.Run: cafTriggerEfficiency(DiMuonTriggerEff),Group(DiMuon),cafTriggerOutput(DiMuonTriggerOut)
DiMuonTriggerEff.embranch:     TurnOff
DiMuonTriggerEff.mubranch:     selectedMuons
DiMuonTriggerEff.jetbranch:    TurnOff
DiMuonTriggerEff.metbranch:    TurnOff
DiMuonTriggerEff.lumi:         1
DiMuonTriggerEff.triglist:     13
DiMuonTriggerOut.histos:       DiMuon,TriggerProbability
DiMuonTriggerOut.histosBins:   120
DiMuonTriggerOut.globalWeight: TriggerProbability
######################################################

############# Trigger Definition #####################
DiMuon.Run: Probability_DiMuon(Muon_2mu),TriggerProbability(Muon_2mu)
Muon_2mu.CombineL1L2L3:        DiMuon
Muon_2mu.nTriggerRequirements: 2, 1, 1
Muon_2mu.TriggerVersions:      13
Muon_2mu.Debug:                no
Muon_2mu.MuonPath:             ./wzmuxsec/efficiencies/results_data_blind_v13a
Muon_2mu.MuonQuality:          loose


#
# Trigger Version 13
#
Muon_2mu.Level1MuonEffVarNames_13_INC:        phi deteta
Muon_2mu.Level1MuonObjQuality_13_INC:         l1atxx
Muon_2mu.Level2MuonEffVarNames_13_INC:        phi deteta
Muon_2mu.Level2MuonObjQuality_13_INC:         l2m0
Muon_2mu.Level2MuonObjRelativeTo_13_INC:      loose_l1atxx
Muon_2mu.Level3MuonEffVarNames_13_INC:        phi deteta
Muon_2mu.Level3MuonObjQuality_13_INC:         l3l6
Muon_2mu.Level3MuonObjRelativeTo_13_INC:      loose_l1atxx_l2m0

