############# Trigger Group ##########################
MuJetsTrigger.Run:          cafTriggerEfficiency(MuJetsTrigger),Group(MuJets),cafTriggerOutput(MuJetsTrigger)
MuJetsTrigger.embranch:     TurnOff
MuJetsTrigger.mubranch:     GoodMuon
MuJetsTrigger.jetbranch:    GoodJCCB
MuJetsTrigger.metbranch:    Met
MuJetsTrigger.lumi:	    20.0,21.2,15.2,54.4,209.8,250.0,150.0
MuJetsTrigger.triglist:     8,9,10,11,12,13,14
MuJetsTrigger.histos:       MuJets,TriggerProbability
MuJetsTrigger.histosBins:   120
MuJetsTrigger.globalWeight: TriggerProbability
######################################################

############# Trigger Definition #####################
MuJets.Run:		Probability_MuJets(MuJets),TriggerProbability(MuJets)
MuJets.CombineL1L2L3:	MuJets
MuJets.TriggerVersions:	8,9,10,11,12,13,14
MuJets.Debug:		no
MuJets.MuonPath:	./muid_eff/results_data
MuJets.JetPath:		./caf_trigger/parameters/top_trigger
MuJets.MuonQuality:	mediumnseg3

#
# Trigger Version 8
#
MuJets.Level1MuonEffVarNames_8_INC:	phi deteta
MuJets.Level1MuonObjQuality_8_INC:	l1atxx
MuJets.Level2MuonEffVarNames_8_INC:	phi deteta
MuJets.Level2MuonObjQuality_8_INC:	l2m0
MuJets.Level2MuonObjRelativeTo_8_INC:	mediumnseg3_l1atxx
MuJets.Level1JetEffName_8_CC:		jetid_L1CJT_1_5_CC_v8
MuJets.Level1JetEffVarNames_8_CC:		pt
MuJets.Level1JetEffName_8_EC:		jetid_L1CJT_1_5_EC_v8
MuJets.Level1JetEffVarNames_8_EC:		pt
MuJets.Level1JetEffName_8_ICD:		jetid_L1CJT_1_5_ICD_v8
MuJets.Level1JetEffVarNames_8_ICD:		pt
MuJets.Level3JetEffName_8_CC:		jetid_L3JET_1_20_CC_v8
MuJets.Level3JetEffVarNames_8_CC:		pt
MuJets.Level3JetEffName_8_EC:		jetid_L3JET_1_20_EC_v8
MuJets.Level3JetEffVarNames_8_EC:		pt
MuJets.Level3JetEffName_8_ICD:		jetid_L3JET_1_20_ICD_v8
MuJets.Level3JetEffVarNames_8_ICD:		pt


#
# Trigger Version 9
#
MuJets.Level1MuonEffVarNames_9_INC:		phi deteta
MuJets.Level1MuonObjQuality_9_INC:		l1atxx
MuJets.Level2MuonEffVarNames_9_INC:		phi deteta
MuJets.Level2MuonObjQuality_9_INC:		l2m0
MuJets.Level2MuonObjRelativeTo_9_INC:	mediumnseg3_l1atxx
MuJets.Level1JetEffName_9_CC:		jetid_L1CJT_1_5_CC_v9
MuJets.Level1JetEffVarNames_9_CC:		pt
MuJets.Level1JetEffName_9_EC:		jetid_L1CJT_1_5_EC_v9
MuJets.Level1JetEffVarNames_9_EC:		pt
MuJets.Level1JetEffName_9_ICD:		jetid_L1CJT_1_5_ICD_v9
MuJets.Level1JetEffVarNames_9_ICD:		pt
MuJets.Level3JetEffName_9_CC:		jetid_L3JET_1_20_CC_v9
MuJets.Level3JetEffVarNames_9_CC:		pt
MuJets.Level3JetEffName_9_EC:		jetid_L3JET_1_20_EC_v9
MuJets.Level3JetEffVarNames_9_EC:		pt
MuJets.Level3JetEffName_9_ICD:		jetid_L3JET_1_20_ICD_v9
MuJets.Level3JetEffVarNames_9_ICD:		pt


#
# Trigger Version 10
#
MuJets.Level1MuonEffVarNames_10_INC:		phi deteta
MuJets.Level1MuonObjQuality_10_INC:		l1atxx
MuJets.Level2MuonEffVarNames_10_INC:		phi deteta
MuJets.Level2MuonObjQuality_10_INC:		l2m0
MuJets.Level2MuonObjRelativeTo_10_INC:	mediumnseg3_l1atxx
MuJets.Level1JetEffName_10_CC:		jetid_L1CJT_1_5_CC_v10
MuJets.Level1JetEffVarNames_10_CC:		pt
MuJets.Level1JetEffName_10_EC:		jetid_L1CJT_1_5_EC_v10
MuJets.Level1JetEffVarNames_10_EC:		pt
MuJets.Level1JetEffName_10_ICD:		jetid_L1CJT_1_5_ICD_v10
MuJets.Level1JetEffVarNames_10_ICD:		pt
MuJets.Level3JetEffName_10_CC:		jetid_L3JET_1_20_CC_v10
MuJets.Level3JetEffVarNames_10_CC:		pt
MuJets.Level3JetEffName_10_EC:		jetid_L3JET_1_20_EC_v10
MuJets.Level3JetEffVarNames_10_EC:		pt
MuJets.Level3JetEffName_10_ICD:		jetid_L3JET_1_20_ICD_v10
MuJets.Level3JetEffVarNames_10_ICD:		pt


#
# Trigger Version 11
#
MuJets.Level1MuonEffVarNames_11_INC:		phi deteta
MuJets.Level1MuonObjQuality_11_INC:		l1atxx
MuJets.Level2MuonEffVarNames_11_INC:		phi deteta
MuJets.Level2MuonObjQuality_11_INC:		l2m0
MuJets.Level2MuonObjRelativeTo_11_INC:	mediumnseg3_l1atxx
MuJets.Level1JetEffName_11_CC:		jetid_L1CJT_1_5_CC_v11
MuJets.Level1JetEffVarNames_11_CC:		pt
MuJets.Level1JetEffName_11_EC:		jetid_L1CJT_1_5_EC_v11
MuJets.Level1JetEffVarNames_11_EC:		pt
MuJets.Level1JetEffName_11_ICD:		jetid_L1CJT_1_5_ICD_v11
MuJets.Level1JetEffVarNames_11_ICD:		pt
MuJets.Level3JetEffName_11_CC:		jetid_L3JET_1_20_CC_v11
MuJets.Level3JetEffVarNames_11_CC:		pt
MuJets.Level3JetEffName_11_EC:		jetid_L3JET_1_20_EC_v11
MuJets.Level3JetEffVarNames_11_EC:		pt
MuJets.Level3JetEffName_11_ICD:		jetid_L3JET_1_20_ICD_v11
MuJets.Level3JetEffVarNames_11_ICD:		pt


#
# Trigger Version 12
#
MuJets.Level1MuonEffVarNames_12_INC:		phi deteta
MuJets.Level1MuonObjQuality_12_INC:		l1atxx
MuJets.Level2MuonEffVarNames_12_INC:		phi deteta
MuJets.Level2MuonObjQuality_12_INC:		l2m0
MuJets.Level2MuonObjRelativeTo_12_INC:	mediumnseg3_l1atxx
MuJets.Level1JetEffName_12_CC:		jetid_L1CJT_1_3_CC_v12
MuJets.Level1JetEffVarNames_12_CC:		pt
MuJets.Level1JetEffName_12_EC:		jetid_L1CJT_1_3_EC_v12
MuJets.Level1JetEffVarNames_12_EC:		pt
MuJets.Level1JetEffName_12_ICD:		jetid_L1CJT_1_3_ICD_v12
MuJets.Level1JetEffVarNames_12_ICD:		pt
MuJets.Level2JetEffName_12_CC:		jetid_L2JET_1_10_CC_v12
MuJets.Level2JetEffVarNames_12_CC:		pt
MuJets.Level2JetEffName_12_EC:		jetid_L2JET_1_10_EC_v12
MuJets.Level2JetEffVarNames_12_EC:		pt
MuJets.Level2JetEffName_12_ICD:		jetid_L2JET_1_10_ICD_v12
MuJets.Level2JetEffVarNames_12_ICD:		pt
MuJets.Level3JetEffName_12_CC:		jetid_L3JET_1_25_CC_v12
MuJets.Level3JetEffVarNames_12_CC:		pt
MuJets.Level3JetEffName_12_EC:		jetid_L3JET_1_25_EC_v12
MuJets.Level3JetEffVarNames_12_EC:		pt
MuJets.Level3JetEffName_12_ICD:		jetid_L3JET_1_25_ICD_v12
MuJets.Level3JetEffVarNames_12_ICD:		pt


#
# Trigger Version 13
#
MuJets.Level1MuonEffVarNames_13_INC:	phi deteta
MuJets.Level1MuonObjQuality_13_INC:	l1atlx
MuJets.Level2MuonEffVarNames_13_INC:	phi deteta
MuJets.Level2MuonObjQuality_13_INC:	l2m0
MuJets.Level2MuonObjRelativeTo_13_INC:	mediumnseg3_l1atlx
MuJets.Level3MuonEffVarNames_13_INC:	phi deteta
MuJets.Level3MuonObjQuality_13_INC:	l3l0
MuJets.Level3MuonObjRelativeTo_13_INC:	mediumnseg3_l1atlx_l2m0
MuJets.Level1JetEffName_13_CC:		jetid_L1CJT_1_5_CC_v13
MuJets.Level1JetEffVarNames_13_CC:		pt
MuJets.Level1JetEffName_13_EC:		jetid_L1CJT_1_5_EC_v13
MuJets.Level1JetEffVarNames_13_EC:		pt
MuJets.Level1JetEffName_13_ICD:		jetid_L1CJT_1_5_ICD_v13
MuJets.Level1JetEffVarNames_13_ICD:		pt
MuJets.Level2JetEffName_13_CC:		jetid_L2JET_1_8_CC_v13
MuJets.Level2JetEffVarNames_13_CC:		pt
MuJets.Level2JetEffName_13_EC:		jetid_L2JET_1_8_EC_v13
MuJets.Level2JetEffVarNames_13_EC:		pt
MuJets.Level2JetEffName_13_ICD:		jetid_L2JET_1_8_ICD_v13
MuJets.Level2JetEffVarNames_13_ICD:		pt
MuJets.Level3JetEffName_13_CC:		jetid_L3JET_1_25_CC_v13
MuJets.Level3JetEffVarNames_13_CC:		pt
MuJets.Level3JetEffName_13_EC:		jetid_L3JET_1_25_EC_v13
MuJets.Level3JetEffVarNames_13_EC:		pt
MuJets.Level3JetEffName_13_ICD:		jetid_L3JET_1_25_ICD_v13
MuJets.Level3JetEffVarNames_13_ICD:		pt


#
# Trigger Version 14
#
MuJets.Level1MuonEffVarNames_14_INC:	phi deteta
MuJets.Level1MuonObjQuality_14_INC:	l1atlx
MuJets.Level2MuonEffVarNames_14_INC:	phi deteta
MuJets.Level2MuonObjQuality_14_INC:	l2m0
MuJets.Level2MuonObjRelativeTo_14_INC:	mediumnseg3_l1atlx
MuJets.Level3MuonEffVarNames_14_INC:	phi deteta
MuJets.Level3MuonObjQuality_14_INC:	l3l3
MuJets.Level3MuonObjRelativeTo_14_INC:	mediumnseg3_l1atlx_l2m0
MuJets.Level1JetEffName_14_CC:		jetid_L1CJT_1_5_CC_v14
MuJets.Level1JetEffVarNames_14_CC:		pt
MuJets.Level1JetEffName_14_EC:		jetid_L1CJT_1_5_EC_v14
MuJets.Level1JetEffVarNames_14_EC:		pt
MuJets.Level1JetEffName_14_ICD:		jetid_L1CJT_1_5_ICD_v14
MuJets.Level1JetEffVarNames_14_ICD:		pt
MuJets.Level2JetEffName_14_CC:		jetid_L2JET_1_8_CC_v14
MuJets.Level2JetEffVarNames_14_CC:		pt
MuJets.Level2JetEffName_14_EC:		jetid_L2JET_1_8_EC_v14
MuJets.Level2JetEffVarNames_14_EC:		pt
MuJets.Level2JetEffName_14_ICD:		jetid_L2JET_1_8_ICD_v14
MuJets.Level2JetEffVarNames_14_ICD:		pt
MuJets.Level3JetEffName_14_CC:		jetid_L3JET_1_25_CC_v14
MuJets.Level3JetEffVarNames_14_CC:		pt
MuJets.Level3JetEffName_14_EC:		jetid_L3JET_1_25_EC_v14
MuJets.Level3JetEffVarNames_14_EC:		pt
MuJets.Level3JetEffName_14_ICD:		jetid_L3JET_1_25_ICD_v14
MuJets.Level3JetEffVarNames_14_ICD:		pt






