############# Trigger Group ##########################
TopMultijetTrigger.Run:          cafTriggerEfficiency(TopMultijetTrigger),Group(TopMultijet),cafTriggerOutput(TopMultijetTrigger)
TopMultijetTrigger.embranch:     GoodElectron
TopMultijetTrigger.mubranch:     TurnOff
TopMultijetTrigger.jetbranch:    GoodJCCB
TopMultijetTrigger.lumi:	 4.89,21.5,9.22,55.26,199.22,47.12,314.9,214.03
TopMultijetTrigger.triglist:     8,9,10,11,12,13a,13b,14
TopMultijetTrigger.histos:       TopMultijet_L1,TopMultijet_L2,TopMultijet_L3,TriggerProbability
TopMultijetTrigger.histosBins:   120
TopMultijetTrigger.globalWeight: TriggerProbability
######################################################

############# Trigger Definition #####################
TopMultijet.Run: 		Probability_TopMultijet_L1(TopMultijet),Probability_TopMultijet_L2(TopMultijet),Probability_TopMultijet_L3(TopMultijet),TriggerProbability(TopMultijet)
TopMultijet.CombineL1L2L3:	TopMultijet_L1,TopMultijet_L2,TopMultijet_L3
TopMultijet.TriggerVersions:	8,9,10,11,12,13a,13b,14
TopMultijet.Debug:		no
TopMultijet.IncludeJets:	no
TopMultijet.IncludeElectronEC:	no
TopMultijet.ElectronPath:	./caf_trigger/parameters/top_trigger
TopMultijet.JetPath:		./caf_trigger/parameters/top_trigger

#
# Trigger Version 8
#
TopMultijet.Level1JetEffName_8_CC:		jetid_L1CJT_1_5_CC_v8
TopMultijet.Level1JetEffVarNames_8_CC:		pt
TopMultijet.Level1JetEffName_8_EC:		jetid_L1CJT_1_5_EC_v8
TopMultijet.Level1JetEffVarNames_8_EC:		pt
TopMultijet.Level1JetEffName_8_ICD:		jetid_L1CJT_1_5_ICD_v8
TopMultijet.Level1JetEffVarNames_8_ICD:		pt
TopMultijet.Level2JetEffName_8_CC:		jetid_L2JET_1_8_CC_v8
TopMultijet.Level2JetEffVarNames_8_CC:		pt
TopMultijet.Level2JetEffName_8_EC:		jetid_L2JET_1_8_EC_v8
TopMultijet.Level2JetEffVarNames_8_EC:		pt
TopMultijet.Level2JetEffName_8_ICD:		jetid_L2JET_1_8_ICD_v8
TopMultijet.Level2JetEffVarNames_8_ICD:		pt
TopMultijet.Level3JetEffName_8_CC_T10:		jetid_L3JET_1_10_CC_v8
TopMultijet.Level3JetEffVarNames_8_CC_T10:	pt
TopMultijet.Level3JetEffName_8_CC_T20:		jetid_L3JET_1_20_CC_v8
TopMultijet.Level3JetEffVarNames_8_CC_T20:	pt
TopMultijet.Level3JetEffName_8_EC_T10:		jetid_L3JET_1_10_EC_v8
TopMultijet.Level3JetEffVarNames_8_CC_T10:	pt
TopMultijet.Level3JetEffName_8_EC_T20:		jetid_L3JET_1_20_EC_v8
TopMultijet.Level3JetEffVarNames_8_CC_T20:	pt
TopMultijet.Level3JetEffName_8_ICD_T10:		jetid_L3JET_1_10_ICD_v8
TopMultijet.Level3JetEffVarNames_8_ICD_T10:	pt
TopMultijet.Level3JetEffName_8_ICD_T20:		jetid_L3JET_1_20_ICD_v8
TopMultijet.Level3JetEffVarNames_8_ICD_T20:	pt

#
# Trigger Version 9
#
TopMultijet.Level1JetEffName_9_CC:		jetid_L1CJT_1_5_CC_v9
TopMultijet.Level1JetEffVarNames_9_CC:		pt
TopMultijet.Level1JetEffName_9_EC:		jetid_L1CJT_1_5_EC_v9
TopMultijet.Level1JetEffVarNames_9_EC:		pt
TopMultijet.Level1JetEffName_9_ICD:		jetid_L1CJT_1_5_ICD_v9
TopMultijet.Level1JetEffVarNames_9_ICD:		pt
TopMultijet.Level2JetEffName_9_CC:		jetid_L2JET_1_8_CC_v9
TopMultijet.Level2JetEffVarNames_9_CC:		pt
TopMultijet.Level2JetEffName_9_EC:		jetid_L2JET_1_8_EC_v9
TopMultijet.Level2JetEffVarNames_9_EC:		pt
TopMultijet.Level2JetEffName_9_ICD:		jetid_L2JET_1_8_ICD_v9
TopMultijet.Level2JetEffVarNames_9_ICD:		pt
TopMultijet.Level3JetEffName_9_CC_T10:		jetid_L3JET_1_10_CC_v9
TopMultijet.Level3JetEffVarNames_9_CC_T10:	pt
TopMultijet.Level3JetEffName_9_CC_T20:		jetid_L3JET_1_20_CC_v9
TopMultijet.Level3JetEffVarNames_9_CC_T20:	pt
TopMultijet.Level3JetEffName_9_EC_T10:		jetid_L3JET_1_10_EC_v9
TopMultijet.Level3JetEffVarNames_9_CC_T10:	pt
TopMultijet.Level3JetEffName_9_EC_T20:		jetid_L3JET_1_20_EC_v9
TopMultijet.Level3JetEffVarNames_9_CC_T20:	pt
TopMultijet.Level3JetEffName_9_ICD_T10:		jetid_L3JET_1_10_ICD_v9
TopMultijet.Level3JetEffVarNames_9_ICD_T10:	pt
TopMultijet.Level3JetEffName_9_ICD_T20:		jetid_L3JET_1_20_ICD_v9
TopMultijet.Level3JetEffVarNames_9_ICD_T20:	pt

#
# Trigger Version 10
#
TopMultijet.Level1JetEffName_10_CC:		jetid_L1CJT_1_5_CC_v10
TopMultijet.Level1JetEffVarNames_10_CC:		pt
TopMultijet.Level1JetEffName_10_EC:		jetid_L1CJT_1_5_EC_v10
TopMultijet.Level1JetEffVarNames_10_EC:		pt
TopMultijet.Level1JetEffName_10_ICD:		jetid_L1CJT_1_5_ICD_v10
TopMultijet.Level1JetEffVarNames_10_ICD:	pt
TopMultijet.Level2JetEffName_10_CC:		jetid_L2JET_1_8_CC_v10
TopMultijet.Level2JetEffVarNames_10_CC:		pt
TopMultijet.Level2JetEffName_10_EC:		jetid_L2JET_1_8_EC_v10
TopMultijet.Level2JetEffVarNames_10_EC:		pt
TopMultijet.Level2JetEffName_10_ICD:		jetid_L2JET_1_8_ICD_v10
TopMultijet.Level2JetEffVarNames_10_ICD:	pt
TopMultijet.Level3JetEffName_10_CC_T10:		jetid_L3JET_1_10_CC_v10
TopMultijet.Level3JetEffVarNames_10_CC_T10:	pt
TopMultijet.Level3JetEffName_10_CC_T20:		jetid_L3JET_1_20_CC_v10
TopMultijet.Level3JetEffVarNames_10_CC_T20:	pt
TopMultijet.Level3JetEffName_10_EC_T10:		jetid_L3JET_1_10_EC_v10
TopMultijet.Level3JetEffVarNames_10_CC_T10:	pt
TopMultijet.Level3JetEffName_10_EC_T20:		jetid_L3JET_1_20_EC_v10
TopMultijet.Level3JetEffVarNames_10_CC_T20:	pt
TopMultijet.Level3JetEffName_10_ICD_T10:	jetid_L3JET_1_10_ICD_v10
TopMultijet.Level3JetEffVarNames_10_ICD_T10:	pt
TopMultijet.Level3JetEffName_10_ICD_T20:	jetid_L3JET_1_20_ICD_v10
TopMultijet.Level3JetEffVarNames_10_ICD_T20:	pt

#
# Trigger Version 11
#
TopMultijet.Level1JetEffName_11_CC:		jetid_L1CJT_1_5_CC_v11
TopMultijet.Level1JetEffVarNames_11_CC:		pt
TopMultijet.Level1JetEffName_11_EC:		jetid_L1CJT_1_5_EC_v11
TopMultijet.Level1JetEffVarNames_11_EC:		pt
TopMultijet.Level1JetEffName_11_ICD:		jetid_L1CJT_1_5_ICD_v11
TopMultijet.Level1JetEffVarNames_11_ICD:	pt
TopMultijet.Level2JetEffName_11_CC:		jetid_L2JET_1_8_CC_v11
TopMultijet.Level2JetEffVarNames_11_CC:		pt
TopMultijet.Level2JetEffName_11_EC:		jetid_L2JET_1_8_EC_v11
TopMultijet.Level2JetEffVarNames_11_EC:		pt
TopMultijet.Level2JetEffName_11_ICD:		jetid_L2JET_1_8_ICD_v11
TopMultijet.Level2JetEffVarNames_11_ICD:	pt
TopMultijet.Level3JetEffName_11_CC_T10:		jetid_L3JET_1_10_CC_v11
TopMultijet.Level3JetEffVarNames_11_CC_T10:	pt
TopMultijet.Level3JetEffName_11_CC_T20:		jetid_L3JET_1_20_CC_v11
TopMultijet.Level3JetEffVarNames_11_CC_T20:	pt
TopMultijet.Level3JetEffName_11_EC_T10:		jetid_L3JET_1_10_EC_v11
TopMultijet.Level3JetEffVarNames_11_CC_T10:	pt
TopMultijet.Level3JetEffName_11_EC_T20:		jetid_L3JET_1_20_EC_v11
TopMultijet.Level3JetEffVarNames_11_CC_T20:	pt
TopMultijet.Level3JetEffName_11_ICD_T10:	jetid_L3JET_1_10_ICD_v11
TopMultijet.Level3JetEffVarNames_11_ICD_T10:	pt
TopMultijet.Level3JetEffName_11_ICD_T20:	jetid_L3JET_1_20_ICD_v11
TopMultijet.Level3JetEffVarNames_11_ICD_T20:	pt


#
# Trigger Version 12
#
TopMultijet.Level1JetEffName_12_CC:		jetid_L1CJT_1_5_CC_v12
TopMultijet.Level1JetEffVarNames_12_CC:		pt
TopMultijet.Level1JetEffName_12_EC:		jetid_L1CJT_1_5_EC_v12
TopMultijet.Level1JetEffVarNames_12_EC:		pt
TopMultijet.Level1JetEffName_12_ICD:		jetid_L1CJT_1_5_ICD_v12
TopMultijet.Level1JetEffVarNames_12_ICD:	pt
TopMultijet.Level2JetEffName_12_CC:		jetid_L2JET_1_8_CC_v12
TopMultijet.Level2JetEffVarNames_12_CC:		pt
TopMultijet.Level2JetEffName_12_EC:		jetid_L2JET_1_8_EC_v12
TopMultijet.Level2JetEffVarNames_12_EC:		pt
TopMultijet.Level2JetEffName_12_ICD:		jetid_L2JET_1_8_ICD_v12
TopMultijet.Level2JetEffVarNames_12_ICD:	pt
TopMultijet.Level3JetEffName_12_CC_T12:		jetid_L3JET_1_12_CC_v12
TopMultijet.Level3JetEffVarNames_12_CC_T12:	pt
TopMultijet.Level3JetEffName_12_CC_T15:		jetid_L3JET_1_15_CC_v12
TopMultijet.Level3JetEffVarNames_12_CC_T15:	pt
TopMultijet.Level3JetEffName_12_CC_T25:		jetid_L3JET_1_25_CC_v12
TopMultijet.Level3JetEffVarNames_12_CC_T25:	pt
TopMultijet.Level3JetEffName_12_EC_T12:		jetid_L3JET_1_12_EC_v12
TopMultijet.Level3JetEffVarNames_12_CC_T12:	pt
TopMultijet.Level3JetEffName_12_EC_T15:		jetid_L3JET_1_15_EC_v12
TopMultijet.Level3JetEffVarNames_12_CC_T15:	pt
TopMultijet.Level3JetEffName_12_EC_T25:		jetid_L3JET_1_25_EC_v12
TopMultijet.Level3JetEffVarNames_12_CC_T25:	pt
TopMultijet.Level3JetEffName_12_ICD_T12:	jetid_L3JET_1_12_ICD_v12
TopMultijet.Level3JetEffVarNames_12_ICD_T12:	pt
TopMultijet.Level3JetEffName_12_ICD_T15:	jetid_L3JET_1_15_ICD_v12
TopMultijet.Level3JetEffVarNames_12_ICD_T15:	pt
TopMultijet.Level3JetEffName_12_ICD_T25:	jetid_L3JET_1_25_ICD_v12
TopMultijet.Level3JetEffVarNames_12_ICD_T25:	pt

#
# Trigger Version 13a
#
TopMultijet.Level1JetEffName_13a_CC:		jetid_L1CJT_1_5_CC_v13
TopMultijet.Level1JetEffVarNames_13a_CC:	pt
TopMultijet.Level1JetEffName_13a_EC:		jetid_L1CJT_1_5_EC_v13
TopMultijet.Level1JetEffVarNames_13a_EC:	pt
TopMultijet.Level1JetEffName_13a_ICD:		jetid_L1CJT_1_5_ICD_v13
TopMultijet.Level1JetEffVarNames_13a_ICD:	pt
TopMultijet.Level2JetEffName_13a_CC:		jetid_L2JET_1_6_CC_v13
TopMultijet.Level2JetEffVarNames_13a_CC:	pt
TopMultijet.Level2JetEffName_13a_EC:		jetid_L2JET_1_6_EC_v13
TopMultijet.Level2JetEffVarNames_13a_EC:	pt
TopMultijet.Level2JetEffName_13a_ICD:		jetid_L2JET_1_6_ICD_v13
TopMultijet.Level2JetEffVarNames_13a_ICD:	pt
TopMultijet.Level3JetEffName_13a_CC_T10:	jetid_L3JET_1_10_CC_v13
TopMultijet.Level3JetEffVarNames_13a_CC_T10:	pt
TopMultijet.Level3JetEffName_13a_CC_T12:	jetid_L3JET_1_12_CC_v13
TopMultijet.Level3JetEffVarNames_13a_CC_T12:	pt
TopMultijet.Level3JetEffName_13a_CC_T15:	jetid_L3JET_1_15_CC_v13
TopMultijet.Level3JetEffVarNames_13a_CC_T15:	pt
TopMultijet.Level3JetEffName_13a_CC_T25:	jetid_L3JET_1_25_CC_v13
TopMultijet.Level3JetEffVarNames_13a_CC_T25:	pt
TopMultijet.Level3JetEffName_13a_EC_T10:	jetid_L3JET_1_10_EC_v13
TopMultijet.Level3JetEffVarNames_13a_CC_T10:	pt
TopMultijet.Level3JetEffName_13a_EC_T12:	jetid_L3JET_1_12_EC_v13
TopMultijet.Level3JetEffVarNames_13a_CC_T12:	pt
TopMultijet.Level3JetEffName_13a_EC_T15:	jetid_L3JET_1_15_EC_v13
TopMultijet.Level3JetEffVarNames_13a_CC_T15:	pt
TopMultijet.Level3JetEffName_13a_EC_T25:	jetid_L3JET_1_25_EC_v13
TopMultijet.Level3JetEffVarNames_13a_CC_T25:	pt
TopMultijet.Level3JetEffName_13a_ICD_T10:	jetid_L3JET_1_10_ICD_v13
TopMultijet.Level3JetEffVarNames_13a_ICD_T10:	pt
TopMultijet.Level3JetEffName_13a_ICD_T12:	jetid_L3JET_1_12_ICD_v13
TopMultijet.Level3JetEffVarNames_13a_ICD_T12:	pt
TopMultijet.Level3JetEffName_13a_ICD_T15:	jetid_L3JET_1_15_ICD_v13
TopMultijet.Level3JetEffVarNames_13a_ICD_T15:	pt
TopMultijet.Level3JetEffName_13a_ICD_T25:	jetid_L3JET_1_25_ICD_v13
TopMultijet.Level3JetEffVarNames_13a_ICD_T25:	pt

#
# Trigger Version 13b
#
TopMultijet.Level1JetEffName_13b_CC:		jetid_L1CJT_1_5_CC_v13
TopMultijet.Level1JetEffVarNames_13b_CC:	pt
TopMultijet.Level1JetEffName_13b_EC:		jetid_L1CJT_1_5_EC_v13
TopMultijet.Level1JetEffVarNames_13b_EC:	pt
TopMultijet.Level1JetEffName_13b_ICD:		jetid_L1CJT_1_5_ICD_v13
TopMultijet.Level1JetEffVarNames_13b_ICD:	pt
TopMultijet.Level2JetEffName_13b_CC:		jetid_L2JET_1_6_CC_v13
TopMultijet.Level2JetEffVarNames_13b_CC:	pt
TopMultijet.Level2JetEffName_13b_EC:		jetid_L2JET_1_6_EC_v13
TopMultijet.Level2JetEffVarNames_13b_EC:	pt
TopMultijet.Level2JetEffName_13b_ICD:		jetid_L2JET_1_6_ICD_v13
TopMultijet.Level2JetEffVarNames_13b_ICD:	pt
TopMultijet.Level3JetEffName_13b_CC_T10:	jetid_L3JET_1_10_CC_v13
TopMultijet.Level3JetEffVarNames_13b_CC_T10:	pt
TopMultijet.Level3JetEffName_13b_CC_T12:	jetid_L3JET_1_12_CC_v13
TopMultijet.Level3JetEffVarNames_13b_CC_T12:	pt
TopMultijet.Level3JetEffName_13b_CC_T15:	jetid_L3JET_1_15_CC_v13
TopMultijet.Level3JetEffVarNames_13b_CC_T15:	pt
TopMultijet.Level3JetEffName_13b_CC_T25:	jetid_L3JET_1_25_CC_v13
TopMultijet.Level3JetEffVarNames_13b_CC_T25:	pt
TopMultijet.Level3JetEffName_13b_EC_T10:	jetid_L3JET_1_10_EC_v13
TopMultijet.Level3JetEffVarNames_13b_CC_T10:	pt
TopMultijet.Level3JetEffName_13b_EC_T12:	jetid_L3JET_1_12_EC_v13
TopMultijet.Level3JetEffVarNames_13b_CC_T12:	pt
TopMultijet.Level3JetEffName_13b_EC_T15:	jetid_L3JET_1_15_EC_v13
TopMultijet.Level3JetEffVarNames_13b_CC_T15:	pt
TopMultijet.Level3JetEffName_13b_EC_T25:	jetid_L3JET_1_25_EC_v13
TopMultijet.Level3JetEffVarNames_13b_CC_T25:	pt
TopMultijet.Level3JetEffName_13b_ICD_T10:	jetid_L3JET_1_10_ICD_v13
TopMultijet.Level3JetEffVarNames_13b_ICD_T10:	pt
TopMultijet.Level3JetEffName_13b_ICD_T12:	jetid_L3JET_1_12_ICD_v13
TopMultijet.Level3JetEffVarNames_13b_ICD_T12:	pt
TopMultijet.Level3JetEffName_13b_ICD_T15:	jetid_L3JET_1_15_ICD_v13
TopMultijet.Level3JetEffVarNames_13b_ICD_T15:	pt
TopMultijet.Level3JetEffName_13b_ICD_T25:	jetid_L3JET_1_25_ICD_v13
TopMultijet.Level3JetEffVarNames_13b_ICD_T25:	pt

#
# Trigger Version 14
#
TopMultijet.Level1JetEffName_14_CC:		jetid_L1CJT_1_5_CC_v14
TopMultijet.Level1JetEffVarNames_14_CC:		pt
TopMultijet.Level1JetEffName_14_EC:		jetid_L1CJT_1_5_EC_v14
TopMultijet.Level1JetEffVarNames_14_EC:		pt
TopMultijet.Level1JetEffName_14_ICD:		jetid_L1CJT_1_5_ICD_v14
TopMultijet.Level1JetEffVarNames_14_ICD:	pt
TopMultijet.Level2JetEffName_14_CC:		jetid_L2JET_1_6_CC_v14
TopMultijet.Level2JetEffVarNames_14_CC:		pt
TopMultijet.Level2JetEffName_14_EC:		jetid_L2JET_1_6_EC_v14
TopMultijet.Level2JetEffVarNames_14_EC:		pt
TopMultijet.Level2JetEffName_14_ICD:		jetid_L2JET_1_6_ICD_v14
TopMultijet.Level2JetEffVarNames_14_ICD:	pt
TopMultijet.Level3JetEffName_14_CC_T10:		jetid_L3JET_1_10_CC_v14
TopMultijet.Level3JetEffVarNames_14_CC_T10:	pt
TopMultijet.Level3JetEffName_14_CC_T12:		jetid_L3JET_1_12_CC_v14
TopMultijet.Level3JetEffVarNames_14_CC_T12:	pt
TopMultijet.Level3JetEffName_14_CC_T15:		jetid_L3JET_1_15_CC_v14
TopMultijet.Level3JetEffVarNames_14_CC_T15:	pt
TopMultijet.Level3JetEffName_14_CC_T25:		jetid_L3JET_1_25_CC_v14
TopMultijet.Level3JetEffVarNames_14_CC_T25:	pt
TopMultijet.Level3JetEffName_14_EC_T10:		jetid_L3JET_1_10_EC_v14
TopMultijet.Level3JetEffVarNames_14_CC_T10:	pt
TopMultijet.Level3JetEffName_14_EC_T12:		jetid_L3JET_1_12_EC_v14
TopMultijet.Level3JetEffVarNames_14_CC_T12:	pt
TopMultijet.Level3JetEffName_14_EC_T15:		jetid_L3JET_1_15_EC_v14
TopMultijet.Level3JetEffVarNames_14_CC_T15:	pt
TopMultijet.Level3JetEffName_14_EC_T25:		jetid_L3JET_1_25_EC_v14
TopMultijet.Level3JetEffVarNames_14_CC_T25:	pt
TopMultijet.Level3JetEffName_14_ICD_T10:	jetid_L3JET_1_10_ICD_v14
TopMultijet.Level3JetEffVarNames_14_ICD_T10:	pt
TopMultijet.Level3JetEffName_14_ICD_T12:	jetid_L3JET_1_12_ICD_v14
TopMultijet.Level3JetEffVarNames_14_ICD_T12:	pt
TopMultijet.Level3JetEffName_14_ICD_T15:	jetid_L3JET_1_15_ICD_v14
TopMultijet.Level3JetEffVarNames_14_ICD_T15:	pt
TopMultijet.Level3JetEffName_14_ICD_T25:	jetid_L3JET_1_25_ICD_v14
TopMultijet.Level3JetEffVarNames_14_ICD_T25:	pt

########################################################
