#!/usr/bin/env cafe
#
# MC e+jets single top analysis config
# Plan is to move this + includes to the 
# single_top_ledger package
######################################################

+cafe.Packages: 	caf_dq dq_util jetcorr caf_util emid_cuts gsl eff_utils
+cafe.Packages: 	top_cafe caf_trigger caf_eff_utils

cafe.Input:             listfile:top_cafe/filelists/mc/enbb_pruned.list

cafe.PartialReads:	false
cafe.Progress:  	100
cafe.Events:		100


# INCLUDES
######################################################

+cafe.Include:		top_cafe/configs/EventQuality.config
+cafe.Include:		top_cafe/configs/Trigger.config
+cafe.Include:		top_cafe/configs/EM.config
+cafe.Include:		top_cafe/configs/Jet.config
+cafe.Include:		top_cafe/configs/Muon.config
+cafe.Include:		top_cafe/configs/MET.config
+cafe.Include:		top_cafe/configs/Vertex.config
+cafe.Include:		top_cafe/configs/Triangle.config
+cafe.Include:		top_cafe/configs/TopoVars.config
+cafe.Include:		caf_trigger/configs/caf_trigger_toptrigger_ejets.config

# ANALYSIS CHAIN
######################################################

+cafe.Run:		Stat(eff)
+cafe.Run:		TopMCWeightFactors(mc_weight_factors)

+cafe.Run:		Group(TopDQMC)
+cafe.Run:		Group(SingleElectronSelection)
+cafe.Run:		ApplyJES(JES)
+cafe.Run:		Group(SingleTopJetSelection)
#+cafe.Run:		Group(MuonRejection)
+cafe.Run:		Group(VertexSelection_e)
+cafe.Run:		Group(SingleTopMET)

#+cafe.Run:		Group(stTriangleCuts_e)
+cafe.Run:		Group(TopEJetsTrigger)
#+cafe.Run:		EMCorr(ElectronCorr)
+cafe.Run:              StatGWeight
#+cafe.Run:		Group(stTopoVars_e)

#+cafe.Run:		Write(selected)
#+cafe.Run:		Write(skim)

######################################################

# integrated luminosity (inv pb)
mc_weight_factors.IntegratedLuminosity:	900

# OUTPUT
######################################################

cafe.Output:		stEjets_MC.root

eff.Output: 		stEjets_MC_efftable
eff.Sample: 		MC

skim.File: 		stEjets_MC_Skim.root

selected.File: 		stEjets_MC_Skim.root
selected.Tree: 		SelectedObjects

######################################################
