############# Electron Histograms ###############################
ElectronHistograms.Run:	     Hist1D(GoodElectronPt),Hist1D(GoodElectronEta)

GoodElectronPt.Title:		     Good Electron P_{T}
GoodElectronPt.Bins:		     100 0.0 200.0
GoodElectronPt.Draw:		     GoodElectron[0].Pt()

GoodElectronEta.Title:		     Good Electron #eta
GoodElectronEta.Bins:		     60 -3.0 3.0
GoodElectronEta.Draw:		     GoodElectron[0].CalDetectorEta()
############################################################


############# Electron Histograms ###############################
ElectronHistogramsTrigger.Run:	     Hist1D(GoodElectronPtTrigger),Hist1D(GoodElectronEtaTrigger)

GoodElectronPtTrigger.Title:		     Good Electron P_{T} w/ Trigger Weight
GoodElectronPtTrigger.Bins:		     100 0.0 200.0
GoodElectronPtTrigger.Draw:		     GoodElectron[0].Pt()
GoodElectronPtTrigger.Weight:		     TriggerProbability

GoodElectronEtaTrigger.Title:		     Good Electron #eta w/ Trigger Weight
GoodElectronEtaTrigger.Bins:		     60 -3.0 3.0
GoodElectronEtaTrigger.Draw:		     GoodElectron[0].CalDetectorEta()
GoodElectronEtaTrigger.Weight:		     TriggerProbability
############################################################

