############# Jet Histograms ###############################
JetHistograms.Run:	     Hist1D(LeadingJetPt),Hist1D(SecondJetPt),Hist1D(LeadingJetEta),Hist1D(SecondJetEta)

LeadingJetPt.Title:		     Leading Jet P_{T}
LeadingJetPt.Bins:		     150 0.0 300.0
LeadingJetPt.Draw:		     GoodJCCB[0].Pt()

LeadingJetEta.Title:		     Leading Jet #eta
LeadingJetEta.Bins:		     100 -3.0 3.0
LeadingJetEta.Draw:		     GoodJCCB[0].Eta()

SecondJetPt.Title:		     Second Jet P_{T}
SecondJetPt.Bins:		     100 0.0 200.0
SecondJetPt.Draw:		     GoodJCCB[1].Pt()

SecondJetEta.Title:		     Second Jet #eta
SecondJetEta.Bins:		     100 -4.0 4.0
SecondJetEta.Draw:		     GoodJCCB[1].Eta()
############################################################


############# Jet Histograms ###############################
JetHistogramsTrigger.Run:	     Hist1D(LeadingJetPtTrigger),Hist1D(SecondJetPtTrigger),Hist1D(LeadingJetEtaTrigger),Hist1D(SecondJetEtaTrigger)

LeadingJetPtTrigger.Title:		     Leading Jet P_{T} w/ Trigger Weight
LeadingJetPtTrigger.Bins:		     150 0.0 300.0
LeadingJetPtTrigger.Draw:		     GoodJCCB[0].Pt()
LeadingJetPtTrigger.Weight:		     TriggerProbability

LeadingJetEtaTrigger.Title:		     Leading Jet #eta w/ Trigger Weight
LeadingJetEtaTrigger.Bins:		     100 -3.0 3.0
LeadingJetEtaTrigger.Draw:		     GoodJCCB[0].Eta()
LeadingJetEtaTrigger.Weight:		     TriggerProbability

SecondJetPtTrigger.Title:		     Second Jet P_{T} w/ Trigger Weight
SecondJetPtTrigger.Bins:		     100 0.0 200.0
SecondJetPtTrigger.Draw:		     GoodJCCB[1].Pt()
SecondJetPtTrigger.Weight:		     TriggerProbability

SecondJetEtaTrigger.Title:		     Second Jet #eta w/ Trigger Weight
SecondJetEtaTrigger.Bins:		     100 -4.0 4.0
SecondJetEtaTrigger.Draw:		     GoodJCCB[1].Eta()
SecondJetEtaTrigger.Weight:		     TriggerProbability
############################################################

