############# Muon Histograms ###############################
MuonHistograms.Run:	     Hist1D(MediumMuonPt),Hist1D(MediumMuonEta)

MediumMuonPt.Title:		     Medium Muon P_{T}
MediumMuonPt.Bins:		     100 0.0 200.0
MediumMuonPt.Draw:		     MediumMuon[0].Pt()

MediumMuonEta.Title:		     Medium Muon #eta
MediumMuonEta.Bins:		     50 -2.5 2.5
MediumMuonEta.Draw:		     MediumMuon[0].Eta()
############################################################


############# Muon Histograms ###############################
MuonHistogramsTrigger.Run:	     Hist1D(MediumMuonPtTrigger),Hist1D(MediumMuonEtaTrigger)

MediumMuonPtTrigger.Title:		     Medium Muon P_{T} w/ Trigger Weight
MediumMuonPtTrigger.Bins:		     100 0.0 200.0
MediumMuonPtTrigger.Draw:		     MediumMuon[0].Pt()
MediumMuonPtTrigger.Weight:		     TriggerProbability

MediumMuonEtaTrigger.Title:		     Medium Muon #eta w/ Trigger Weight
MediumMuonEtaTrigger.Bins:		     50 -2.5 2.5
MediumMuonEtaTrigger.Draw:		     MediumMuon[0].Eta()
MediumMuonEtaTrigger.Weight:		     TriggerProbability
############################################################

