###########################################
#
#  Example config file to match muons
#
###########################################

cafe.Input:		listfile:top_cafe/filelists/data/mujets_data_0.list
cafe.Progress:		100
cafe.Events:		500
cafe.Output:		MuonTriggerMatch
+cafe.Packages: 	caf_dq dq_util jetcorr emid_cuts caf_util
+cafe.Packages: 	eff_utils caf_trigger

cafe.PartialReads:	false


# B. ANALYSIS CHAIN
######################################################

+cafe.Run:	Group(Stat)

+cafe.Run:	Group(LooseMuon)

+cafe.Run:	Group(MatchMuon)

+cafe.Run:	Passed

######################################################

Stat.Run:		Stat(eff)
eff.Output: 		Matching

############################################################
#
# Loose muon selection
#
############################################################
LooseMuon.Run:			MuonSelector(muon)

muon.From:			Muon
muon.To:			LooseMuon
#muon.Tree:			TMBTree
muon.JetBranch:			JCCB
muon.UseBeamSpot:               false
muon.pT:			15
muon.eta:			2.0
muon.Sort:			true
muon.Path:			./caf_util/configs/
muon.MuonQualityName:		MediumNSeg3
muon.MuonQualityVersion:	1
muon.TrkQualityName:		Medium
muon.IsoQualityName:		None
muon.nMuons:			1
muon.nMuonsMax:			1


############################################################
#
# Matching parameters for mu+jets trigger
#
############################################################
MatchMuon.Run:			MuonTriggerMatch(MatchMuonOne)
+MatchMuon.Run:			MuonTriggerMatch(MatchMuonTwo)
+MatchMuon.Run:			MuonTriggerMatch(MatchMuonThree)

MatchMuonOne.muonBranch:		LooseMuon
MatchMuonOne.TriggerVersions:		8.00,12.99
MatchMuonOne.UseRunRange:		true
MatchMuonOne.Muon0_requireL1L2L3:	1,1,0
MatchMuonOne.Level1MuonObject:		l1atxx
MatchMuonOne.Level2MuonObject:		l2m0

MatchMuonTwo.muonBranch:		LooseMuon
MatchMuonTwo.TriggerVersions:		13.00, 13.19
MatchMuonTwo.UseRunRange:		true
MatchMuonTwo.Muon0_requireL1L2L3:	1,1,0
MatchMuonTwo.Level1MuonObject:		l1atlx
MatchMuonTwo.Level2MuonObject:		l2m0

MatchMuonThree.muonBranch:		LooseMuon
MatchMuonThree.TriggerVersions:		13.20, 14.99
MatchMuonThree.UseRunRange:		true
MatchMuonThree.Muon0_requireL1L2L3:	1,1,1
MatchMuonThree.Level1MuonObject:	l1atlx
MatchMuonThree.Level2MuonObject:	l2m0
MatchMuonThree.Level3MuonObject:	l3l3


###########################################




