# Example config for ORing MU+TAU Triggers + Single MU OR

############# Trigger Group ##########################
MUHI_MTATrigger.Run:          cafTriggerEfficiency(MUHI_MTATrigger),Group(MUHI_MTA),cafTriggerOutput(MUHI_MTATriggerOut)

MUHI_MTATrigger.embranch:     TurnOff

MUHI_MTATrigger.mubranch:     %{VJets.SignalMuon_Branch}

MUHI_MTATrigger.jetbranch:    %{VJets.GoodJet_Branch}

MUHI_MTATrigger.metbranch:    TurnOff

MUHI_MTATrigger.taubranch:    %{User.Tau_Branch}

MUHI_MTATrigger.sigma:        true

MUHI_MTATrigger.lumi:	      167.11,41.33,554.52,451.59,396.32


MUHI_MTATrigger.triglist:     15a,15b,15c,15d,15e

MUHI_MTATrigger.histos:       MuTauOR,TriggerProbability

MUHI_MTATrigger.histosBins:   120

MUHI_MTATriggerOut.globalWeight: TriggerProbability

######################################################

############# Trigger Definition #####################
MUHI_MTA.Run:		Probability_MuTauORSingleMuonOR(MUHI_MTA),TriggerProbability(MUHI_MTA)


MUHI_MTA.CombineL1L2L3: MuTauOR

MUHI_MTA.Systematic: nominal

MUHI_MTA.Muon0_requireL1L2L3: 0,0,1

MUHI_MTA.TriggerVersions: 15a,15b,15c,15d,15e

MUHI_MTA.Debug:		no

MUHI_MTA.Path:	        caf_trigger/parameters/results_mutauor
MUHI_MTA.MuonPath:	caf_trigger/parameters/results_mutauor
MUHI_MTA.MuonORPath:	caf_trigger/parameters/results_mutauor
MUHI_MTA.TauPath:	caf_trigger/parameters/results_mutauor
MUHI_MTA.sigma:         true
MUHI_MTA.MuonQuality:	%{VJets.TightMuon_Quality}_%{VJets.TightMuon_TrkQuality}_iso_%{VJets.TightMuon_IsoQuality}
#MUHI_MTA.MuonQuality:	loose_trackmedium_iso_NPTight
MUHI_MTA.TauQuality:    Type2_NN9

#Dummy
MUHI_MTA.TrackQuality: track_medium

MUHI_MTA.Level3MuonEffVarNames_15a_INC:         deteta phi pt
MUHI_MTA.Level3MuonObjQuality_15a_INC:          MuFromMuTauOR
MUHI_MTA.Level3MuonTriggerVersionLow_15a_INC:  15
MUHI_MTA.Level3MuonTriggerVersionHigh_15a_INC: 15.14

MUHI_MTA.Level3SingleMuonOREffVarNames_15a_INC:         deteta phi pt
MUHI_MTA.Level3SingleMuonORObjQuality_15a_INC:          SingleMuonTriggersOR
MUHI_MTA.Level3SingleMuonORTriggerVersionLow_15a_INC:  15
MUHI_MTA.Level3SingleMuonORTriggerVersionHigh_15a_INC: 15.14

MUHI_MTA.Level3MuANDSingleMuonOREffVarNames_15a_INC:         deteta phi pt
MUHI_MTA.Level3MuANDSingleMuonORObjQuality_15a_INC:    SingleMuonTriggersOR-AND-MuFromMuTau 
MUHI_MTA.Level3MuANDSingleMuonORTriggerVersionLow_15a_INC:  15
MUHI_MTA.Level3MuANDSingleMuonORTriggerVersionHigh_15a_INC: 15.14

MUHI_MTA.Level3MuonEffVarNames_15b_INC:         deteta phi pt
MUHI_MTA.Level3MuonObjQuality_15b_INC:          MuFromMuTauOR
MUHI_MTA.Level3MuonTriggerVersionLow_15b_INC:  15.14
MUHI_MTA.Level3MuonTriggerVersionHigh_15b_INC: 15.2

MUHI_MTA.Level3SingleMuonOREffVarNames_15b_INC:         deteta phi pt
MUHI_MTA.Level3SingleMuonORObjQuality_15b_INC:          SingleMuonTriggersOR
MUHI_MTA.Level3SingleMuonORTriggerVersionLow_15b_INC:  15.14
MUHI_MTA.Level3SingleMuonORTriggerVersionHigh_15b_INC: 15.2

MUHI_MTA.Level3MuANDSingleMuonOREffVarNames_15b_INC:         deteta phi pt
MUHI_MTA.Level3MuANDSingleMuonORObjQuality_15b_INC:    SingleMuonTriggersOR-AND-MuFromMuTau 
MUHI_MTA.Level3MuANDSingleMuonORTriggerVersionLow_15b_INC:  15.14
MUHI_MTA.Level3MuANDSingleMuonORTriggerVersionHigh_15b_INC: 15.2

MUHI_MTA.Level3MuonEffVarNames_15c_INC:         deteta phi pt
MUHI_MTA.Level3MuonObjQuality_15c_INC:          MuFromMuTauOR
MUHI_MTA.Level3MuonTriggerVersionLow_15c_INC:  15.2
MUHI_MTA.Level3MuonTriggerVersionHigh_15c_INC: 15.6

MUHI_MTA.Level3SingleMuonOREffVarNames_15c_INC:         deteta phi pt
MUHI_MTA.Level3SingleMuonORObjQuality_15c_INC:          SingleMuonTriggersOR
MUHI_MTA.Level3SingleMuonORTriggerVersionLow_15c_INC:  15.2
MUHI_MTA.Level3SingleMuonORTriggerVersionHigh_15c_INC: 15.6

MUHI_MTA.Level3MuANDSingleMuonOREffVarNames_15c_INC:         deteta phi pt
MUHI_MTA.Level3MuANDSingleMuonORObjQuality_15c_INC:    SingleMuonTriggersOR-AND-MuFromMuTau 
MUHI_MTA.Level3MuANDSingleMuonORTriggerVersionLow_15c_INC:  15.2
MUHI_MTA.Level3MuANDSingleMuonORTriggerVersionHigh_15c_INC: 15.6

MUHI_MTA.Level3MuonEffVarNames_15d_INC:         deteta phi pt
MUHI_MTA.Level3MuonObjQuality_15d_INC:          MuFromMuTauOR
MUHI_MTA.Level3MuonTriggerVersionLow_15d_INC:  15.60
MUHI_MTA.Level3MuonTriggerVersionHigh_15d_INC: 15.9

MUHI_MTA.Level3SingleMuonOREffVarNames_15d_INC:         deteta phi pt
MUHI_MTA.Level3SingleMuonORObjQuality_15d_INC:          SingleMuonTriggersOR
MUHI_MTA.Level3SingleMuonORTriggerVersionLow_15d_INC:  15.60
MUHI_MTA.Level3SingleMuonORTriggerVersionHigh_15d_INC: 15.9

MUHI_MTA.Level3MuANDSingleMuonOREffVarNames_15d_INC:         deteta phi pt
MUHI_MTA.Level3MuANDSingleMuonORObjQuality_15d_INC:    SingleMuonTriggersOR-AND-MuFromMuTau 
MUHI_MTA.Level3MuANDSingleMuonORTriggerVersionLow_15d_INC:  15.60
MUHI_MTA.Level3MuANDSingleMuonORTriggerVersionHigh_15d_INC: 15.9

MUHI_MTA.Level3MuonEffVarNames_15e_INC:         deteta phi pt
MUHI_MTA.Level3MuonObjQuality_15e_INC:          MuFromMuTauOR
MUHI_MTA.Level3MuonTriggerVersionLow_15e_INC:  15.90
MUHI_MTA.Level3MuonTriggerVersionHigh_15e_INC: 16.0

MUHI_MTA.Level3SingleMuonOREffVarNames_15e_INC:         deteta phi pt
MUHI_MTA.Level3SingleMuonORObjQuality_15e_INC:          SingleMuonTriggersOR
MUHI_MTA.Level3SingleMuonORTriggerVersionLow_15e_INC:  15.90
MUHI_MTA.Level3SingleMuonORTriggerVersionHigh_15e_INC: 15.99

MUHI_MTA.Level3MuANDSingleMuonOREffVarNames_15e_INC:         deteta phi pt
MUHI_MTA.Level3MuANDSingleMuonORObjQuality_15e_INC:    SingleMuonTriggersOR-AND-MuFromMuTau 
MUHI_MTA.Level3MuANDSingleMuonORTriggerVersionLow_15e_INC:  15.90
MUHI_MTA.Level3MuANDSingleMuonORTriggerVersionHigh_15e_INC: 15.99

MUHI_MTA.Level3TauEffVarNames_15a_INC:         pt absdeta
MUHI_MTA.Level3TauObjQuality_15a_INC:          TauOR
MUHI_MTA.Level3TauTriggerVersionLow_15a_INC:  15
MUHI_MTA.Level3TauTriggerVersionHigh_15a_INC: 15.14

MUHI_MTA.Level3TauEffVarNames_15b_INC:         pt absdeta
MUHI_MTA.Level3TauObjQuality_15b_INC:          TauOR
MUHI_MTA.Level3TauTriggerVersionLow_15b_INC:  15.14
MUHI_MTA.Level3TauTriggerVersionHigh_15b_INC: 15.2

MUHI_MTA.Level3TauEffVarNames_15c_INC:         pt absdeta
MUHI_MTA.Level3TauObjQuality_15c_INC:          TauOR
MUHI_MTA.Level3TauTriggerVersionLow_15c_INC:  15.2
MUHI_MTA.Level3TauTriggerVersionHigh_15c_INC: 15.6

MUHI_MTA.Level3TauEffVarNames_15d_INC:         pt absdeta
MUHI_MTA.Level3TauObjQuality_15d_INC:          TauOR
MUHI_MTA.Level3TauTriggerVersionLow_15d_INC:  15.6
MUHI_MTA.Level3TauTriggerVersionHigh_15d_INC: 15.9

MUHI_MTA.Level3TauEffVarNames_15e_INC:         pt absdeta
MUHI_MTA.Level3TauObjQuality_15e_INC:          TauOR
MUHI_MTA.Level3TauTriggerVersionLow_15e_INC:  15.9
MUHI_MTA.Level3TauTriggerVersionHigh_15e_INC: 16.0
