# Example config for doing trigger matching for MU+TAU Triggers ORing Single MU OR

######################################## Trigger Selection in DATA ####################

triggers.Triggers: MUHI1_ITLM10 MUHI1_TK12_TLM12 MUHI1_ILM15 MUHI2_ITLM10 MUHI2_TK12_TLM12 MUHI2_ILM15 MUHI3_ITLM10 MUHI3_TK12_TLM12 MUHI3_ILM15 MTA1_TLM10T10NN1 MTA1_ILM10T10NN1 MTA1_ITLM5T10NN1  MTA3_TLM10T10NN1 MTA3_ILM10T10NN1 MTA3_ITLM5T10NN1 MTA4_TLM10T10NN1 MTA4_ILM10T10NN1 MTA4_ITLM5T10NN1 MTA6_TLM10T10NN1 MTA6_ILM10T10NN1 MTA6_ITLM5T10NN1 MTA1_TLM10T5NN3 MTA1_ILM10T5NN3 MTA1_ITLM5T5NN3  MTA3_TLM10T5NN3 MTA3_ILM10T5NN3 MTA3_ITLM5T5NN3 MTA4_TLM10T5NN3 MTA4_ILM10T5NN3 MTA4_ITLM5T5NN3 MTA6_TLM10T5NN3 MTA6_ILM10T5NN3 MTA6_ITLM5T5NN3 


######################################## Single MU OR Trigger Matching ##############################3

mutrigormatch.muonBranch: %{VJets.SignalMuon_Branch}
mutrigormatch.RecoVer: p20.08.02
mutrigormatch.TreeName: TriggerInfo
mutrigormatch.Debug: 0
mutrigormatch.UseTriggerFired: true
mutrigormatch.ListOfTriggers: MUHI1_ITLM10 MUHI1_TK12_TLM12 MUHI1_ILM15 MUHI2_ITLM10 MUHI2_TK12_TLM12 MUHI2_ILM15 MUHI3_ITLM10 MUHI3_TK12_TLM12 MUHI3_ILM15 MTA1_TLM10T10NN1 MTA1_ILM10T10NN1 MTA1_ITLM5T10NN1  MTA3_TLM10T10NN1 MTA3_ILM10T10NN1 MTA3_ITLM5T10NN1 MTA4_TLM10T10NN1 MTA4_ILM10T10NN1 MTA4_ITLM5T10NN1 MTA6_TLM10T10NN1 MTA6_ILM10T10NN1 MTA6_ITLM5T10NN1 MTA1_TLM10T5NN3 MTA1_ILM10T5NN3 MTA1_ITLM5T5NN3  MTA3_TLM10T5NN3 MTA3_ILM10T5NN3 MTA3_ITLM5T5NN3 MTA4_TLM10T5NN3 MTA4_ILM10T5NN3 MTA4_ITLM5T5NN3 MTA6_TLM10T5NN3 MTA6_ILM10T5NN3 MTA6_ITLM5T5NN3
mutrigormatch.Summary: false

MuonTriggerORMatch_p20.08.02_MUHI1_ITLM10.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MUHI1_ITLM10.Level1MuonObject: l113wtlx
MuonTriggerORMatch_p20.08.02_MUHI1_ITLM10.Level2MuonObject: l2m3
MuonTriggerORMatch_p20.08.02_MUHI1_ITLM10.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MUHI1_ITLM10.Level1TrackObject: l1trk10
MuonTriggerORMatch_p20.08.02_MUHI1_ITLM10.Level3TrackObject: l3trk10h10
MuonTriggerORMatch_p20.08.02_MUHI1_ITLM10.Level3IsolationObject: ISO_MUON_CM_L1
MuonTriggerORMatch_p20.08.02_MUHI1_ITLM10.Level3CMObject: l3cml10
MuonTriggerORMatch_p20.08.02_MUHI1_ITLM10.Level2TrackObject: l2trk20

MuonTriggerORMatch_p20.08.02_MUHI1_TK12_TLM12.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MUHI1_TK12_TLM12.Level1MuonObject: l113wtlx
MuonTriggerORMatch_p20.08.02_MUHI1_TK12_TLM12.Level2MuonObject: l2m3
MuonTriggerORMatch_p20.08.02_MUHI1_TK12_TLM12.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MUHI1_TK12_TLM12.Level1TrackObject: l1trk10
MuonTriggerORMatch_p20.08.02_MUHI1_TK12_TLM12.Level3TrackObject: l3trk12h10
MuonTriggerORMatch_p20.08.02_MUHI1_TK12_TLM12.Level3CMObject: l3cml12
MuonTriggerORMatch_p20.08.02_MUHI1_TK12_TLM12.Level2TrackObject: l2trk20

MuonTriggerORMatch_p20.08.02_MUHI1_ILM15.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MUHI1_ILM15.Level1MuonObject: l113wtlx
MuonTriggerORMatch_p20.08.02_MUHI1_ILM15.Level2MuonObject: l2m3
MuonTriggerORMatch_p20.08.02_MUHI1_ILM15.Level3MuonObject: l3l15
MuonTriggerORMatch_p20.08.02_MUHI1_ILM15.Level1TrackObject: l1trk10
MuonTriggerORMatch_p20.08.02_MUHI1_ILM15.Level3IsolationObject: ISO_MUON_CAL3
MuonTriggerORMatch_p20.08.02_MUHI1_ILM15.Level2TrackObject: l2trk20


MuonTriggerORMatch_p20.08.02_MUHI2_ITLM10.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MUHI2_ITLM10.Level1MuonObject: l18wttx
MuonTriggerORMatch_p20.08.02_MUHI2_ITLM10.Level2MuonObject: l2m3
MuonTriggerORMatch_p20.08.02_MUHI2_ITLM10.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MUHI2_ITLM10.Level1TrackObject: l1itrk10
MuonTriggerORMatch_p20.08.02_MUHI2_ITLM10.Level3TrackObject: l3trk10h10
MuonTriggerORMatch_p20.08.02_MUHI2_ITLM10.Level3IsolationObject: ISO_MUON_CM_L1
MuonTriggerORMatch_p20.08.02_MUHI2_ITLM10.Level3CMObject: l3cml10
MuonTriggerORMatch_p20.08.02_MUHI2_ITLM10.Level2TrackObject: l2trk20

MuonTriggerORMatch_p20.08.02_MUHI2_ILM15.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MUHI2_ILM15.Level1MuonObject: l18wttx
MuonTriggerORMatch_p20.08.02_MUHI2_ILM15.Level2MuonObject: l2m3
MuonTriggerORMatch_p20.08.02_MUHI2_ILM15.Level3MuonObject: l3l15
MuonTriggerORMatch_p20.08.02_MUHI2_ILM15.Level1TrackObject: l1itrk10
MuonTriggerORMatch_p20.08.02_MUHI2_ILM15.Level3IsolationObject: ISO_MUON_CAL3
MuonTriggerORMatch_p20.08.02_MUHI2_ILM15.Level2TrackObject: l2trk20

MuonTriggerORMatch_p20.08.02_MUHI2_TK12_TLM12.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MUHI2_TK12_TLM12.Level1MuonObject: l18wttx
MuonTriggerORMatch_p20.08.02_MUHI2_TK12_TLM12.Level2MuonObject: l2m3
MuonTriggerORMatch_p20.08.02_MUHI2_TK12_TLM12.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MUHI2_TK12_TLM12.Level1TrackObject: l1itrk10
MuonTriggerORMatch_p20.08.02_MUHI2_TK12_TLM12.Level3TrackObject: l3trk12h10
MuonTriggerORMatch_p20.08.02_MUHI2_TK12_TLM12.Level3CMObject: l3cml12
MuonTriggerORMatch_p20.08.02_MUHI2_TK12_TLM12.Level2TrackObject: l2trk20

MuonTriggerORMatch_p20.08.02_MUHI3_ITLM10.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MUHI3_ITLM10.Level1MuonObject: l113wttx
MuonTriggerORMatch_p20.08.02_MUHI3_ITLM10.Level2MuonObject: l2m3
MuonTriggerORMatch_p20.08.02_MUHI3_ITLM10.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MUHI3_ITLM10.Level1TrackObject: l1trk10
MuonTriggerORMatch_p20.08.02_MUHI3_ITLM10.Level3TrackObject: l3trk10h10
MuonTriggerORMatch_p20.08.02_MUHI3_ITLM10.Level3IsolationObject: ISO_MUON_CM_L1
MuonTriggerORMatch_p20.08.02_MUHI3_ITLM10.Level3CMObject: l3cml10
MuonTriggerORMatch_p20.08.02_MUHI3_ITLM10.Level2TrackObject: l2trk20

MuonTriggerORMatch_p20.08.02_MUHI3_ILM15.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MUHI3_ILM15.Level1MuonObject: l113wttx
MuonTriggerORMatch_p20.08.02_MUHI3_ILM15.Level2MuonObject: l2m3
MuonTriggerORMatch_p20.08.02_MUHI3_ILM15.Level3MuonObject: l3l15
MuonTriggerORMatch_p20.08.02_MUHI3_ILM15.Level1TrackObject: l1trk10
MuonTriggerORMatch_p20.08.02_MUHI3_ILM15.Level3IsolationObject: ISO_MUON_CAL3
MuonTriggerORMatch_p20.08.02_MUHI3_ILM15.Level2TrackObject: l2trk20

MuonTriggerORMatch_p20.08.02_MUHI3_TK12_TLM12.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MUHI3_TK12_TLM12.Level1MuonObject: l113wttx
MuonTriggerORMatch_p20.08.02_MUHI3_TK12_TLM12.Level2MuonObject: l2m3
MuonTriggerORMatch_p20.08.02_MUHI3_TK12_TLM12.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MUHI3_TK12_TLM12.Level1TrackObject: l1trk10
MuonTriggerORMatch_p20.08.02_MUHI3_TK12_TLM12.Level3TrackObject: l3trk12h10
MuonTriggerORMatch_p20.08.02_MUHI3_TK12_TLM12.Level3CMObject: l3cml12
MuonTriggerORMatch_p20.08.02_MUHI3_TK12_TLM12.Level2TrackObject: l2trk20

MuonTriggerORMatch_p20.08.02_MTA1_ILM10T10NN1.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA1_ILM10T10NN1.Level1MuonObject: l1attx
MuonTriggerORMatch_p20.08.02_MTA1_ILM10T10NN1.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA1_ILM10T10NN1.Level3MuonObject: l3l10
MuonTriggerORMatch_p20.08.02_MTA1_ILM10T10NN1.Level3IsolationObject: ISO_MUON_CAL3

MuonTriggerORMatch_p20.08.02_MTA1_TLM10T10NN1.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA1_TLM10T10NN1.Level1MuonObject: l1attx
MuonTriggerORMatch_p20.08.02_MTA1_TLM10T10NN1.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA1_TLM10T10NN1.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MTA1_TLM10T10NN1.Level3TrackObject: l3trk10h10 
MuonTriggerORMatch_p20.08.02_MTA1_TLM10T10NN1.Level3CMObject: l3cml10

MuonTriggerORMatch_p20.08.02_MTA1_ITLM5T10NN1.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA1_ITLM5T10NN1.Level1MuonObject: l1attx
MuonTriggerORMatch_p20.08.02_MTA1_ITLM5T10NN1.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA1_ITLM5T10NN1.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MTA1_ITLM5T10NN1.Level3TrackObject: l3trk5h10 
MuonTriggerORMatch_p20.08.02_MTA1_ITLM5T10NN1.Level3CMObject: l3cml5
MuonTriggerORMatch_p20.08.02_MTA1_ITLM5T10NN1.Level3IsolationObject: ISO_MUON_CM_L1

MuonTriggerORMatch_p20.08.02_MTA3_ILM10T10NN1.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA3_ILM10T10NN1.Level1MuonObject: l1attx
MuonTriggerORMatch_p20.08.02_MTA3_ILM10T10NN1.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA3_ILM10T10NN1.Level3MuonObject: l3l10
MuonTriggerORMatch_p20.08.02_MTA3_ILM10T10NN1.Level3IsolationObject: ISO_MUON_CAL3

MuonTriggerORMatch_p20.08.02_MTA3_TLM10T10NN1.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA3_TLM10T10NN1.Level1MuonObject: l1attx
MuonTriggerORMatch_p20.08.02_MTA3_TLM10T10NN1.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA3_TLM10T10NN1.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MTA3_TLM10T10NN1.Level3TrackObject: l3trk10h10 
MuonTriggerORMatch_p20.08.02_MTA3_TLM10T10NN1.Level3CMObject: l3cml10

MuonTriggerORMatch_p20.08.02_MTA3_ITLM5T10NN1.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA3_ITLM5T10NN1.Level1MuonObject: l1attx
MuonTriggerORMatch_p20.08.02_MTA3_ITLM5T10NN1.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA3_ITLM5T10NN1.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MTA3_ITLM5T10NN1.Level3TrackObject: l3trk5h10 
MuonTriggerORMatch_p20.08.02_MTA3_ITLM5T10NN1.Level3CMObject: l3cml5
MuonTriggerORMatch_p20.08.02_MTA3_ITLM5T10NN1.Level3IsolationObject: ISO_MUON_CM_L1

MuonTriggerORMatch_p20.08.02_MTA4_ILM10T10NN1.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA4_ILM10T10NN1.Level1TrackObject: l1trk5 
MuonTriggerORMatch_p20.08.02_MTA4_ILM10T10NN1.Level1MuonObject: l18wtlx
MuonTriggerORMatch_p20.08.02_MTA4_ILM10T10NN1.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA4_ILM10T10NN1.Level3MuonObject: l3l10
MuonTriggerORMatch_p20.08.02_MTA4_ILM10T10NN1.Level3IsolationObject: ISO_MUON_CAL3

MuonTriggerORMatch_p20.08.02_MTA4_TLM10T10NN1.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA4_TLM10T10NN1.Level1TrackObject: l1trk5 
MuonTriggerORMatch_p20.08.02_MTA4_TLM10T10NN1.Level1MuonObject: l18wtlx
MuonTriggerORMatch_p20.08.02_MTA4_TLM10T10NN1.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA4_TLM10T10NN1.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MTA4_TLM10T10NN1.Level3TrackObject: l3trk10h10 
MuonTriggerORMatch_p20.08.02_MTA4_TLM10T10NN1.Level3CMObject: l3cml10

MuonTriggerORMatch_p20.08.02_MTA4_ITLM5T10NN1.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA4_ITLM5T10NN1.Level1TrackObject: l1trk5 
MuonTriggerORMatch_p20.08.02_MTA4_ITLM5T10NN1.Level1MuonObject: l18wtlx
MuonTriggerORMatch_p20.08.02_MTA4_ITLM5T10NN1.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA4_ITLM5T10NN1.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MTA4_ITLM5T10NN1.Level3TrackObject: l3trk5h10 
MuonTriggerORMatch_p20.08.02_MTA4_ITLM5T10NN1.Level3CMObject: l3cml5
MuonTriggerORMatch_p20.08.02_MTA4_ITLM5T10NN1.Level3IsolationObject: ISO_MUON_CM_L1

MuonTriggerORMatch_p20.08.02_MTA6_ILM10T10NN1.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA6_ILM10T10NN1.Level1TrackObject: l1trk5 
MuonTriggerORMatch_p20.08.02_MTA6_ILM10T10NN1.Level1MuonObject: l18wtlx
MuonTriggerORMatch_p20.08.02_MTA6_ILM10T10NN1.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA6_ILM10T10NN1.Level3MuonObject: l3l10
MuonTriggerORMatch_p20.08.02_MTA6_ILM10T10NN1.Level3IsolationObject: ISO_MUON_CAL3

MuonTriggerORMatch_p20.08.02_MTA6_TLM10T10NN1.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA6_TLM10T10NN1.Level1TrackObject: l1trk5 
MuonTriggerORMatch_p20.08.02_MTA6_TLM10T10NN1.Level1MuonObject: l18wtlx
MuonTriggerORMatch_p20.08.02_MTA6_TLM10T10NN1.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA6_TLM10T10NN1.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MTA6_TLM10T10NN1.Level3TrackObject: l3trk10h10 
MuonTriggerORMatch_p20.08.02_MTA6_TLM10T10NN1.Level3CMObject: l3cml10

MuonTriggerORMatch_p20.08.02_MTA6_ITLM5T10NN1.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA6_ITLM5T10NN1.Level1TrackObject: l1trk5 
MuonTriggerORMatch_p20.08.02_MTA6_ITLM5T10NN1.Level1MuonObject: l18wtlx
MuonTriggerORMatch_p20.08.02_MTA6_ITLM5T10NN1.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA6_ITLM5T10NN1.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MTA6_ITLM5T10NN1.Level3TrackObject: l3trk5h10 
MuonTriggerORMatch_p20.08.02_MTA6_ITLM5T10NN1.Level3CMObject: l3cml5
MuonTriggerORMatch_p20.08.02_MTA6_ITLM5T10NN1.Level3IsolationObject: ISO_MUON_CM_L1


MuonTriggerORMatch_p20.08.02_MTA1_ILM10T5NN3.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA1_ILM10T5NN3.Level1MuonObject: l1attx
MuonTriggerORMatch_p20.08.02_MTA1_ILM10T5NN3.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA1_ILM10T5NN3.Level3MuonObject: l3l10
MuonTriggerORMatch_p20.08.02_MTA1_ILM10T5NN3.Level3IsolationObject: ISO_MUON_CAL3

MuonTriggerORMatch_p20.08.02_MTA1_TLM10T5NN3.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA1_TLM10T5NN3.Level1MuonObject: l1attx
MuonTriggerORMatch_p20.08.02_MTA1_TLM10T5NN3.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA1_TLM10T5NN3.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MTA1_TLM10T5NN3.Level3TrackObject: l3trk10h10 
MuonTriggerORMatch_p20.08.02_MTA1_TLM10T5NN3.Level3CMObject: l3cml10

MuonTriggerORMatch_p20.08.02_MTA1_ITLM5T5NN3.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA1_ITLM5T5NN3.Level1MuonObject: l1attx
MuonTriggerORMatch_p20.08.02_MTA1_ITLM5T5NN3.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA1_ITLM5T5NN3.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MTA1_ITLM5T5NN3.Level3TrackObject: l3trk5h10 
MuonTriggerORMatch_p20.08.02_MTA1_ITLM5T5NN3.Level3CMObject: l3cml5
MuonTriggerORMatch_p20.08.02_MTA1_ITLM5T5NN3.Level3IsolationObject: ISO_MUON_CM_L1

MuonTriggerORMatch_p20.08.02_MTA3_ILM10T5NN3.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA3_ILM10T5NN3.Level1MuonObject: l1attx
MuonTriggerORMatch_p20.08.02_MTA3_ILM10T5NN3.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA3_ILM10T5NN3.Level3MuonObject: l3l10
MuonTriggerORMatch_p20.08.02_MTA3_ILM10T5NN3.Level3IsolationObject: ISO_MUON_CAL3

MuonTriggerORMatch_p20.08.02_MTA3_TLM10T5NN3.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA3_TLM10T5NN3.Level1MuonObject: l1attx
MuonTriggerORMatch_p20.08.02_MTA3_TLM10T5NN3.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA3_TLM10T5NN3.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MTA3_TLM10T5NN3.Level3TrackObject: l3trk10h10 
MuonTriggerORMatch_p20.08.02_MTA3_TLM10T5NN3.Level3CMObject: l3cml10

MuonTriggerORMatch_p20.08.02_MTA3_ITLM5T5NN3.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA3_ITLM5T5NN3.Level1MuonObject: l1attx
MuonTriggerORMatch_p20.08.02_MTA3_ITLM5T5NN3.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA3_ITLM5T5NN3.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MTA3_ITLM5T5NN3.Level3TrackObject: l3trk5h10 
MuonTriggerORMatch_p20.08.02_MTA3_ITLM5T5NN3.Level3CMObject: l3cml5
MuonTriggerORMatch_p20.08.02_MTA3_ITLM5T5NN3.Level3IsolationObject: ISO_MUON_CM_L1

MuonTriggerORMatch_p20.08.02_MTA4_ILM10T5NN3.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA4_ILM10T5NN3.Level1TrackObject: l1trk5 
MuonTriggerORMatch_p20.08.02_MTA4_ILM10T5NN3.Level1MuonObject: l18wtlx
MuonTriggerORMatch_p20.08.02_MTA4_ILM10T5NN3.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA4_ILM10T5NN3.Level3MuonObject: l3l10
MuonTriggerORMatch_p20.08.02_MTA4_ILM10T5NN3.Level3IsolationObject: ISO_MUON_CAL3

MuonTriggerORMatch_p20.08.02_MTA4_TLM10T5NN3.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA4_TLM10T5NN3.Level1TrackObject: l1trk5 
MuonTriggerORMatch_p20.08.02_MTA4_TLM10T5NN3.Level1MuonObject: l18wtlx
MuonTriggerORMatch_p20.08.02_MTA4_TLM10T5NN3.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA4_TLM10T5NN3.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MTA4_TLM10T5NN3.Level3TrackObject: l3trk10h10 
MuonTriggerORMatch_p20.08.02_MTA4_TLM10T5NN3.Level3CMObject: l3cml10

MuonTriggerORMatch_p20.08.02_MTA4_ITLM5T5NN3.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA4_ITLM5T5NN3.Level1TrackObject: l1trk5 
MuonTriggerORMatch_p20.08.02_MTA4_ITLM5T5NN3.Level1MuonObject: l18wtlx
MuonTriggerORMatch_p20.08.02_MTA4_ITLM5T5NN3.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA4_ITLM5T5NN3.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MTA4_ITLM5T5NN3.Level3TrackObject: l3trk5h10 
MuonTriggerORMatch_p20.08.02_MTA4_ITLM5T5NN3.Level3CMObject: l3cml5
MuonTriggerORMatch_p20.08.02_MTA4_ITLM5T5NN3.Level3IsolationObject: ISO_MUON_CM_L1

MuonTriggerORMatch_p20.08.02_MTA6_ILM10T5NN3.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA6_ILM10T5NN3.Level1TrackObject: l1trk5 
MuonTriggerORMatch_p20.08.02_MTA6_ILM10T5NN3.Level1MuonObject: l18wtlx
MuonTriggerORMatch_p20.08.02_MTA6_ILM10T5NN3.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA6_ILM10T5NN3.Level3MuonObject: l3l10
MuonTriggerORMatch_p20.08.02_MTA6_ILM10T5NN3.Level3IsolationObject: ISO_MUON_CAL3

MuonTriggerORMatch_p20.08.02_MTA6_TLM10T5NN3.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA6_TLM10T5NN3.Level1TrackObject: l1trk5 
MuonTriggerORMatch_p20.08.02_MTA6_TLM10T5NN3.Level1MuonObject: l18wtlx
MuonTriggerORMatch_p20.08.02_MTA6_TLM10T5NN3.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA6_TLM10T5NN3.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MTA6_TLM10T5NN3.Level3TrackObject: l3trk10h10 
MuonTriggerORMatch_p20.08.02_MTA6_TLM10T5NN3.Level3CMObject: l3cml10

MuonTriggerORMatch_p20.08.02_MTA6_ITLM5T5NN3.Muon0_requireL1L2L3: 1,1,1
MuonTriggerORMatch_p20.08.02_MTA6_ITLM5T5NN3.Level1TrackObject: l1trk5 
MuonTriggerORMatch_p20.08.02_MTA6_ITLM5T5NN3.Level1MuonObject: l18wtlx
MuonTriggerORMatch_p20.08.02_MTA6_ITLM5T5NN3.Level2MuonObject: l2m0
MuonTriggerORMatch_p20.08.02_MTA6_ITLM5T5NN3.Level3MuonObject: l3l0
MuonTriggerORMatch_p20.08.02_MTA6_ITLM5T5NN3.Level3TrackObject: l3trk5h10 
MuonTriggerORMatch_p20.08.02_MTA6_ITLM5T5NN3.Level3CMObject: l3cml5
MuonTriggerORMatch_p20.08.02_MTA6_ITLM5T5NN3.Level3IsolationObject: ISO_MUON_CM_L1




############################################## Tau Trigger OR Matching #############################################

tautrigormatch.OfflineTauBranch:  %{User.Tau_Branch}
tautrigormatch.OfflineJetBranch:  %{VJets.GoodJet_Branch}
tautrigormatch.OfflineMuonBranch: %{VJets.SignalMuon_Branch}
tautrigormatch.TrigName: MUHI1_ITLM10 MUHI1_TK12_TLM12 MUHI1_ILM15 MUHI2_ITLM10 MUHI2_TK12_TLM12 MUHI2_ILM15 MUHI3_ITLM10 MUHI3_TK12_TLM12 MUHI3_ILM15 MTA1_TLM10T10NN1 MTA1_ILM10T10NN1 MTA1_ITLM5T10NN1  MTA3_TLM10T10NN1 MTA3_ILM10T10NN1 MTA3_ITLM5T10NN1 MTA4_TLM10T10NN1 MTA4_ILM10T10NN1 MTA4_ITLM5T10NN1 MTA6_TLM10T10NN1 MTA6_ILM10T10NN1 MTA6_ITLM5T10NN1 MTA1_TLM10T5NN3 MTA1_ILM10T5NN3 MTA1_ITLM5T5NN3  MTA3_TLM10T5NN3 MTA3_ILM10T5NN3 MTA3_ITLM5T5NN3 MTA4_TLM10T5NN3 MTA4_ILM10T5NN3 MTA4_ITLM5T5NN3 MTA6_TLM10T5NN3 MTA6_ILM10T5NN3 MTA6_ITLM5T5NN3 

tautrigormatch.IsATauTrigger: 0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
tautrigormatch.DoJetTerm: 0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,1,1,1,0,0,0,0,0,0,0,0,0
tautrigormatch.JetEt: 0,0,0,0,0,0,0,0,0,20.0,20.0,20.0,0,0,0,0,0,0,0,0,0,20.,20.,20.,0,0,0,0,0,0,0,0,0
tautrigormatch.JetEta:0,0,0,0,0,0,0,0,0, 3.2, 3.2, 3.2,3.2, 3.2, 3.2,3.2, 3.2, 3.2,3.2, 3.2, 3.2,3.2, 3.2, 3.2,3.2, 3.2, 3.2,3.2, 3.2, 3.2,3.2, 3.2, 3.2,
tautrigormatch.L2TauEt: 0,0,0,0,0,0,0,0,0, 10.,10.,10.,8.0, 8.0, 8.0,10.,10.,10.,8.,8.,8.,10.,10.,10.,8.0, 8.0, 8.0,10.,10.,10.,8.,8.,8.
tautrigormatch.L2TauEta: 0,0,0,0,0,0,0,0,0, 2.4, 2.4, 2.4, 2.0, 2.0, 2.0, 2.4, 2.4, 2.4, 2.0, 2.0, 2.0, 2.4, 2.4, 2.4, 2.0, 2.0, 2.0, 2.4, 2.4, 2.4, 2.0, 2.0, 2.0
tautrigormatch.TauSTTPt: 0,0,0,0,0,0,0,0,0,0,0,0, 5.0, 5.0, 5.0,0.0, 0.0, 0.0, 5.0, 5.0,5.0,0,0,0, 5.0, 5.0, 5.0,0.0, 0.0, 0.0, 5.0, 5.0,5.0
tautrigormatch.L2TauSTT: 0,0,0,0,0,0,0,0,0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1
tautrigormatch.L2TauRatio: 0,0,0,0,0,0,0,0,0, 0.5, 0.5, 0.5, 0.6, 0.6, 0.6, 0.5, 0.5, 0.5, 0.6, 0.6, 0.6, 0.5, 0.5, 0.5, 0.6, 0.6, 0.6, 0.5, 0.5, 0.5, 0.6, 0.6, 0.6
tautrigormatch.L3TauNN: 0,0,0,0,0,0,0,0,0, 0.1, 0.1, 0.1,0.1, 0.1, 0.1,0.1, 0.1, 0.1,0.1, 0.1, 0.1, 0.3, 0.3, 0.3,  0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3, 0.3
tautrigormatch.L3TauPt: 0,0,0,0,0,0,0,0,0, 10.0, 10.0, 10.0, 10.0, 10.0, 10.0,10.0, 10.0, 10.0,10.0, 10.0, 10.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0, 5.0
tautrigormatch.L3TauEta: 0,0,0,0,0,0,0,0,0,3.0, 3.0, 3.0, 3.0, 3.0, 3.0,3.0, 3.0, 3.0, 3.0, 3.0, 3.0,3.0, 3.0, 3.0, 3.0, 3.0, 3.0,3.0, 3.0, 3.0, 3.0, 3.0, 3.0
tautrigormatch.MuTauPhiCut: 2.7
tautrigormatch.DoL1Track: 0,0,0,0,0,0,0,0,0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1
tautrigormatch.TauEt: 0,0,0,0,0,0,0,0,0, 0.0, 0.0, 0.0, 8.0, 8.0, 8.0, 20.0, 20.0, 20.0, 8.0, 8.0, 8.0, 0.0, 0.0, 0.0, 8.0, 8.0, 8.0, 20.0, 20.0, 20.0, 8.0, 8.0, 8.0
tautrigormatch.TauEta: 0,0,0,0,0,0,0,0,0, 3.2, 3.2, 3.2, 2.4, 2.4, 2.4, 2.4, 2.4, 2.4, 2.4, 2.4, 2.4,  3.2, 3.2, 3.2, 2.4, 2.4, 2.4, 2.4, 2.4, 2.4, 2.4, 2.4, 2.4
tautrigormatch.TauCoreET: 0,0,0,0,0,0,0,0,0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0, 8.0
tautrigormatch.TauRatio: 0,0,0,0,0,0,0,0,0, 0.5, 0.5, 0.5, 0.6, 0.6, 0.6, 0.5, 0.5, 0.5, 0.6, 0.6, 0.6, 0.5, 0.5, 0.5, 0.6, 0.6, 0.6, 0.5, 0.5, 0.5, 0.6, 0.6, 0.6
tautrigormatch.L1TrackPt: 0,0,0,0,0,0,0,0,0, 0., 0., 0., 5.0, 5.0, 5.0, 0., 0., 0., 5.0, 5.0, 5.0, 0., 0., 0., 5.0, 5.0, 5.0, 0., 0., 0., 5.0, 5.0, 5.0
tautrigormatch.L1TrackJetPt: 0,0,0,0,0,0,0,0,0, 0., 0., 0., 8.0, 8.0, 8.0 , 0., 0., 0., 8.0, 8.0, 8.0 , 0., 0., 0., 8.0, 8.0, 8.0 , 0., 0., 0., 8.0, 8.0, 8.0
tautrigormatch.OfflineTauNN: 0.9
tautrigormatch.JetIsTauAtL2: 1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
