###########################################
#
#  Example config file to select a trigger by trigger version
#
###########################################

cafe.Input:		listfile:top_cafe/filelists/data/mujets_data_0.list
cafe.Progress:		100
cafe.Events:		500
cafe.Output:		MuonTriggerMatch
+cafe.Packages: 	caf_dq dq_util jetcorr emid_cuts caf_util
+cafe.Packages: 	eff_utils caf_trigger

cafe.PartialReads:	false


# B. ANALYSIS CHAIN
######################################################

+cafe.Run:	Group(Stat)

+cafe.Run:	Group(TopMUTrigger)

+cafe.Run:	Passed

######################################################


############################################################
#
# Trigger Selection
#
############################################################
TopMUTrigger.Run:			TriggerSelection(top_mu_triggers)
top_mu_triggers.Triggers:		MU_JT20_L2M0
+top_mu_triggers.Triggers:		MU_JT25_L2M0
+top_mu_triggers.Triggers:		MUJ2_JT25
+top_mu_triggers.Triggers:		MUJ2_JT25_LM3
+top_mu_triggers.Triggers:		MUJ2_JT30_LM3
+top_mu_triggers.Triggers:		MUJ1_JT25_LM3
+top_mu_triggers.Triggers:		MUJ1_JT25_ILM3
+top_mu_triggers.Triggers:		MUJ1_JT35_LM3

+top_mu_triggers.MU_JT20_L2M0.Min:	8.0
+top_mu_triggers.MU_JT20_L2M0.Max:	12.0
+top_mu_triggers.MU_JT25_L2M0.Min:	12.0
+top_mu_triggers.MU_JT25_L2M0.Max:	13.0
+top_mu_triggers.MUJ2_JT25.Min:		13.0
+top_mu_triggers.MUJ2_JT25.Max:		13.2
+top_mu_triggers.MUJ2_JT25_LM3.Min:	13.2
+top_mu_triggers.MUJ2_JT25_LM3.Max:	13.3
+top_mu_triggers.MUJ2_JT30_LM3.Min:	13.3
+top_mu_triggers.MUJ2_JT30_LM3.Max:	14.0
+top_mu_triggers.MUJ1_JT25_LM3.Min:	14.0
+top_mu_triggers.MUJ1_JT25_LM3.Max:	14.2
+top_mu_triggers.MUJ1_JT25_ILM3.Min:	14.2
+top_mu_triggers.MUJ1_JT25_ILM3.Max:	14.3
+top_mu_triggers.MUJ1_JT35_LM3.Min:	14.3
+top_mu_triggers.MUJ1_JT35_LM3.Max:	15.0


######################################################


############################################################
#
# Stat processor
#
############################################################

Stat.Run:		Stat(eff)
eff.Output: 		Matching

######################################################


