int	numparam	1
int	ndimensions	1
int_array	numbins	         200
double_array	lowrange	-30.
double_array	highrange	 30.
double_array 	fit_range	-6.85.  7.65.  
bool 	blinded		false
bool	likelihood	true
bool	limits		false
bool	intover		false
bool	fitwithover	false
bool	intrange	true
bool	fitantirange	false
double_array	start_value	80.300
double_array	vstep	.001
double_array	vmin	80.300
double_array	vmax	80.500
int	numiter	500
float	sensitivity	.5

