p.caption
{ 
    background-color:   #e0f8e0;
    margin-left:        50px;
    margin-right:       500px;
    color:              #000010;
    font-family:        arial;
}

p.code
{
    background-color:   #ffe5e5;
    margin-left:        50px;
    margin-right:       500px;
    color:              #000010;
    font-family:        arial;
}

p.commands
{
    background-color:   #f5f5f5;
    margin-left:        50px;
    margin-right:       500px;
    color:              #001000;
    font-family:        arial;
}

p.important
{
    background-color:   #f59090;
    margin-left:        50px;
    margin-right:       500px;
    color:              #400000;
}

p
{
    margin-left:        20px;
    font-family:        sans-serif;
}
