#The main run command. It runs 4 groups of processors in a chain. It draws a histogram before any probabilities are calculated, calculates the event weights for a signal channel, then draws 3 histograms with these event weights. One without any sigma variations, one with +1 sigma variation and one with -1 sigma variation.

cafe.Run: Group(Hist1DBefore),Group(mycaftrig),Group(Hist1DAfter),Group(Hist1DAftersig1),Group(Hist1DAftersig2)

#This section is another staple of CAFe where one would state the package one intends to use, the input file of interest, and finally the output file for any outputs from any processors that will be run.

cafe.Packages: caf_trigger
cafe.Input: d0tmba_p18.01.00_zee_reco_tsim_mc.root
cafe.Output: d0evtwt.root

#This chunk is the portion of the config file pertinent to caf_trigger itself and not any other processors. One should pay attention to the detailed explanation of each line.

#This .Run: command, chains together 3 of our processors. The initialization, the probability processor of interest and the output processor.
mycaftrig.Run: cafTriggerEfficiency(mycaftrig),probTopElectron(mycaftrig),cafTriggerOutput(mycaftrig)

#The next 3 options allow one to choose the branch in the caf file tree that one wishes to use.
mycaftrig.embranch: EMscone
mycaftrig.mubranch: Muons
mycaftrig.jetbranch: JCCA

#The lumi and triglist options set the luminosity weights for each triggerlist. Note: If one has v11, v13, v14 listed, then under lumi, the first number will correspond to v11, the second to v13, and the third to v14
mycaftrig.lumi: 11.,35.,50.
mycaftrig.triglist: v11,v12,v13

#This sets the output of the event weight in a histogram which ranges from 0 to 1. histosBins sets the number of bins of that histogram. The histogram will be placed in the cafe.Output file.
mycaftrig.histos: true
mycaftrig.histosBins: 20

#This flag turns on the +1, -1 sigma calculations. If one does not require the sigma calculations, one should set this flag to false as they are computationally intensive.
mycaftrig.sigma: true

#Specifies the channel to put into the event as "_globalWeightKey". This is a float put into the event of the event weight under the stated key. Processors before and after caf_trigger can send an event weight for caf_trigger to multiply with, or grab an event weight to use after caf_trigger.
mycaftrig.globalWeight: TopElectron


#This is the first group in cafe.Run. It configures the users chosen histogram, which in this case is EMscone.Pt()
Hist1DBefore.Run: Hist1D(Hist1DBefore)
Hist1DBefore.Title: "EM.pt before"
Hist1DBefore.Bins: 50 0.0 100.0
Hist1DBefore.Draw: EMscone.Pt()
Hist1DBefore.Weight: 1.0


#This is the first group after caf_trigger in cafe.Run. It configures a histogram of EMscone.Pt(), weighting each event with the event weight given by caf_trigger. The weight is named caf_triggerWeight channel.
Hist1DAfter.Run: Hist1D(Hist1DAfter)
Hist1DAfter.Title: "EM.pt after"
Hist1DAfter.Bins: 50 0.0 100.0
Hist1DAfter.Draw: EMscone.Pt()
Hist1DAfter.Weight: caf_triggerWeight TopDiem


#This is one of the groups after caf_trigger in cafe.Run. It configures a histogram of EMscone.Pt(), weighting each event with the event weight sigma +1 given by caf_trigger. One must set .sigma: true for this to be available. The weight is named caf_triggerWeight channel Sigmas: 1.
Hist1DAftersig1.Run: Hist1D(Hist1DAftersig1)
Hist1DAftersig1.Title: "EM.pt after Sigma +1"
Hist1DAftersig1.Bins: 50 0.0 100.0
Hist1DAftersig1.Draw: EMscone.Pt()
Hist1DAftersig1.Weight: caf_triggerWeight TopDiem Sigmas: 1


#This is one of the groups after caf_trigger in cafe.Run. It configures a histogram of EMscone.Pt(), weighting each event with the event weight sigma -1 given by caf_trigger. One must set .sigma: true for this to be available. The weight is named caf_triggerWeight channel Sigmas: -1.
Hist1DAftersig2.Run: Hist1D(Hist1DAftersig2)
Hist1DAftersig2.Title: "EM.pt after Sigma -1"
Hist1DAftersig2.Bins: 50 0.0 100.0
Hist1DAftersig2.Draw: EMscone.Pt()
Hist1DAftersig2.Weight: caf_triggerWeight TopDiem Sigmas: -1
