#qcdfile: qcdfile_default.txt
#zeefile: bkgd_shape_zee_run2b34.root
#wtaunufile: bkgd_shape_wtaunu_resbos_run2b34.root
#zee_bkg_fraction: 0.00963

wtaunu_bkg_fraction_run3_all: 0.0174736
wtaunu_bkg_fraction_run3_lumi02: 0.0185574
wtaunu_bkg_fraction_run3_lumi24: 0.0180583
wtaunu_bkg_fraction_run3_lumi46: 0.0169756
wtaunu_bkg_fraction_run3_lumi6up: 0.0151634
wtaunu_bkg_fraction_run3_ept30: 0.0114728
wtaunu_bkg_fraction_run3_uparagt0: 0.0181158
wtaunu_bkg_fraction_run3_uparalt0: 0.0169435
wtaunu_bkg_fraction_run3_deteta02: 0.0180786
wtaunu_bkg_fraction_run3_deteta24: 0.0179209
wtaunu_bkg_fraction_run3_deteta46: 0.0174932
wtaunu_bkg_fraction_run3_deteta68: 0.0170049
wtaunu_bkg_fraction_run3_deteta8105: 0.0169213
wtaunu_bkg_fraction_run3_phimod5: 0.0176067
wtaunu_bkg_fraction_run3_phimod6: 0.0175977
wtaunu_bkg_fraction_run3_phimod75: 0.0175096
wtaunu_bkg_fraction_run3_phimod7: 0.0175498
wtaunu_bkg_fraction_run3_recoilphi0: 0.0174344
wtaunu_bkg_fraction_run3_recoilphi1: 0.0173586
wtaunu_bkg_fraction_run3_recoilphi2: 0.0173379
wtaunu_bkg_fraction_run3_recoilphi3: 0.0173611
wtaunu_bkg_fraction_run3_recoilphi4: 0.0175347
wtaunu_bkg_fraction_run3_recoilphi5: 0.0176545
wtaunu_bkg_fraction_run3_recoilphi6: 0.0176276
wtaunu_bkg_fraction_run3_recoilphi7: 0.0175886
wtaunu_bkg_fraction_run3_recoilpt10: 0.0178563
wtaunu_bkg_fraction_run3_recoilpt20: 0.0172684
wtaunu_bkg_fraction_run3_recoilpt30: 0.017175
wtaunu_bkg_fraction_run3_uparalt0_lumi02: 0.0182072
wtaunu_bkg_fraction_run3_uparalt0_lumi24: 0.0174106
wtaunu_bkg_fraction_run3_uparalt0_lumi46: 0.0163583
wtaunu_bkg_fraction_run3_uparalt0_lumi6up: 0.0150506
wtaunu_bkg_fraction_run3_uparagt0_lumi02: 0.0190236
wtaunu_bkg_fraction_run3_uparagt0_lumi24: 0.0188328
wtaunu_bkg_fraction_run3_uparagt0_lumi46: 0.0177231
wtaunu_bkg_fraction_run3_uparagt0_lumi6up: 0.0153476
wtaunu_bkg_fraction_run3_uparagt0_lumi6up: 0.0153476
wtaunu_bkg_fraction_run3_ept3540: 0.00782897
wtaunu_bkg_fraction_run3_ept2530: 0.0570051
wtaunu_bkg_fraction_run3_ept3035: 0.0246966
wtaunu_bkg_fraction_run3_ept4045: 0.00342705
wtaunu_bkg_fraction_run3_ept4550: 0.0032501
wtaunu_bkg_fraction_run3_ept5060: 0.00426042
wtaunu_bkg_fraction_run3_ept6070: 0.0075514
wtaunu_bkg_fraction_run3_ept70up: 0.0058006

wtaunu_bkg_fraction_run4_all: 0.0169781
wtaunu_bkg_fraction_run4_lumi02: 0.0180205
wtaunu_bkg_fraction_run4_lumi24: 0.017795
wtaunu_bkg_fraction_run4_lumi46: 0.0166948
wtaunu_bkg_fraction_run4_lumi6up: 0.0145334
wtaunu_bkg_fraction_run4_ept30: 0.0113796
wtaunu_bkg_fraction_run4_uparagt0: 0.0174683
wtaunu_bkg_fraction_run4_uparalt0: 0.0165757
wtaunu_bkg_fraction_run4_deteta02: 0.017625
wtaunu_bkg_fraction_run4_deteta24: 0.0174637
wtaunu_bkg_fraction_run4_deteta46: 0.0170408
wtaunu_bkg_fraction_run4_deteta68: 0.0164983
wtaunu_bkg_fraction_run4_deteta8105: 0.0164888
wtaunu_bkg_fraction_run4_phimod5: 0.01713
wtaunu_bkg_fraction_run4_phimod6: 0.0171308
wtaunu_bkg_fraction_run4_phimod75: 0.0170341
wtaunu_bkg_fraction_run4_phimod7: 0.0170588
wtaunu_bkg_fraction_run4_recoilphi0: 0.0169008
wtaunu_bkg_fraction_run4_recoilphi1: 0.0168411
wtaunu_bkg_fraction_run4_recoilphi2: 0.0168431
wtaunu_bkg_fraction_run4_recoilphi3: 0.0168758
wtaunu_bkg_fraction_run4_recoilphi4: 0.0170458
wtaunu_bkg_fraction_run4_recoilphi5: 0.0170967
wtaunu_bkg_fraction_run4_recoilphi6: 0.0171863
wtaunu_bkg_fraction_run4_recoilphi7: 0.0170231
wtaunu_bkg_fraction_run4_recoilpt10: 0.0173991
wtaunu_bkg_fraction_run4_recoilpt20: 0.0168235
wtaunu_bkg_fraction_run4_recoilpt30: 0.0167068
wtaunu_bkg_fraction_run4_uparalt0_lumi02: 0.0178117
wtaunu_bkg_fraction_run4_uparalt0_lumi24: 0.0172949
wtaunu_bkg_fraction_run4_uparalt0_lumi46: 0.0161594
wtaunu_bkg_fraction_run4_uparalt0_lumi6up: 0.0144782
wtaunu_bkg_fraction_run4_uparagt0_lumi02: 0.0182337
wtaunu_bkg_fraction_run4_uparagt0_lumi24: 0.0183679
wtaunu_bkg_fraction_run4_uparagt0_lumi46: 0.0173193
wtaunu_bkg_fraction_run4_uparagt0_lumi6up: 0.0150654
wtaunu_bkg_fraction_run4_uparagt0_lumi6up: 0.0150654
wtaunu_bkg_fraction_run4_ept3540: 0.00770948
wtaunu_bkg_fraction_run4_ept2530: 0.0560647
wtaunu_bkg_fraction_run4_ept3035: 0.0244424
wtaunu_bkg_fraction_run4_ept4045: 0.00341421
wtaunu_bkg_fraction_run4_ept4550: 0.00323503
wtaunu_bkg_fraction_run4_ept5060: 0.00432384
wtaunu_bkg_fraction_run4_ept6070: 0.00736204
wtaunu_bkg_fraction_run4_ept70up: 0.0056472

wtaunufile_run3_all: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_all.root
wtaunufile_run3_lumi02: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_lumi02.root
wtaunufile_run3_lumi24: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_lumi24.root
wtaunufile_run3_lumi46: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_lumi46.root
wtaunufile_run3_lumi6up: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_lumi6up.root
wtaunufile_run3_ept30: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_ept30.root
wtaunufile_run3_uparagt0: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_uparagt0.root
wtaunufile_run3_uparalt0: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_uparalt0.root
wtaunufile_run3_deteta02: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_deteta02.root
wtaunufile_run3_deteta24: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_deteta24.root
wtaunufile_run3_deteta46: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_deteta46.root
wtaunufile_run3_deteta68: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_deteta68.root
wtaunufile_run3_deteta8105: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_deteta8105.root
wtaunufile_run3_phimod5: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_phimod5.root
wtaunufile_run3_phimod6: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_phimod6.root
wtaunufile_run3_phimod75: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_phimod75.root
wtaunufile_run3_phimod7: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_phimod7.root
wtaunufile_run3_recoilphi0: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_recoilphi0.root
wtaunufile_run3_recoilphi1: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_recoilphi1.root
wtaunufile_run3_recoilphi2: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_recoilphi2.root
wtaunufile_run3_recoilphi3: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_recoilphi3.root
wtaunufile_run3_recoilphi4: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_recoilphi4.root
wtaunufile_run3_recoilphi5: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_recoilphi5.root
wtaunufile_run3_recoilphi6: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_recoilphi6.root
wtaunufile_run3_recoilphi7: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_recoilphi7.root
wtaunufile_run3_recoilpt10: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_recoilpt10.root
wtaunufile_run3_recoilpt20: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_recoilpt20.root
wtaunufile_run3_recoilpt30: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_recoilpt30.root
wtaunufile_run3_uparalt0_lumi02: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_uparalt0_lumi02.root
wtaunufile_run3_uparalt0_lumi24: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_uparalt0_lumi24.root
wtaunufile_run3_uparalt0_lumi46: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_uparalt0_lumi46.root
wtaunufile_run3_uparalt0_lumi6up: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_uparalt0_lumi6up.root
wtaunufile_run3_uparagt0_lumi02: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_uparagt0_lumi02.root
wtaunufile_run3_uparagt0_lumi24: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_uparagt0_lumi24.root
wtaunufile_run3_uparagt0_lumi46: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_uparagt0_lumi46.root
wtaunufile_run3_uparagt0_lumi6up: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_uparagt0_lumi6up.root
wtaunufile_run3_ept3540: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_ept3540.root
wtaunufile_run3_ept2530: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_ept2530.root
wtaunufile_run3_ept3035: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_ept3035.root
wtaunufile_run3_ept4045: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_ept4045.root
wtaunufile_run3_ept4550: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_ept4550.root
wtaunufile_run3_ept5060: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_ept5060.root
wtaunufile_run3_ept6070: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_ept6070.root
wtaunufile_run3_ept70up: wtaunubackgroundfiles/bkgd_shape_wtaunu_run3_ept70up.root

wtaunufile_run4_all: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_all.root
wtaunufile_run4_lumi02: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_lumi02.root
wtaunufile_run4_lumi24: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_lumi24.root
wtaunufile_run4_lumi46: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_lumi46.root
wtaunufile_run4_lumi6up: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_lumi6up.root
wtaunufile_run4_ept30: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_ept30.root
wtaunufile_run4_uparagt0: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_uparagt0.root
wtaunufile_run4_uparalt0: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_uparalt0.root
wtaunufile_run4_deteta02: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_deteta02.root
wtaunufile_run4_deteta24: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_deteta24.root
wtaunufile_run4_deteta46: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_deteta46.root
wtaunufile_run4_deteta68: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_deteta68.root
wtaunufile_run4_deteta8105: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_deteta8105.root
wtaunufile_run4_phimod5: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_phimod5.root
wtaunufile_run4_phimod6: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_phimod6.root
wtaunufile_run4_phimod75: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_phimod75.root
wtaunufile_run4_phimod7: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_phimod7.root
wtaunufile_run4_recoilphi0: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_recoilphi0.root
wtaunufile_run4_recoilphi1: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_recoilphi1.root
wtaunufile_run4_recoilphi2: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_recoilphi2.root
wtaunufile_run4_recoilphi3: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_recoilphi3.root
wtaunufile_run4_recoilphi4: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_recoilphi4.root
wtaunufile_run4_recoilphi5: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_recoilphi5.root
wtaunufile_run4_recoilphi6: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_recoilphi6.root
wtaunufile_run4_recoilphi7: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_recoilphi7.root
wtaunufile_run4_recoilpt10: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_recoilpt10.root
wtaunufile_run4_recoilpt20: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_recoilpt20.root
wtaunufile_run4_recoilpt30: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_recoilpt30.root
wtaunufile_run4_uparalt0_lumi02: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_uparalt0_lumi02.root
wtaunufile_run4_uparalt0_lumi24: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_uparalt0_lumi24.root
wtaunufile_run4_uparalt0_lumi46: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_uparalt0_lumi46.root
wtaunufile_run4_uparalt0_lumi6up: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_uparalt0_lumi6up.root
wtaunufile_run4_uparagt0_lumi02: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_uparagt0_lumi02.root
wtaunufile_run4_uparagt0_lumi24: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_uparagt0_lumi24.root
wtaunufile_run4_uparagt0_lumi46: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_uparagt0_lumi46.root
wtaunufile_run4_uparagt0_lumi6up: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_uparagt0_lumi6up.root
wtaunufile_run4_ept3540: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_ept3540.root
wtaunufile_run4_ept2530: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_ept2530.root
wtaunufile_run4_ept3035: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_ept3035.root
wtaunufile_run4_ept4045: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_ept4045.root
wtaunufile_run4_ept4550: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_ept4550.root
wtaunufile_run4_ept5060: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_ept5060.root
wtaunufile_run4_ept6070: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_ept6070.root
wtaunufile_run4_ept70up: wtaunubackgroundfiles/bkgd_shape_wtaunu_run4_ept70up.root

zee_bkg_fraction_run3_all: 0.00966
zee_bkg_fraction_run3_lumi02:  0.0115
zee_bkg_fraction_run3_lumi24: 0.0103
zee_bkg_fraction_run3_lumi46: 0.009
zee_bkg_fraction_run3_lumi6up: 0.00722
zee_bkg_fraction_run3_ept30: 0.0105
zee_bkg_fraction_run3_uparagt0: 0.00285
zee_bkg_fraction_run3_uparalt0: 0.0152
zee_bkg_fraction_run3_deteta02: 0.0109
zee_bkg_fraction_run3_deteta24: 0.0103
zee_bkg_fraction_run3_deteta46: 0.00943
zee_bkg_fraction_run3_deteta68: 0.00796
zee_bkg_fraction_run3_deteta8105: 0.00714
zee_bkg_fraction_run3_phimod5: 0.009578366
zee_bkg_fraction_run3_phimod6: 0.009565597
zee_bkg_fraction_run3_phimod75: 0.009669386
zee_bkg_fraction_run3_phimod7: 0.009631052
zee_bkg_fraction_run3_recoilphi0: 0.009885517
zee_bkg_fraction_run3_recoilphi1: 0.009432281
zee_bkg_fraction_run3_recoilphi2: 0.008977692
zee_bkg_fraction_run3_recoilphi3: 0.008681741
zee_bkg_fraction_run3_recoilphi4: 0.009822501
zee_bkg_fraction_run3_recoilphi5: 0.010204337
zee_bkg_fraction_run3_recoilphi6: 0.011344361
zee_bkg_fraction_run3_recoilphi7: 0.009823805
zee_bkg_fraction_run3_recoilpt10: 0.007906745
zee_bkg_fraction_run3_recoilpt20: 0.009069593
zee_bkg_fraction_run3_recoilpt30: 0.008628685
zee_bkg_fraction_run3_uparalt0_lumi02: 0.018942
zee_bkg_fraction_run3_uparalt0_lumi24: 0.0166257
zee_bkg_fraction_run3_uparalt0_lumi46: 0.0137883
zee_bkg_fraction_run3_uparalt0_lumi6up: 0.0111557
zee_bkg_fraction_run3_uparagt0_lumi02: 0.00194449
zee_bkg_fraction_run3_uparagt0_lumi24: 0.00305824
zee_bkg_fraction_run3_uparagt0_lumi46: 0.00311266
zee_bkg_fraction_run3_uparagt0_lumi6up: 0.0022771
zee_bkg_fraction_run3_ept3540: 0.00801193
zee_bkg_fraction_run3_ept2530: 0.00529828
zee_bkg_fraction_run3_ept3035: 0.00737683
zee_bkg_fraction_run3_ept4045: 0.0141621
zee_bkg_fraction_run3_ept4550: 0.0267531
zee_bkg_fraction_run3_ept5060: 0.0323431
#not enough statistics to do over 60, setting to zero
zee_bkg_fraction_run3_ept6070: 0.0
zee_bkg_fraction_run3_ept70up: 0.0

zee_bkg_fraction_run4_all: 0.00965
zee_bkg_fraction_run4_lumi02: 0.0126
zee_bkg_fraction_run4_lumi24: 0.011
zee_bkg_fraction_run4_lumi46: 0.0087
zee_bkg_fraction_run4_lumi6up: 0.0086
zee_bkg_fraction_run4_ept30: 0.010435836
zee_bkg_fraction_run4_uparagt0: 0.003086987
zee_bkg_fraction_run4_uparalt0: 0.0166
zee_bkg_fraction_run4_deteta02: 0.0113
zee_bkg_fraction_run4_deteta24:  0.0108
zee_bkg_fraction_run4_deteta46: 0.0100
zee_bkg_fraction_run4_deteta68: 0.00934
zee_bkg_fraction_run4_deteta8105: 0.00783
zee_bkg_fraction_run4_phimod5: 0.009789822
zee_bkg_fraction_run4_phimod6: 0.009775084
zee_bkg_fraction_run4_phimod75: 0.009710322
zee_bkg_fraction_run4_phimod7: 0.009746635
zee_bkg_fraction_run4_recoilphi0: 0.009570857
zee_bkg_fraction_run4_recoilphi1: 0.010079194
zee_bkg_fraction_run4_recoilphi2: 0.008846242
zee_bkg_fraction_run4_recoilphi3: 0.010106532
zee_bkg_fraction_run4_recoilphi4: 0.010764528
zee_bkg_fraction_run4_recoilphi5: 0.008871240
zee_bkg_fraction_run4_recoilphi6: 0.010062227
zee_bkg_fraction_run4_recoilphi7: 0.009677968
zee_bkg_fraction_run4_recoilpt10: 0.007833889
zee_bkg_fraction_run4_recoilpt20: 0.009125698
zee_bkg_fraction_run4_recoilpt30: 0.008677626
zee_bkg_fraction_run4_uparalt0_lumi02: 0.0196904
zee_bkg_fraction_run4_uparalt0_lumi24: 0.0172631
zee_bkg_fraction_run4_uparalt0_lumi46: 0.0135685
zee_bkg_fraction_run4_uparalt0_lumi6up: 0.0104275
zee_bkg_fraction_run4_uparagt0_lumi02: 0.00381423
zee_bkg_fraction_run4_uparagt0_lumi24: 0.00338878
zee_bkg_fraction_run4_uparagt0_lumi46: 0.00276398
zee_bkg_fraction_run4_uparagt0_lumi6up: 0.00244866
zee_bkg_fraction_run4_ept3540: 0.00822252
zee_bkg_fraction_run4_ept2530: 0.00602619
zee_bkg_fraction_run4_ept3035: 0.00684354
zee_bkg_fraction_run4_ept4045: 0.0140585
zee_bkg_fraction_run4_ept4550: 0.0241574
zee_bkg_fraction_run4_ept5060: 0.0281111
#not enough statistics to do over 60, setting to zero
zee_bkg_fraction_run4_ept6070: 0.0
zee_bkg_fraction_run4_ept70up: 0.0

zeefile_run3_all: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_all.root
zeefile_run3_lumi02: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_lumi02.root
zeefile_run3_lumi24: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_lumi24.root
zeefile_run3_lumi46: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_lumi46.root
zeefile_run3_lumi6up: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_lumi6up.root
zeefile_run3_ept30: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_ept30.root
zeefile_run3_uparagt0: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_uparagt0.root
zeefile_run3_uparalt0: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_uparalt0.root
zeefile_run3_deteta02: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_deteta02.root
zeefile_run3_deteta24: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_deteta24.root
zeefile_run3_deteta46: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_deteta46.root
zeefile_run3_deteta68: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_deteta68.root
zeefile_run3_deteta8105: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_deteta8105.root
zeefile_run3_phimod5: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_phimod5.root
zeefile_run3_phimod6: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_phimod6.root
zeefile_run3_phimod75: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_phimod75.root
zeefile_run3_phimod7: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_phimod7.root
zeefile_run3_recoilphi0: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_recoilphi0.root
zeefile_run3_recoilphi1: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_recoilphi1.root
zeefile_run3_recoilphi2: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_recoilphi2.root
zeefile_run3_recoilphi3: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_recoilphi3.root
zeefile_run3_recoilphi4: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_recoilphi4.root
zeefile_run3_recoilphi5: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_recoilphi5.root
zeefile_run3_recoilphi6: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_recoilphi6.root
zeefile_run3_recoilphi7: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_recoilphi7.root
zeefile_run3_recoilpt10: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_recoilpt10.root
zeefile_run3_recoilpt20: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_recoilpt20.root
zeefile_run3_recoilpt30: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_recoilpt30.root
zeefile_run3_uparalt0_lumi02: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_uparalt0_lumi02.root
zeefile_run3_uparalt0_lumi24: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_uparalt0_lumi24.root
zeefile_run3_uparalt0_lumi46: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_uparalt0_lumi46.root
zeefile_run3_uparalt0_lumi6up: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_uparalt0_lumi6up.root
zeefile_run3_uparagt0_lumi02: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_uparagt0_lumi02.root
zeefile_run3_uparagt0_lumi24: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_uparagt0_lumi24.root
zeefile_run3_uparagt0_lumi46: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_uparagt0_lumi46.root
zeefile_run3_uparagt0_lumi6up: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_uparagt0_lumi6up.root
zeefile_run3_ept3540: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_ept3540.root
zeefile_run3_ept2530: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_ept2530.root
zeefile_run3_ept3035: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_ept3035.root
zeefile_run3_ept4045: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_ept4045.root
zeefile_run3_ept4550: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_ept4550.root
zeefile_run3_ept5060: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_ept5060.root
zeefile_run3_ept6070: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_ept6070.root
zeefile_run3_ept70up: /rooms/wmass/jenny/zeebackgroundfiles//bkgd_shape_zee_run2b3_ept70up.root


zeefile_run4_all: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_all.root
zeefile_run4_lumi02: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_lumi02.root
zeefile_run4_lumi24: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_lumi24.root
zeefile_run4_lumi46: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_lumi46.root
zeefile_run4_lumi6up: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_lumi6up.root
zeefile_run4_ept30: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_ept30.root
zeefile_run4_uparagt0: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_uparagt0.root
zeefile_run4_uparalt0: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_uparalt0.root
zeefile_run4_deteta02: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_deteta02.root
zeefile_run4_deteta24: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_deteta24.root
zeefile_run4_deteta46: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_deteta46.root
zeefile_run4_deteta68: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_deteta68.root
zeefile_run4_deteta8105: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_deteta8105.root
zeefile_run4_phimod5: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_phimod5.root
zeefile_run4_phimod6: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_phimod6.root
zeefile_run4_phimod75: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_phimod75.root
zeefile_run4_phimod7: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_phimod7.root
zeefile_run4_recoilphi0: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_recoilphi0.root
zeefile_run4_recoilphi1: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_recoilphi1.root
zeefile_run4_recoilphi2: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_recoilphi2.root
zeefile_run4_recoilphi3: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_recoilphi3.root
zeefile_run4_recoilphi4: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_recoilphi4.root
zeefile_run4_recoilphi5: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_recoilphi5.root
zeefile_run4_recoilphi6: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_recoilphi6.root
zeefile_run4_recoilphi7: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_recoilphi7.root
zeefile_run4_recoilpt10: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_recoilpt10.root
zeefile_run4_recoilpt20: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_recoilpt20.root
zeefile_run4_recoilpt30: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_recoilpt30.root
zeefile_run4_uparalt0_lumi02: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_uparalt0_lumi02.root
zeefile_run4_uparalt0_lumi24: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_uparalt0_lumi24.root
zeefile_run4_uparalt0_lumi46: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_uparalt0_lumi46.root
zeefile_run4_uparalt0_lumi6up: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_uparalt0_lumi6up.root
zeefile_run4_uparagt0_lumi02: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_uparagt0_lumi02.root
zeefile_run4_uparagt0_lumi24: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_uparagt0_lumi24.root
zeefile_run4_uparagt0_lumi46: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_uparagt0_lumi46.root
zeefile_run4_uparagt0_lumi6up: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_uparagt0_lumi6up.root
zeefile_run4_ept3540: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_ept3540.root
zeefile_run4_ept2530: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_ept2530.root
zeefile_run4_ept3035: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_ept3035.root
zeefile_run4_ept4045: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_ept4045.root
zeefile_run4_ept4550: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_ept4550.root
zeefile_run4_ept5060: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_ept5060.root
zeefile_run4_ept6070: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_ept6070.root
zeefile_run4_ept70up: /rooms/wmass/jenny/zeebackgroundfiles/bkgd_shape_zee_run2b4_ept70up.root


qcdfile_run3_all: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_lumi02: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_lumi24: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_lumi46: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_lumi6up: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_ept30: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_uparagt0: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_uparalt0: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_deteta02: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_deteta24: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_deteta46: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_deteta68: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_deteta8105: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_phimod5: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_phimod6: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_phimod75: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_phimod7: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_recoilphi0: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_recoilphi1: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_recoilphi2: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_recoilphi3: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_recoilphi4: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_recoilphi5: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_recoilphi6: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_recoilphi7: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_recoilpt10: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_recoilpt20: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_recoilpt30: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_uparalt0_lumi02: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_uparalt0_lumi24: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_uparalt0_lumi46: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_uparalt0_lumi6up: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_uparagt0_lumi02: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_uparagt0_lumi24: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_uparagt0_lumi46: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_uparagt0_lumi6up: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_ept3540: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_ept2530: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_ept3035: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_ept4045: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_ept4550: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_ept5060: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_ept6070: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt
qcdfile_run3_ept70up: qcdbackgroundfiles/bkgd_qcd_run2b3_all.txt


qcdfile_run4_all: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_lumi02: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_lumi24: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_lumi46: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_lumi6up: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_ept30: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_uparagt0: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_uparalt0: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_deteta02: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_deteta24: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_deteta46: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_deteta68: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_deteta8105: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_phimod5: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_phimod6: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_phimod75: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_phimod7: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_recoilphi0: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_recoilphi1: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_recoilphi2: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_recoilphi3: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_recoilphi4: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_recoilphi5: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_recoilphi6: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_recoilphi7: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_recoilpt10: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_recoilpt20: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_recoilpt30: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_uparalt0_lumi02: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_uparalt0_lumi24: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_uparalt0_lumi46: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_uparalt0_lumi6up: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_uparagt0_lumi02: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_uparagt0_lumi24: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_uparagt0_lumi46: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_uparagt0_lumi6up: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_ept3540: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_ept2530: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_ept3035: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_ept4045: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_ept4550: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_ept5060: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_ept6070: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
qcdfile_run4_ept70up: qcdbackgroundfiles/bkgd_qcd_run2b4_all.txt
